<div *ngIf="orders.length > 0" class="orders__container">
  <div *ngFor="let order of orders" class="order__container">
    <div class="order__left">
      <div class="order__image-container">
        <img [src]="order.imagePath" alt="order image" class="order__image" />
      </div>
      <div class="order__address">
        <div class="order__name">{{ order.name }}</div>
        <div class="order__shop-name">Shop Name: {{ order.shopName }}</div>
        <div class="order__shop-address">Address: {{ order.address }}</div>
      </div>
    </div>

    <div class="order__middle">
      <div class="order__time">
        <div class="order__order-date">
          Order Date: {{ order.purchaseTime | date: "short" }}
        </div>
        <div class="order__pickTime">
          Service Starts: {{ changeToLocal12Hours(order.pickupStartTime) }}
        </div>
        <div class="order__pickTime">
          Service Ends: {{ changeToLocal12Hours(order.pickupEndTime) }}
        </div>
      </div>
    </div>

    <div class="order__right">
      <div class="order__code">Service Code: {{ order.code }}</div>
      <div class="order__unit-price">
        Unit Price: {{ order.discountedPrice | currency }}
      </div>
      <div class="order__quantity">Quantiy: {{ order.quantity }}</div>
      <div class="order__total">
        Total: {{ order.quantity * order.discountedPrice | currency }}
      </div>
    </div>
  </div>
  <mat-paginator
    [length]="count"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10]"
    (page)="pageEvent = getServerData($event)"
  ></mat-paginator>
</div>
<div
  style="width: 100%; display:flex; justify-content: center;"
  *ngIf="orders.length == 0"
>
  <p>You don't have any orders yet.</p>
</div>
