.orders {
  &__container {
    width: 80%;
    margin: 1rem auto;
  }
}

.order {
  &__container {
    width: 100%;
    border: 1px solid #aaa;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0rem;
  }

  &__image {
    height: 7rem;
    max-width: 10rem;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__address {
    padding: 0.5rem 1rem;
  }

  &__name {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
  }

  &__shop-name {
    font-size: 1.2rem;
    font-weight: 400;
    color: #555;
  }

  &__shop-address {
    font-size: 1.2rem;
    font-weight: 400;
    color: #555;
  }

  &__pickTime {
    font-size: 1.2rem;
    font-weight: 400;
    color: #555;
  }

  &__order-date {
    font-size: 1.2rem;
    font-weight: 400;
    color: #555;
  }

  &__code {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }
}
