<div *ngIf="orders.length > 0" class="orders__container">
  <div
    *ngFor="let order of orders"
    class="product_order"
    [style.borderLeft]="
      order.orderStatus == 'ACTIVE'
        ? '3px solid green'
        : order.orderStatus == 'PENDING'
        ? '3px solid orange'
        : '3px solid red'
    "
  >
    <div class="images">
      <img [src]="order.imagePath" alt="order image" class="order__image" />
    </div>

    <div class="header">
      <div class="order__name">{{ order.name }}</div>
      <div class="order__shop-name name">
        Shop Name: {{ order.shopName }} , {{ order.address }},
        {{ order.companyPhoneNumber }}
      </div>
      <div class="order_dates">
        <div class="order__time">
          <span class="order_names">
            <span class="name">
              <b>Order Date :</b> {{ order.purchaseTime | date: "short" }}
            </span>
          </span>
          <span class="order_names">
            <b>Services </b>
            From: {{ order.pickupStartTime | date: "MMM d, h:mm:ss a" }}
            - To:
            {{ order.pickupEndTime | date: "MMM d, h:mm:ss a" }}
          </span>
          <span class="order_names">
            <b>Unit Price: </b> {{ order.discountedPrice | currency }}
          </span>
        </div>
        <div class="detail">
          <span class="order_names">
            <b>Quantity: </b> {{ order.quantity }}
          </span>
          <span class="order_names">
            <b>Status: </b> {{ order.orderStatus }}
          </span>
          <span class="order_names">
            <b>Pay Seller This Amount Plus any Tax: </b>
            {{ order.quantity * order.discountedPrice | currency }}
          </span>
        </div>
      </div>
    </div>
    <div class="order_service">
      Show Seller This Discount Code:
      <span class="order_service-code">
        {{ order.code }}
      </span>
    </div>
  </div>
  <mat-paginator
    [length]="count"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10]"
    (page)="getServerData($event)"
  >
  </mat-paginator>
</div>
<div class="no_result" *ngIf="orders.length == 0">
  <p>You don't have any orders yet.</p>
</div>
