.main-container {
  // margin: 2rem;
  width: 100%;
}

.title {
  font-size: 2rem;
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.table {
  &__container {
    width: 100%;
    overflow-x: auto;
  }

  &__sub-container {
    min-width: 70rem;
    padding: 1rem 0.5rem;
  }
}
