<div class="main-container">
  <h3 class="title">Users Registered With Code {{ registrationType }}</h3>
  <div *ngIf="dataSource && dataSource.length > 0">
    <mat-table class="mat-elevation-z8" [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>

        <mat-cell *matCellDef="let user">{{
          user.firstName + " " + user.lastName
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.phoneNumber }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="registrationType">
        <mat-header-cell *matHeaderCellDef>Registration Type</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.registrationType }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="signUpCredit">
        <mat-header-cell *matHeaderCellDef>Sign Up Credit</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.signUpCredit }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef>Created date</mat-header-cell>
        <mat-cell *matCellDef="let user">{{
          user.createdAt | date: "MM/dd/yyyy"
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>

        <mat-cell *matCellDef="let user">{{ getStatus(user.status) }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [length]="count"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 30, 50]"
      (page)="pageChange($event)"
    ></mat-paginator>
  </div>
  <div
    style="
      width: 100%;
      color: #555;
      font-size: 1.8rem;
      text-align: center;
      border: 1px solid #aaa;
      padding: 1rem;
    "
    *ngIf="dataSource && dataSource.length == 0"
  >
    No User Signups
  </div>
</div>
