<!-- works in Angular Material 7.0.0 as of late October 2018
<mat-toolbar class="mainC" color="accent">
  <a class="clickCard" routerLink="/">
    <span>
      MANAGER SPECIAL HOME
    </span>

  </a>
</mat-toolbar>

<mat-divider></mat-divider>
<mat-toolbar color="accent" class="navMargin">
  <mat-toolbar-row #toolbarRow>
    <a mat-button routerLink="./" [routerLinkActive]="['active-route']"
      [routerLinkActiveOptions]="{ exact: true }" #rla="routerLinkActive">
      Orders
    </a>
    <a mat-button routerLink="./deposit" [routerLinkActive]="['active-route']"
      [routerLinkActiveOptions]="{ exact: true }" #rla="routerLinkActive">
      Add Money
    </a>
    <a mat-button routerLink="./rfr" [routerLinkActive]="['active-route']"
      [routerLinkActiveOptions]="{ exact: true }" #rla="routerLinkActive">
      Referral
    </a>
    <a mat-button routerLink="./trnsctns" [routerLinkActive]="['active-route']"
      [routerLinkActiveOptions]="{ exact: true }" #rla="routerLinkActive">
      History
    </a>
    <span class="example-fill-remaining-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" (menuOpened)="menuOpened()">
        <button mat-menu-item >
            <mat-icon>account_box</mat-icon>
            <span>{{name}}</span>
          </button>
      <button mat-menu-item (click)="logout()" >
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar> -->

<header class="navigation">
  <div class="navigation__divider"></div>
  <div class="navigation__container">
    <div class="header_mobile">
      <div>
        <input
          #drawerCheckbox
          type="checkbox"
          class="header_mobile__menu_checkbox"
        />
        <div class="header_mobile__menu_button"></div>
        <div class="side_bar_mobile">
          <ul class="side_bar_mobile__list-container">
            <!-- <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: true }"
                class="side_bar_mobile__item-text"
                ><i class="far fa-chart-bar navigation__item-icon"></i>
                Orders
              </a>
            </li> -->
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: true }"
                class="side_bar_mobile__item-text"
                ><i class="far fa-envelope-open navigation__item-icon"></i
                >Order</a
              >
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./deposit"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="far fa-clone side_bar_mobile__item-icon"></i>Add
                Money</a
              >
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./rfr"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="far fa-map side_bar_mobile__item-icon"></i>Referral
              </a>
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./trnsctns"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="far fa-images side_bar_mobile__item-icon"></i>
                History</a
              >
            </li>
            <!-- <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./staffs"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="far fa-sun side_bar_mobile__item-icon"></i> Staff</a
              >
            </li> -->
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a (click)="logout()" class="side_bar_mobile__item-text">
                <i class="far fa-user side_bar_mobile__item-icon"></i>Log Out</a
              >
            </li>
          </ul>
        </div>
      </div>
      <img src="favicon.ico" alt="Logo" class="navigation__header-image" />
      <a class="navigation__header-text">Manager Special</a>
    </div>
    <div class="navigation__header-container">
      <img src="favicon.ico" alt="Logo" class="navigation__header-image" />
    </div>
    <ul class="navigation__sub-container">
      <!-- <li class="navigation__item svg-wrapper">
        <a
          routerLink="./"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navigation__item-text"
          ><i class="far fa-chart-bar navigation__item-icon"></i> Dashboard
        </a>
      </li> -->
      <li class="navigation__item">
        <a
          routerLink="./"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navigation__item-text"
          ><i class="far fa-envelope-open navigation__item-icon"></i>Order</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./deposit"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-clone navigation__item-icon"></i>Add Money</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./rfr"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-map navigation__item-icon"></i>Referral
        </a>
      </li>
      <li class="navigation__item">
        <a
          routerLink="./trnsctns"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-images navigation__item-icon"></i> History</a
        >
      </li>
      <!-- <li class="navigation__item">
        <a
          routerLink="./staffs"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-sun navigation__item-icon"></i> Staff</a
        >
      </li> -->
      <li class="navigation__item">
        <a (click)="logout()" class="navigation__item-text">
          <i class="far fa-user navigation__item-icon"></i>Log Out</a
        >
      </li>
    </ul>
  </div>
  <div class="navigation__divider navigation__divider-middle"></div>
  <div class="navigation__mobile-container">
    <ul class="navigation__mobile-sub-container">
      <li class="navigation__item">
        <a
          routerLink="./"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navigation__item-text"
          ><i class="far fa-envelope-open navigation__item-icon"></i>Order</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./deposit"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-clone navigation__item-icon"></i>Add Money</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./rfr"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-map navigation__item-icon"></i>Referral
        </a>
      </li>
    </ul>
  </div>
  <div class="navigation__divider navigation__divider-bottom"></div>
</header>
