<header class="navigation">
  <!-- <div class="navigation__divider"></div> -->
  <div class="navigation__container">
    <div class="header_mobile">
      <div>
        <input
          #drawerCheckbox
          type="checkbox"
          class="header_mobile__menu_checkbox"
        />
        <div class="header_mobile__menu_button"></div>
        <div class="side_bar_mobile">
          <ul class="side_bar_mobile__list-container">
            <!-- <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: true }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-chart-bar navigation__item-icon"></i>
                Orders
              </a>
            </li> -->
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: true }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-envelope-open navigation__item-icon"></i
                >Order</a
              >
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./deposit"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-clone side_bar_mobile__item-icon"></i>Add
                Money</a
              >
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./rfr"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-map side_bar_mobile__item-icon"></i>Referral
              </a>
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./trnsctns"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-images side_bar_mobile__item-icon"></i>
                History</a
              >
            </li>
            <!-- <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./staffs"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-sun side_bar_mobile__item-icon"></i> Staff</a
              >
            </li> -->
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                (click)="logout()"
                class="side_bar_mobile__item-text side_bar_mobile__logout"
              >
                <i class="fad fa-user side_bar_mobile__item-icon"></i>Log Out
                ({{ name }})</a
              >
            </li>
          </ul>
        </div>
      </div>
      <img
        routerLink="/"
        [routerLinkActive]="['active-routeas']"
        [routerLinkActiveOptions]="{ exact: false }"
        src="favicon.ico"
        alt="Logo"
        class="navigation__header-image"
      />
      <a routerLink="/" class="navigation__header-text">ManagerSpecial</a>
    </div>
    <div
      (click)="drawerLinkClicked()"
      routerLink="/"
      [routerLinkActive]="['active-routes']"
      [routerLinkActiveOptions]="{ exact: false }"
      class="navigation__header-container"
    >
      <div class="navigation__sub-header-container">
        <img
          routerLink="./"
          src="favicon.ico"
          alt="Logo"
          class="navigation__desktop-header-image"
        />
        <a routerLink="./" class="navigation__desktop-header-text"
          >ManagerSpecial</a
        >
      </div>
      <div>
        <span class="navigation__item">
          <a
            (click)="logout()"
            class="navigation__item-text navigation__logout"
          >
            <i class="fad fa-user navigation__item-icon"></i>SIGN OUT ({{
              name
            }})</a
          >
        </span>
      </div>
    </div>
    <ul class="navigation__sub-container">
      <!-- <li class="navigation__item svg-wrapper">
        <a
          routerLink="./"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navigation__item-text"
          ><i class="fad fa-chart-bar navigation__item-icon"></i> Dashboard
        </a>
      </li> -->
      <li class="navigation__item">
        <a
          routerLink="./"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navigation__item-text"
          ><i class="fad fa-envelope-open navigation__item-icon"></i>Order</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./deposit"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="fad fa-clone navigation__item-icon"></i>Add Money</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./rfr"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="fad fa-map navigation__item-icon"></i>Referrals
        </a>
      </li>
      <li class="navigation__item">
        <a
          routerLink="./trnsctns"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="fad fa-images navigation__item-icon"></i> History</a
        >
      </li>
      <!-- <li class="navigation__item">
        <a
          routerLink="./staffs"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="fad fa-sun navigation__item-icon"></i> Staff</a
        >
      </li> -->
      <!-- <li class="navigation__item">
        <a (click)="logout()" class="navigation__item-text navigation__logout">
          <i class="fad fa-user navigation__item-icon"></i>Log Out ({{
            name
          }})</a
        >
      </li> -->
    </ul>
  </div>
  <div class="navigation__divider navigation__divider-middle"></div>
  <div class="navigation__mobile-container">
    <ul class="navigation__mobile-sub-container">
      <li class="navigation__item">
        <a
          routerLink="./"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navigation__item-text"
          ><i class="fad fa-envelope-open navigation__item-icon"></i>Order</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./deposit"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="fad fa-clone navigation__item-icon"></i>Add Money</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./rfr"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="fad fa-map navigation__item-icon"></i>Referrals
        </a>
      </li>
    </ul>
  </div>
  <div class="navigation__divider navigation__divider-bottom"></div>
</header>
