<div class="contanier">
  <!-- <div class="header">
    <mat-toolbar class="mainC" color="accent">
      <a class="clickCard" routerLink="/">
        <span>
          MANAGERSPECIAL
        </span>
      </a>
    </mat-toolbar>
  </div> -->

  <div class="card">
    <mat-tab-group class="card__tab" [selectedIndex]="selectedIndex">
      <mat-tab label="LOG IN">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="login-container">
            <div *ngIf="showError" class="errorCntr">
              <button class="errClsBtn" (click)="close()">
                &#215;
              </button>
              <ul>
                <li *ngFor="let error of errors">
                  {{ error }}
                </li>
              </ul>
            </div>
            <div>
              <mat-form-field class="example-full-width-login">
                <input
                  class="input"
                  matInput
                  minlength="3"
                  type="email"
                  placeholder="Enter your email or username"
                  formControlName="email"
                  required
                />
                <mat-error *ngIf="loginForm.controls.email.invalid"
                  >Username or email not valid.</mat-error
                >
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="example-full-width-login">
                <input
                  class="input"
                  matInput
                  placeholder="Enter your password"
                  formControlName="password"
                  [type]="hide ? 'password' : 'text'"
                  required
                />
                <span
                  (click)="hide = !hide"
                  style="
                    position: absolute;
                    right: 0;
                    font-size: 2rem;
                    z-index: 100;
                  "
                >
                  <i *ngIf="hide" class="fad fa-eye-slash"></i>
                  <i *ngIf="!hide" class="fad fa-eye"></i>
                </span>
              </mat-form-field>
            </div>

            <div class="form__group__pass" style="margin-bottom: 1.5rem;">
              <mat-hint id="frgtpswrd">
                <a class="forgot-password" routerLink="/rstpwrd">
                  Forgot Password?
                </a></mat-hint
              >
            </div>

            <!-- <div class="form__group__agreed">
              <p id="trmsprvsid">
                I have read and agreed to ManagerSpecial's
                <a target="_blank" routerLink="/privacy">Privacy Statement.</a>
                and
                <a target="_blank" routerLink="/buyer_terms">
                  Buyer's Terms of Use</a
                >
                or
                <a target="_blank" routerLink="/seller_terms">
                  Seller's Terms of Use</a
                >, whichever applies and any additions and amendments whereof.
              </p>
            </div> -->
            <div class="form__group__submit">
              <!-- <button
                type="submit"
                mat-raised-button
                class="msp-button example-full-width-login"
                color="accent"
              >
                LOG IN
              </button> -->
              <auth-custom-submit
                class="msp-button example-full-width-login"
                [loading]="loading"
                text="Log In"
              ></auth-custom-submit>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="NEW BUYER SIGN UP" *ngIf="showBuyer">
        <app-register-buyer
          (registeredByr)="setSelectedIndexBuyer()"
        ></app-register-buyer>
      </mat-tab>
      <mat-tab label="NEW SELLER SIGN UP" *ngIf="showSeller">
        <app-register-seller
          (registeredSlr)="setSelectedIndexSeller()"
        ></app-register-seller>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!-- <div class="footer">
    <p class="pat">
      ManagerSpecial Copyright 2018. All Rights reserved. Worldwide Patent
      Pending 2018. A business unit of Live Inc.&nbsp;&nbsp;&nbsp;&nbsp;V{{
        version
      }}
    </p>
  </div> -->
</div>
