example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 126px;
  padding: 66px;
  border-radius: 8px;
}

.push {
  margin-left: auto;
  text-align: end;
}
.errorMessage {
  width: 150px;
}
.example-container > * {
  width: 100%;
}
.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
ul {
  list-style: none;
  padding-left: 0px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
#errorCntr {
  width: 80%;
  border: 2px solid red;
  padding: 15px 15px 15px 15px;
  margin: 20px 20px 20px 20px;
  background: #a4d3ee;
  overflow: visible;
  position: relative;
}

#errClsBtn {
  position: absolute;
  background: red;
  color: white;
  top: -10px;
  right: -10px;
}
ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}
.pat {
  color: gray;
}
#trmsprvsid {
  color: gray;
  font-size: 14px;
}
#trmsprvsid > a {
  text-decoration: underline;
  color: blue;
  font-size: 14px;
}
#frgtpswrd > a {
  text-decoration: none;
  color: blue;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 16px;
}
.btn {
  background-color: gray;
}

.custom_tab {
  border: 1px solid red;
}
