
.errorCntr {
  width: 90%;
  border: 1px solid rgba(253, 89, 89, 0.74);
  padding: 1.2rem;
  margin: 2rem;
  background: #a4d3ee;
  overflow: visible;
  position: relative;
  border-radius: 1rem;
}

.errClsBtn {
  position: absolute;
  background: red;
  color: white;
  top: -10px;
  right: -10px;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 1px solid #fff;
  font-size: 1.3rem;
}
.errorCnt {
  width: 100%;
  border: 2px solid red;
}
.spaceTrms {
  color: rgb(0, 147, 234);
}
span:hover {
  text-decoration: underline;
}
.example-container > * {
  width: 100%;
  margin-left: 5px;
  margin-left: 5px;
}
.example-full-width {
  width: 100%;
}
.example-full-width2 {
  width: 80%;
}
.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.form {
  width: 95%;
}

::ng-deep .mat-checkbox-label {
  display: flex;
  flex-wrap: wrap;
}

::ng-deep .mat-form-field-subscript-wrapper {
  font-size: 60%;
}

.code {
  &__input {
    // width: 50% !important;
  }

  &__toggle {
    font-size: 1.6rem;
    font-weight: 400;
    color: #666;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 732px) {
  ::ng-deep .mat-form-field-subscript-wrapper {
    font-size: 55%;
  }
}
@media only screen and (max-width: 450px) {
  ::ng-deep .mat-form-field-subscript-wrapper {
    font-size: 45% !important;
  }
}
