<div *ngIf="showError" class="errorCntr">
  <button class="errClsBtn" (click)="close()">&#215;</button>
  <ul>
    <li style="text-align: center" *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</div>

<form
  class="form"
  style="position: relative"
  [formGroup]="registrationForm"
  (ngSubmit)="onSubmit()"
>
  <div class="example-container">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" hintLabel="min 2 characters">
            <input
              matInput
              placeholder="First Name"
              minlength="2"
              maxlength="20"
              formControlName="firstName"
              required
            />
            <mat-error *ngIf="registrationForm.controls.firstName.invalid"
              >No more than 20 characters.</mat-error
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" hintLabel="min 2 characters">
            <input
              matInput
              placeholder="Last Name"
              minlength="2"
              maxlength="20"
              formControlName="lastName"
              required
            />
            <mat-error *ngIf="registrationForm.controls.lastName.invalid"
              >No more than 20 characters.</mat-error
            >
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-form-field class="example-full-width">
      <mat-label>Phone Number</mat-label>
      <span style="color: #555" matPrefix>+1&nbsp;</span>
      <input
        type="text"
        matInput
        placeholder="000-000-0000"
        required
        maxlength="14"
        formControlName="phoneNumber"
        (paste)="preventPaste($event)"
        (change)="phoneNumberChangeEvent($event)"
      />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your email" formControlName="email" required />
      <mat-error *ngIf="registrationForm.controls.email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <div class="buyer__address">
      <mat-form-field class="buyer__input zipstatecity">
        <input
          matInput
          type="tel"
          placeholder="Zip / Postal Code"
          matInput
          [matAutocomplete]="auto"
          formControlName="zipcode"
          (keydown)="checkInput($event)"
          (change)="registrationForm.controls['zipcode'].setValue($event.target.value)"
          minlength="5"
          maxlength="5"
          required
        />
        <mat-error *ngIf="registrationForm.controls.zipcode.invalid"
          >Zip code is not valid</mat-error
        >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let result of zipCodeHints"
            [value]="result.ZIPCode"
            (click)="zipCodeSelected(result)"
          >
            <span>{{ result.ZIPCode }}</span>
            <small> | {{ result.CountyName }} {{ result.CityName }} {{ result.StateAbbr }}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field
        *ngIf="registrationForm.get('city').value || !registrationForm.get('city').pristine"
        class="buyer__input zipstatecity"
      >
        <input matInput placeholder="City" formControlName="city" required />
      </mat-form-field>
      <mat-form-field
        *ngIf="registrationForm.get('state').value || !registrationForm.get('state').pristine"
        class="buyer__input zipstatecity"
      >
        <input matInput placeholder="State" formControlName="state" required />
      </mat-form-field>
      <!-- <mat-form-field class="buyer__input zipstatecity">
        <mat-select
          placeholder="State"
          formControlName="state"
          required
          disabled
        >
          <mat-option *ngFor="let state of states" [value]="state.name">
            {{ state.name }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
    <mat-form-field hintLabel="At least six characters, 1 number, 1 lowercase, and 1 uppercase">
      <input
        matInput
        placeholder="Enter your password"
        minlength="6"
        maxlength="20"
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <mat-error *ngIf="registrationForm.controls.password.invalid">
        At least six characters, 1 number, 1 lowercase, and 1 uppercase
      </mat-error>
      <span
        (click)="hide = !hide"
        style="position: absolute; right: 0; font-size: 2rem; z-index: 100"
      >
        <i *ngIf="hide" class="fad fa-eye-slash"></i>
        <i *ngIf="!hide" class="fad fa-eye"></i>
      </span>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Confirm your password"
        minlength="6"
        maxlength="20"
        formControlName="confirmPassword"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <!-- <mat-error *ngIf="registrationForm.controls.password.invalid"
        >Invalid password</mat-error
      > -->
      <span
        (click)="hide = !hide"
        style="position: absolute; right: 0; font-size: 2rem; z-index: 100"
      >
        <i *ngIf="hide" class="fad fa-eye-slash"></i>
        <i *ngIf="!hide" class="fad fa-eye"></i>
      </span>
    </mat-form-field>
    <div style="width: 100%; display: flex; justify-content: center; margin: 0.5rem">
      <mat-slide-toggle (change)="changeWidthCodeStatus($event)" class="code__toggle"
        >I have a bonus credit code</mat-slide-toggle
      >
    </div>
    <mat-form-field *ngIf="withCode">
      <input
        matInput
        placeholder="Enter Code"
        minlength="5"
        maxlength="5"
        formControlName="code"
        (change)="capitalize('code')"
        type="text"
        class="code__input"
      />
    </mat-form-field>
    <br />

    <mat-checkbox style="color: gray; font-size: 16px" matInput formControlName="agreed"
      >I have read and agreed to the &nbsp;<a target="_blank" routerLink="/buyer_terms">
        Buyer's Terms of Use</a
      >&nbsp;and &nbsp;
      <a target="_blank" routerLink="/privacy"> Privacy Statement.</a></mat-checkbox
    >
    <br />
    <br />

    <auth-custom-submit
      [styleObject]="submitBtnStyle"
      class="msp-button example-full-width2"
      [loading]="loading"
      text="Sign Up"
    ></auth-custom-submit>
  </div>
</form>
