.product-detail {
  &__container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 1rem auto;
    max-width: 100%;
    overflow: hidden;
  }

  &__top {
    min-height: 30rem;
    width: 100%;
    margin: 1rem 0rem;
  }

  &__middle {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0rem;

    &-left {
      width: 60%;
    }

    &-right {
      width: 40%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }
  }

  &__bottom {
    width: 100%;
    margin: 1rem 0rem;
  }
  &__bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
  }

  &__image-container {
    width: 100%;
    position: relative;
    height: 50vh;
  }

  &__image {
    width: 100%;
    // max-height: 40rem;
    height: 100%;
    object-fit: cover;
  }

  &__image-overlay {
    padding-left: 15%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0px;
    width: 90%;
    background-color: #ff3c819e;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
  }

  &__product-name {
    display: flex;
    align-items: center;
  }

  &__name-text {
    font-size: 2.3rem;
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
    text-transform: capitalize;
  }

  &__list-icon {
    font-size: 1.8rem;
    color: #fff;
    margin-right: 1rem;
  }

  &__time-icon {
    font-size: 1.2rem;
    margin-right: 1rem;
  }

  &__reserve-order {
    color: #fff;
    margin: 1rem 0rem;
  }

  &__reserve-order-text {
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__reserve-order-time {
    margin-left: 2rem;
    display: flex;
    // flex-direction: column;
  }

  &__reserve-order-time-text {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__reserve-order-spec {
    margin: 0.2rem 0.5rem;
  }

  &__shop {
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
  }

  &__shop-name {
    font-size: 1.6rem;
    color: #555;
    text-transform: capitalize;
  }

  &__address-name {
    font-size: 1.6rem;
    color: #555;
  }

  &__address-icon {
    font-size: 1.6rem;
    width: 2rem;
    margin-right: 0.5rem;
    color: #555;
  }

  &__description-text {
    font-size: 1.8rem;
    color: #333;
  }

  &__middle-container {
    display: flex;
  }

  &__normal-price {
    font-size: 1.6rem;
    color: #888;
    text-decoration: line-through;
  }

  &__discountPrice {
    font-size: 2rem;
    color: #ff3c81;
  }

  &__button {
    border-radius: 0rem;
    margin: 0rem 1rem;
    padding: 0 1rem;
  }
  // &__description {
  //   padding: 1rem;
  // }

  &__input {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    color: #555;
    border: 1px solid #888;
    background-color: #fff;
  }

  &__input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__input-label {
    font-size: 1.8rem;
    color: #555;
    margin-right: 1rem;
  }

  &__total {
    font-size: 1.6rem;
    color: #333;
    margin-left: 2rem;
  }

  &__rating {
    display: flex;
    color: #ff3c81;
  }

  &__rating-icon {
    width: 2rem;
    height: 2rem;
  }

  &__greyStar {
    color: gray;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
.reserve_time {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 700px) {
  .product-detail {
    &__container {
      width: 80%;
    }

    &__image-overlay {
      width: 60%;
    }

    &__image-container {
      height: 70vh;
    }

    &__button {
      padding: 0rem 3rem;
    }

    &__input-container {
      flex-direction: row;
    }

    &__name-text {
      font-size: 2.3rem;
    }

    &__list-icon {
      font-size: 1.8rem;
    }

    &__time-icon {
      font-size: 1.2rem;
    }

    &__reserve-order-text {
      font-size: 1.8rem;
    }

    &__reserve-order-time-text {
      font-size: 1.2rem;
    }

    &__shop-name {
      font-size: 1.3rem;
    }

    &__address-name {
      font-size: 1.3rem;
    }

    &__address-icon {
      font-size: 1.2rem;
    }

    &__description-text {
      font-size: 1.5rem;
    }
  }
}
