<div class="product-detail__container">
  <div class="product-detail__top">
    <div class="product-detail__image-container">
      <img [src]="product?.imagePath" alt="" class="product-detail__image" />

      <div class="product-detail__image-overlay">
        <div class="product-detail__product-name">
          <!-- <i class="fad fa-chevron-right product-detail__list-icon"></i> -->
          <h3 class="product-detail__name-text">{{ product?.name }}</h3>
        </div>
        <div class="product-detail__reserve-order">
          <div class="reserve_time">
            <i class="fad fa-chevron-right product-detail__list-icon"></i>
            <h5 class="product-detail__reserve-order-text">Reserve Order</h5>
          </div>

          <div class="product-detail__reserve-order-time">
            <h6 class="product-detail__reserve-order-spec">
              <i class="fad fa-clock product-detail__time-icon"></i>
              <span class="product-detail__reserve-order-time-text"
                >From - {{ product?.offerStartTime }}
                {{
                  resolvedOfferDays[0] == 1
                    ? "d+1"
                    : resolvedOfferDays[0] == -1
                    ? "d-1"
                    : ""
                }}</span
              >
            </h6>
            <h6 class="product-detail__reserve-order-spec">
              <i class="fad fa-clock product-detail__time-icon"></i>
              <span class="product-detail__reserve-order-time-text"
                >To - {{ product?.offerEndTime }}
                {{
                  resolvedOfferDays[1] == 1
                    ? "d+1"
                    : resolvedOfferDays[1] == -1
                    ? "d-1"
                    : ""
                }}</span
              >
            </h6>
          </div>
        </div>
        <div class="product-detail__reserve-order">
          <div class="reserve_time">
            <i class="fad fa-chevron-right product-detail__list-icon"></i>
            <h5 class="product-detail__reserve-order-text">Service Time</h5>
          </div>

          <div class="product-detail__reserve-order-time">
            <h6 class="product-detail__reserve-order-spec">
              <i class="fad fa-clock product-detail__time-icon"></i>
              <span class="product-detail__reserve-order-time-text"
                >From - {{ product?.pickupStartTime }}
                {{
                  resolvedPickupDays[0] == 1
                    ? "d+1"
                    : resolvedPickupDays[0] == -1
                    ? "d-1"
                    : ""
                }}</span
              >
            </h6>
            <h6 class="product-detail__reserve-order-spec">
              <i class="fad fa-clock product-detail__time-icon"></i>
              <span class="product-detail__reserve-order-time-text"
                >To - {{ product?.pickupEndTime }}
                {{
                  resolvedPickupDays[1] == 1
                    ? "d+1"
                    : resolvedPickupDays[1] == -1
                    ? "d-1"
                    : ""
                }}</span
              >
            </h6>
          </div>
        </div>
        <div class="product-detail__reserve-order">
          <div class="reserve_time">
            <i class="fad fa-chevron-right product-detail__list-icon"></i>
            <h5 class="product-detail__reserve-order-text">
              {{ product?.currentQuantity }}
              {{ product?.currentQuantity > 1 ? "Items" : "Item" }} Remaining
            </h5>
          </div>
          <div class="product-detail__reserve-order-time"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-detail__middle">
    <div class="product-detail__description">
      <p class="product-detail__description-text">
        {{ product?.description }}
      </p>
    </div>
    <div class="product-detail__middle-container">
      <div class="product-detail__middle-left">
        <div class="product-detail__shop">
          <i class="fad fa-store-alt product-detail__address-icon"></i>
          <h5 class="product-detail__shop-name">{{ product?.shopName }}</h5>
        </div>
        <div class="product-detail__shop">
          <i class="fad fa-map-marker-alt product-detail__address-icon"></i>
          <h5 class="product-detail__address-name">
            {{ product?.shopAddress }}, {{ product?.shopCity }}
          </h5>
        </div>
        <div class="product-detail__shop">
          <i class="fad fa-phone product-detail__address-icon"></i>
          <h5 class="product-detail__address-name">
            {{ product?.companyPhoneNumber }}
          </h5>
        </div>
      </div>
      <div class="product-detail__middle-right">
        <div class="product-detail__price">
          <span class="product-detail__normal-price">{{
            product?.normalPrice | currency
          }}</span>
          <span class="product-detail__discountPrice">{{
            product?.discountPrice | currency
          }}</span>
        </div>
        <div class="product-detail__rating">
          <i class="fad fa-star product-detail__time-icon"></i>
          <i class="fad fa-star product-detail__time-icon"></i>
          <i class="fad fa-star product-detail__time-icon"></i>
          <i class="fad fa-star product-detail__time-icon"></i>
          <i class="fad fa-star-half product-detail__time-icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="product-detail__bottom" [formGroup]="buyForm">
    <div class="product-detail__bottom-1">
      <div class="product-detail__bottom-container">
        <div class="product-detail__input-container">
          <label for="quantity" class="product-detail__input-label"
            >Reserve Quantity</label
          >
          <input
            id="quantity"
            class="product-detail__input"
            type="number"
            formControlName="quantity"
            value="1"
            min="1"
            [max]="product?.currentQuantity"
          />
        </div>
      </div>
      <div class="user-request">
        <div class="user-request__takeout">
          <img
            (click)="toggleCheckbox()"
            src="assets/image/take_out.jpg"
            alt=""
            class="user-request__img"
          />
          <mat-checkbox
            name="takeOut"
            formControlName="takeOut"
            style="width: 2.5rem; height: 2.5rem;"
          >
          </mat-checkbox>
        </div>
        <div
          *ngIf="buyForm.controls['takeOut'].value"
          class="user-request__inputs"
        >
          <div class="user-request__input">
            <mat-form-field class="user-request__input-req">
              <mat-label>Note for seller</mat-label>
              <textarea
                formControlName="specialRequirements"
                matInput
                placeholder="Note for seller"
                maxlength="166"
                type="text"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="user-request__input">
            <div class="user-request__label" fxFlexAlign="center">
              Picking Up At:
            </div>
            <mat-form-field class="user-request__input-1">
              <mat-select matInput formControlName="pickupHH" placeholder="HH">
                <mat-option *ngFor="let hh of hhlst" [value]="hh">
                  {{ hh }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div fxFlexAlign="center">:</div>
            <mat-form-field class="user-request__input-1">
              <mat-select matInput formControlName="pickupMM" placeholder="MM">
                <mat-option *ngFor="let min of hhmm" [value]="min">
                  {{ min }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="user__input">
            <div
              style="
                font-size: 1.3rem;
                color: #333;
                padding: 0rem 1rem;
                max-width: 35rem;
                text-align: center;
                margin-top: -2rem;
              "
            >
              Allowed Pick Up Time:
              <strong
                >{{ validPickUpStartTime }}
                {{
                  startTimeUpdated
                    ? ""
                    : resolvedPickupDays[0] == 1
                    ? "d+1"
                    : resolvedPickupDays[0] == -1
                    ? "d-1"
                    : ""
                }}</strong
              >
              -
              <strong
                >{{ validPickUpEndTime }}
                {{
                  resolvedPickupDays[1] == 1
                    ? "d+1"
                    : resolvedPickupDays[1] == -1
                    ? "d-1"
                    : ""
                }}</strong
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-detail__bottom-container">
      <button
        mat-flat-button
        color="accent"
        class="product-detail__button"
        (click)="addToCart()"
      >
        <i class="fad fa-cart-plus product-detail__icon"></i>
        <span>Add To Reservation</span>
      </button>
      <button
        mat-flat-button
        color="accent"
        class="product-detail__button"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>

<app-custom-notification
  [show]="showErrorNotification"
  type="error"
  [text]="errorMessage"
  (showNotifications)="showNotification($event)"
>
</app-custom-notification>
