<div class="product-detail__container">
  <div class="product-detail__top">
    <div class="product-detail__image-container">
      <img [src]="product?.imagePath" alt="" class="product-detail__image" />

      <div class="product-detail__image-overlay">
        <div class="product-detail__product-name">
          <!-- <i class="fas fa-chevron-right product-detail__list-icon"></i> -->
          <h3 class="product-detail__name-text">{{ product?.name }}</h3>
        </div>
        <div class="product-detail__reserve-order">
          <div class="reserve_time">
            <i class="fas fa-chevron-right product-detail__list-icon"></i>
            <h5 class="product-detail__reserve-order-text">Reserve Order</h5>
          </div>

          <div class="product-detail__reserve-order-time">
            <h6 class="product-detail__reserve-order-spec">
              <i class="far fa-clock product-detail__time-icon"></i>
              <span class="product-detail__reserve-order-time-text"
                >From - {{ product?.offerStartTime }}</span
              >
            </h6>
            <h6 class="product-detail__reserve-order-spec">
              <i class="far fa-clock product-detail__time-icon"></i>
              <span class="product-detail__reserve-order-time-text"
                >To - {{ product?.offerEndTime }}</span
              >
            </h6>
          </div>
        </div>
        <div class="product-detail__reserve-order">
          <div class="reserve_time">
            <i class="fas fa-chevron-right product-detail__list-icon"></i>
            <h5 class="product-detail__reserve-order-text">Service Time</h5>
          </div>

          <div class="product-detail__reserve-order-time">
            <h6 class="product-detail__reserve-order-spec">
              <i class="far fa-clock product-detail__time-icon"></i>
              <span class="product-detail__reserve-order-time-text"
                >From - {{ product?.pickupStartTime }}</span
              >
            </h6>
            <h6 class="product-detail__reserve-order-spec">
              <i class="far fa-clock product-detail__time-icon"></i>
              <span class="product-detail__reserve-order-time-text"
                >To - {{ product?.pickupEndTime }}</span
              >
            </h6>
          </div>
        </div>
        <div class="product-detail__reserve-order">
          <div class="reserve_time">
            <i class="fas fa-chevron-right product-detail__list-icon"></i>
            <h5 class="product-detail__reserve-order-text">
              {{ product?.currentQuantity }} Item Remaining
            </h5>
          </div>
          <div class="product-detail__reserve-order-time"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-detail__middle">
    <div class="product-detail__description">
      <p class="product-detail__description-text">
        {{ product?.description }}
      </p>
    </div>
    <div class="product-detail__middle-container">
      <div class="product-detail__middle-left">
        <div class="product-detail__shop">
          <i class="fas fa-store-alt product-detail__address-icon"></i>
          <h5 class="product-detail__shop-name">{{ product?.shopName }}</h5>
        </div>
        <div class="product-detail__shop">
          <i class="fas fa-map-marker-alt product-detail__address-icon"></i>
          <h5 class="product-detail__address-name">
            {{ product?.shopAddress }}, {{ product?.shopCity }}
          </h5>
        </div>
      </div>
      <div class="product-detail__middle-right">
        <div class="product-detail__price">
          <span class="product-detail__normal-price">{{
            product?.normalPrice | currency
          }}</span>
          <span class="product-detail__discountPrice">{{
            product?.discountPrice | currency
          }}</span>
        </div>
        <div class="product-detail__rating">
          <i class="material-icons product-detail__rating-icon">star_rate</i>
          <i class="material-icons product-detail__rating-icon">star_rate</i>
          <i class="material-icons product-detail__rating-icon">star_rate</i>
          <i class="material-icons product-detail__rating-icon">star_rate</i>
          <i
            class="material-icons product-detail__greyStar product-detail__rating-icon"
            >star_rate</i
          >
        </div>
      </div>
    </div>
  </div>
  <div class="product-detail__bottom">
    <div class="product-detail__bottom-container">
      <div [formGroup]="buyForm" class="product-detail__input-container">
        <label for="quantity" class="product-detail__input-label"
          >Reserve Quantity</label
        >
        <input
          id="quantity"
          class="product-detail__input"
          type="number"
          formControlName="quantity"
          value="1"
          min="1"
          [max]="product.quantity"
        />
      </div>
      <!-- <div class="product-detail__total">
        Total:
        {{ product?.discountPrice * buyForm.value["quantity"] | currency }}, pay
        seller directly at store
      </div> -->
    </div>
    <div class="product-detail__bottom-container">
      <button
        mat-flat-button
        color="accent"
        class="product-detail__button"
        (click)="addToCart()"
      >
        <mat-icon>shopping_cart</mat-icon> <span>Add To Reservation</span>
      </button>
      <button
        mat-flat-button
        color="accent"
        class="product-detail__button"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>

<app-custom-notification
  [show]="showErrorNotification"
  type="error"
  [text]="errorMessage"
>
</app-custom-notification>
