.tbl {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  min-height: 50px;
  border-bottom: 1px solid #aaa;
  padding: 1rem 0rem;
}

.header {
  color: #888;
  font-size: 1.3rem;
}
.cell {
  flex: 4;
  justify-content: center;
  display: flex;
  align-self: center;

  &:first-child {
    justify-content: flex-start;
  }
  // border: 1px solid red;
}
.cell:nth-child(1) {
  flex: 4;
}
.cell:nth-child(2) {
  flex: 5;
}
.row:first-child .cell {
  display: flex; /*  center horiz. */
  align-items: center; /*  center vert. */
}
.row .cell {
  padding: 5px;
  box-sizing: border-box;
}

.mobile_responsive {
  display: none;
}

.shopping-cart {
  &__container {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__sub-container {
    width: 100%;
  }

  &__header {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__checkout {
    border-radius: 0rem;
    margin: 0.6rem 1rem;
    padding: 0 3rem;
  }

  &__product {
    margin: 2rem 0rem;
  }

  &__actions {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__product-image {
    height: 9rem;
    max-width: 10rem;
  }

  &__product-title {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  &__product-description {
    font-size: 1.1rem;
    color: #555;
  }

  &__product-price,
  &__product-quantity,
  &__product-discount {
    font-size: 1.2rem;
    color: #555;
  }

  &__remove-product {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #f94081;
    cursor: pointer;
    &:active {
      transform: scale(0.98);
    }
  }

  &__product-line-price {
    font-size: 1.3rem;
    color: #333;
    font-weight: 400;
  }

  &__totals {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__totals-item {
    display: flex;
    margin: 1rem 0.5rem;

    label {
      font-size: 1.4rem;
      color: #555;
    }
  }

  &__totals-value {
    font-size: 2rem;
    color: #333;
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .tbl {
    display: none;
  }
  .mobile_responsive {
    display: flex;
  }

  .shopping-cart__actions{
    display: flex;
    flex-direction: column;
  }

  .mobile_responsive {
    .card {
      background: #f9f9f9;
      width: 100%;
      border: 1px #ddd solid;
      display: flex;
      justify-content: space-between;
      position: relative;
      &__action{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        right: 29%;
        padding:0 1rem;
        color: rgb(4, 92, 4);
        align-items: center;
      }
      &__remove{
        position: absolute;
        top: 0;
        right: 0;

      }
      &__product {
        display: flex;
        padding: 1rem 0.5rem;
        flex-direction: column;
        &-title {
          font-size: 2rem;
          color: #222;
          font-weight: 700;
        }

        &-body {
          display: flex;
          flex-direction: row;

          .items {
            display: flex;
            flex-direction: column;
            padding: 0 3%;
          }
        }
      }
      &__header {
        display: flex;
        flex: 1 0;
        justify-content: flex-end;
      }
    }
  }
}
