.img {
  max-width: 8rem;
  height: 4rem;
}
.mat-column-img {
  flex: 0 0 11rem;
}
.no_result{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #777;
  width: 97%;
  margin: 1rem;
  border:1px #ddd solid;
}
.course {
  text-align: center;
  max-width: 390px;
  margin: 0 auto;
}
.frmDiv {
  padding: 15px;
}
// .header-align-right{
//   display: flex;
//   padding: 21px 3rem;
//   justify-content: center;
// }
.course-thumbnail {
  width: 150px;
  margin: 20px auto 0 auto;
  display: block;
}

.addNewDiv {
  font-size: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 1rem;
}
.btnAddPrd {
  font-size: 12px;
  border-radius: 0rem;
  padding: 0rem 2rem;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.lessons-table {
  min-height: 360px;
  margin-top: 10px;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}
.clickCard {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#errorCntr {
  width: 80%;
  border: 2px solid red;
  padding: 15px 15px 15px 15px;
  margin: 20px 20px 20px 20px;
  background: #a4d3ee;
  overflow: visible;
  position: relative;
}

#errClsBtn {
  position: absolute;
  background: red;
  color: white;
  top: -10px;
  right: -10px;
}
ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}
.red-icon {
  fill: red;
}

.mat-column-remove{
  max-width: 7rem;
}
// .table {
//   width: 98%;
//   margin: 1rem;
// }

.products {
  &__container {
    width: 100%;
    overflow-x: auto;
  }

  &__sub-container {
    min-width: 70rem;
    padding: 1rem 0.5rem;
  }
}

// .mat-cell:last-of-type {
//   padding-right: 0px;
//   max-width: 5rem;
// }
