.content__container {
  margin-top: 8rem;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_mobile {
  width: 100%;
  display: flex;
  min-height: 7rem;
  border-bottom: 1px solid #ddd;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0.5rem 1rem;
  z-index: 500;
  background-color: #fff;
  position: fixed;
  top: -1px;
  border-bottom: 3px solid #8e6976;

  &__logo {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #aaa;
    margin-right: 1rem;
    padding-right: 1rem;
  }

  &__logo_text {
    font-size: 2.5rem;
    font-weight: 900;
    margin-left: 0.5rem;
    color: #f94081;
    cursor: pointer;

    text-decoration: none;

    &:active {
      text-decoration: none;
      color: #f94081;
    }
  }

  &__logo_icon {
    width: 3rem;
  }
}

.header__desktop {
  display: none;
  width: 100%;
  min-height: 5rem;
  border-bottom: 1px solid #ddd;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0.5rem 1rem;
  z-index: 500;
  background-color: #fff;
  position: fixed;
  top: 0px;
  border-bottom: 3px solid #8e6976;

  &__logo {
    align-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 1rem;
    border-right: 1px solid #aaa;
    cursor: pointer;
  }

  &__logo_text {
    font-size: 1.8rem;
    font-weight: 900;
    margin-left: 0.5rem;
    color: #f94081;
    text-decoration: none;
  }

  &__logo_icon {
    width: 2.5rem;
  }

  &__login-container {
    display: flex;
    justify-content: flex-end;
    border: 1.4px solid #b41b51;
    padding: 0.2rem 1rem;
    border-radius: 10rem;
    align-items: center;
    align-content: center;
    cursor: pointer;
    margin: 0 0.5rem;
    // box-shadow: 0.2px 0.1px 1px #7e7377;
  }

  &__login-button {
    border: none;
    outline: none;
    color: #f94081;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5rem;
    border: 1px solid #f94081;
    padding: 0.2rem 1rem;

    &:active {
      transform: scale(1.05);
    }
  }
}

.footer {
  &__container {
    width: 100%;
  }

  &__sub-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    background-color: #111;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__item {
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
  }

  &__item-text {
    font-size: 1.5rem;
    color: #ddd;
  }
}

.mat-progress-bar {
  position: fixed;
  top: 6.8rem;
  z-index: 1000;
  opacity: 1;
  height: 3px;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #f94081;
}

@media only screen and (min-width: 600px) {
  .header_mobile {
    // &__search-input-container {
    // }

    &__search-input {
      padding: 1rem;
      font-size: 1.5rem;
    }

    // &__search-button {
    // }
  }

  .footer {
    &__sub-container {
      flex-direction: row;
    }
    &__item {
      padding: 0rem;
    }

    &__item-text {
      font-size: 1.1rem;
    }
  }

  .mat-progress-bar {
    top: 7rem;
  }
}

@media only screen and (min-width: 900px) {
  .header_mobile {
    display: none;

    &__search-input-container {
      display: none;
    }
  }

  .header {
    margin-top: 0;
  }

  .header__desktop {
    display: flex;
  }

  .mat-progress-bar {
    top: 4.8rem;
  }
}
