<div class="main-container">
  <div class="header">
    <div class="header_mobile">
      <div class="header_mobile__logo">
        <a routerLink="/" class="header_mobile__logo_text">ManagerSpecial</a>
      </div>
      <!-- <div class="header_mobile__search-icon-container">
        <button routerLink="/login" class="header__desktop__login-button">
          LOG IN
        </button>
      </div> -->
    </div>

    <div class="header__desktop">
      <div class="header__desktop__logo">
        <a routerLink="/" class="header__desktop__logo_text">ManagerSpecial</a>
      </div>
      <!-- <div routerLink="/login" class="header__desktop__login-container">
        <button class="header__desktop__login-button">
          LOG IN
        </button>
      </div> -->
    </div>
  </div>
  <mat-progress-bar *ngIf="progressBarActive" mode="query"></mat-progress-bar>
  <div class="content__container">
    <router-outlet></router-outlet>
  </div>
  <div class="footer__container">
    <ul class="footer__sub-container">
      <li routerLink="/" class="footer__item">
        <span class="footer__item-text">Home</span>
      </li>
      <li routerLink="/privacy" class="footer__item">
        <span class="footer__item-text">Privacy Policy</span>
      </li>
      <li routerLink="/refund" class="footer__item">
        <span class="footer__item-text">Buyer Refund Policy</span>
      </li>
      <li class="footer__item">
        <p class="footer__item-text">
          ManagerSpecial Copyright {{ today }}. All Rights reserved. Worldwide
          Patent Pending {{ today }}. A business unit of Live Inc. {{ version }}
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="email-support__button-container">
  <!-- <a href="mailto:support@managerspecial.com" class="email-support__button"
    ><i class="fad fa-envelope"></i
  ></a> -->
  <a href="mailto:support@managerspecial.com"
    ><img
      src="assets/email_Circle_pink.png"
      class="email-support__button"
      alt=""
  /></a>
</div>
