<div *ngIf="showError" class="errorCntr">
  <button class="errClsBtn" (click)="close()">
    &#215;
  </button>
  <ul>
    <li *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</div>
<form class="upload-form__container" [formGroup]="uploadForm">
  <div class="upload-form__image-input">
    <div
      [class.hidden]="!uploadForm.value['img']"
      class="captureBrdr"
      fxFlexAlign="center"
    >
      <img id="localImage" src="" class="upload-form__image" />
    </div>
    <!-- <div><span>Keep picture size smaller. Max 1M.</span></div> -->
    <div>
      <span class="upload-form__text">Click hear to upload an image</span>
    </div>
    <div class="captureBrdr">
      <label for="file">
        <i class="fad fa-image-polaroid upload-form__icon"></i>
        <input
          type="file"
          id="file"
          (change)="fileChangeEvent($event)"
          accept="image/jpg,image/jpeg,image/gif,image/png"
          style="display: none;"
        />
      </label>
    </div>
  </div>

  <div fxLayout="column" class="frmDiv">
    <mat-form-field>
      <input
        type="text"
        placeholder="Name of Image"
        matInput
        accept="image/x-png,image/jpeg,image/jpg"
        [(ngModel)]="selectedImage"
        formControlName="name"
        required
        (change)="fileChangeEvent($event)"
        maxlength="30"
        minlength="2"
      />
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row nowrap" fxLayoutGap="10px" class="spaceDown">
      <div>
        <button
          (click)="onSubmit()"
          mat-flat-button
          color="accent"
          [disabled]="!(uploadForm.valid && fileSelected)"
        >
          Upload
        </button>
      </div>
      <div>
        <button
          type="button"
          mat-flat-button
          color="accent"
          (click)="gotoGallery()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>

<div class="image" *ngIf="imageChangedEvent" [class.hidden]="loadingLocalImage">
  <image-cropper
    class="image__cropper"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="550 / 440"
    [maintainAspectRatio]="false"
    [hideResizeSquares]="true"
    (imageCropped)="imageCropped($event)"
    (cropperReady)="imageLoad($event)"
  ></image-cropper>

  <div class="image__actions">
    <button
      (click)="saveImage()"
      class="mat-flat-button mat-accent image__submit"
    >
      Add Image
    </button>
    <button
      (click)="closeModal()"
      class="mat-flat-button mat-accent image__submit"
    >
      Cancel
    </button>
  </div>
</div>
<div *ngIf="loadingLocalImage" class="loader">
  <div class="loader__container">
    <div class="gooey">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="loader__text">Loading</div>
  </div>
</div>
