<div *ngIf="showError" class="errorCntr">
  <button class="errClsBtn" (click)="close()">
    &#215;
  </button>
  <ul>
    <li *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</div>
<form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field
            hintLabel="min 2 characters"
            class="example-full-width"
          >
            <input
              matInput
              #frName
              minlength="2"
              maxlength="20"
              placeholder="First Name"
              formControlName="firstName"
              required
            />
            <mat-error *ngIf="registrationForm.controls.firstName.invalid"
              >No more than 20 characters.</mat-error
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field
            hintLabel="min 2 characters"
            class="example-full-width"
          >
            <input
              matInput
              minlength="2"
              maxlength="20"
              placeholder="Last Name"
              formControlName="lastName"
              required
            />
            <mat-error *ngIf="registrationForm.controls.lastName.invalid"
              >No more than 20 characters.</mat-error
            >
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field hintLabel="max 32 characters">
      <input
        matInput
        placeholder="Company"
        maxlength="32"
        formControlName="companyName"
        required
      />
    </mat-form-field>
    <!-- <mat-form-field class="seller__categories seller__input">
      <mat-select
        placeholder="Select Restaurant Type"
        formControlName="subCategoryId"
        required
      >
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field class="example-full-width" hintLabel="max 20 numbers">
      <input
        type="tel"
        matInput
        pattern="^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$"
        placeholder="Telephone"
        maxlength="20"
        formControlName="phoneNumber"
        required
      />
    </mat-form-field>
    <mat-form-field hintLabel="max 120 characters">
      <input
        matInput
        placeholder="Address"
        maxlength="120"
        formControlName="address"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Website Address"
        maxlength="50"
        formControlName="websiteURL"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Enter your email"
        formControlName="email"
        required
      />
      <mat-error *ngIf="registrationForm.controls.email.invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <div class="seller__address">
      <mat-form-field class="seller__input zipstatecity">
        <input
          matInput
          maxlength="45"
          placeholder="City"
          formControlName="city"
          required
        />
      </mat-form-field>
      <mat-form-field class="seller__input zipstatecity">
        <input
          matInput
          type="text"
          placeholder="Zip / Postal Code"
          matInput
          [matAutocomplete]="auto"
          formControlName="zipcode"
          (change)="getlocations($event.target.value)"
          (keyup)="getlocations($event.target.value)"
          minlength="5"
          maxlength="5"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let result of zipCodeHints"
            [value]="result.ZIPCode"
            (click)="zipCodeSelected(result)"
          >
            <span>{{ result.ZIPCode }}</span>
            <small>
              | {{ result.CountyName }} {{ result.CityName }}
              {{ result.StateAbbr }}</small
            >
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field
        *ngIf="registrationForm.get('state').value"
        class="seller__input zipstatecity"
      >
        <input matInput placeholder="State" formControlName="state" readonly />
      </mat-form-field>
      <!-- <mat-form-field class="seller__input zipstatecity">
        <mat-select
          placeholder="State"
          formControlName="state"
          required
          disabled
        >
          <mat-option *ngFor="let state of states" [value]="state.name">
            {{ state.name }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
    <mat-form-field hintLabel="min 2 characters and max 12 characters">
      <input
        matInput
        placeholder="Enter your password"
        minlength="2"
        maxlength="12"
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <mat-error *ngIf="registrationForm.controls.password.invalid"
        >At least six characters,one number, one lowercase and one
        uppercase</mat-error
      >
      <span
        (click)="hide = !hide"
        style="position: absolute; right: 0; font-size: 2rem; z-index: 100;"
      >
        <i *ngIf="hide" class="fad fa-eye-slash"></i>
        <i *ngIf="!hide" class="fad fa-eye"></i>
      </span>
    </mat-form-field>
    <mat-form-field hintLabel="min 2 characters and max 12 characters">
      <input
        matInput
        placeholder="Confirm your password"
        minlength="2"
        maxlength="12"
        formControlName="confirmPassword"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <mat-error *ngIf="registrationForm.controls.password.invalid"
        >No more than 12 characters.</mat-error
      >
      <span
        (click)="hide = !hide"
        style="position: absolute; right: 0; font-size: 2rem; z-index: 100;"
      >
        <i *ngIf="hide" class="fad fa-eye-slash"></i>
        <i *ngIf="!hide" class="fad fa-eye"></i>
      </span>
    </mat-form-field>
    <br />
    <br />
    <div>
      <mat-checkbox formControlName="agreed"
        >I have read and agreed to the
        <a target="_blank" routerLink="/seller_terms"> Seller's Terms of Use</a
        ><br />
        and the
        <a target="_blank" routerLink="/privacy"
          >Privacy Statement.</a
        ></mat-checkbox
      >
    </div>
    <br />
    <br />

    <!-- <button type="submit" mat-raised-button color="accent" class="msp-button">
      Sign Up
    </button> -->

    <auth-custom-submit
      class="msp-button example-full-width"
      [loading]="loading"
      text="Sign Up"
    ></auth-custom-submit>
  </div>
</form>
