<div>
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="showError" id="errorCntr">
    <button id="errClsBtn" (click)="close()">
      X
    </button>
    <ul>
      <li *ngFor="let error of errors">
        {{ error }}
      </li>
    </ul>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" class="addNewDiv">
    <div>
      <button mat-raised-button color="accent" (click)="gotoAddNewShop()">
        Add New Store
      </button>
    </div>
  </div>

  <div class="shops__container">
    <div class="shops__sub-container">
      <mat-table
        class="mat-elevation-z8"
        [dataSource]="dataSource"
        matSort
        matSortActive="name"
        matSortDirection="asc"
        matSortDisableClear
      >
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Name</mat-header-cell
          >

          <mat-cell *matCellDef="let shop">{{ shop.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>

          <mat-cell *matCellDef="let shop">{{ shop.address }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="contact">
          <mat-header-cell *matHeaderCellDef>Contact</mat-header-cell>

          <mat-cell *matCellDef="let shop">{{ shop.contact }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>

          <mat-cell *matCellDef="let shop">{{ shop.phone }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ZipCode">
          <mat-header-cell *matHeaderCellDef>Zip Code</mat-header-cell>

          <mat-cell *matCellDef="let shop">{{ shop.zipCode }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="menu">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>

          <mat-cell *matCellDef="let shop"
            ><button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editProduct(shop)">
                <mat-icon color="accent">edit</mat-icon>
                <span>Edit</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
        [length]="dataSource.count"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10]"
      ></mat-paginator>
    </div>
  </div>
</div>
