<div>
  <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div> -->
  <div *ngIf="showError" class="errorCntr">
    <button class="errClsBtn" (click)="close()">
      &#215;
    </button>
    <ul>
      <li *ngFor="let error of errors">
        {{ error }}
      </li>
    </ul>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" class="addNewDiv">
    <div class="shops__header-container">
      <h2 class="shops__header">Stores</h2>
      <button mat-raised-button color="accent" (click)="gotoAddNewShop()">
        Add New Store
      </button>
    </div>
  </div>

  <div class="shops__container">
    <div class="shops__sub-container">
      <mat-table
        class="table mat-elevation-z2"
        [dataSource]="dataSource"
        matSort
        matSortActive="name"
        matSortDirection="asc"
        matSortDisableClear
      >
        <ng-container matColumnDef="name">
          <mat-header-cell class="header-align-right" *matHeaderCellDef
            >Name</mat-header-cell
          >

          <mat-cell *matCellDef="let shop">{{ shop.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
          <mat-header-cell class="header-align-right" *matHeaderCellDef
            >Address</mat-header-cell
          >

          <mat-cell *matCellDef="let shop">
            <span>
              {{ shop.address }}
            </span></mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="contact">
          <mat-header-cell class="header-align-right" *matHeaderCellDef
            >Contact</mat-header-cell
          >

          <mat-cell *matCellDef="let shop">{{ shop.contact }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
          <mat-header-cell class="header-align-right" *matHeaderCellDef
            >Phone</mat-header-cell
          >

          <mat-cell *matCellDef="let shop">{{ shop.phone }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ZipCode">
          <mat-header-cell class="header-align-right" *matHeaderCellDef
            >Zip Code</mat-header-cell
          >

          <mat-cell *matCellDef="let shop">{{ shop.zipCode }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="city">
          <mat-header-cell class="header-align-right" *matHeaderCellDef
            >City</mat-header-cell
          >

          <mat-cell *matCellDef="let shop">{{ shop.city }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
          <mat-header-cell class="header-align-right" *matHeaderCellDef
            >State</mat-header-cell
          >

          <mat-cell *matCellDef="let shop">{{ shop.state }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="menu" stickyEnd>
          <mat-header-cell *matHeaderCellDef></mat-header-cell>

          <mat-cell *matCellDef="let shop"
            ><button mat-icon-button [matMenuTriggerFor]="menu">
              <i class="fad fa-ellipsis-v table__icon"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editProduct(shop)">
                <i class="fad fa-edit table__icon"></i>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="removeShop(shop)">
                <i class="fad fa-trash-alt table__icon"></i>
                <span>Remove</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div *ngIf="dataSource.count == 0" class="no_result">
        No Shop Added yet!
      </div>
      <mat-paginator
        [length]="dataSource.count"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10]"
      ></mat-paginator>
    </div>
  </div>
</div>
