.btnPadd{
    padding-top: 10px;
}
#errorCntr {
    width: 80%;
    border: 2px solid red;
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    background: #A4D3EE;
    overflow: visible;
    position: relative;
  }
  
  #errClsBtn {
      position: absolute;
      background: red;
      color: white;
      top: -10px;
      right: -10px;
  }
  ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

.payment-form{
    display: flex;
    padding: 1rem;
    justify-content: center;
    // width: 100rem;
    &__header{
        color: #666;
        font-size: 1.5rem;
        padding-bottom:1rem;
    }
    &-content{
        padding-left: 1rem;
    }
    &-card{
        width: 80%;
        padding:2rem;
        border: 0.8px #eee solid;
    }
}