.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mat-dialog-content {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #333;
}

.mat-dialog-container {
  max-height: 16rem !important;
  height: 16rem;
}

.cdk-overlay-pane {
  max-height: 16rem !important;
  height: 16rem;
}
// .actions {
// }
