<div class="container">
  <mat-card class="balance">
    <div class="balance__icon">
      <i class="fad fa-dollar-sign table__icon-2" style="color: white;"></i>
    </div>
    <span class="balance__header">Balance = </span>
    <span class="balance__header__value"> {{ balance | currency }} </span>
  </mat-card>

  <h2 class="container__header">Transactions</h2>
  <mat-table
    class="table mat-elevation-z2"
    [dataSource]="dataSource"
    matSort
    matSortActive="date"
    matSortDirection="asc"
    matSortDisableClear
  >
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Trasaction Type</mat-header-cell>

      <mat-cell *matCellDef="let transaction">
        <span class="mobile-label">Type:</span> {{ transaction.type }}</mat-cell
      >
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>

      <mat-cell *matCellDef="let transaction">
        <span class="mobile-label">Date:</span
        >{{
          transaction.transactionDate | date: "MMM d y, h:mm:ss a"
        }}</mat-cell
      >
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>

      <mat-cell *matCellDef="let transaction">
        <span class="mobile-label">Amount:</span>
        {{ getAmount(transaction) | currency }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="name" stickyEnd>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>

      <mat-cell *matCellDef="let transaction">
        <span class="mobile-label">Detail:</span>
        <button class="hide" mat-icon-button [matMenuTriggerFor]="menu">
          <i class="fad fa-ellipsis-v table__icon"></i>
        </button>

        <div class="mobile-body" *ngIf="transaction.type == 'DEPOSIT'">
          <a [routerLink]="['../deposit', transaction.transactionId]"
            >View Detail</a
          >
        </div>
        <div
          class="mobile-body"
          *ngIf="transaction.type == 'ORDER' || transaction.type == 'REFUND'"
        >
          <a [routerLink]="['../trnsctns', transaction.transactionId]"
            >View Detail</a
          >
        </div>

        <mat-menu #menu="matMenu">
          <div *ngIf="transaction.type == 'DEPOSIT'">
            <button
              mat-menu-item
              [routerLink]="['../deposit', transaction.transactionId]"
            >
              <i class="fad fa-info-circle table__icon"></i>
              <span>View Detail</span>
            </button>
          </div>

          <div
            *ngIf="transaction.type == 'ORDER' || transaction.type == 'REFUND'"
          >
            <button
              mat-menu-item
              [routerLink]="['../trnsctns', transaction.transactionId]"
            >
              <i class="fad fa-info-circle table__icon"></i>
              <span>View Detail</span>
            </button>
          </div>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [length]="dataSource.count"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10]"
  ></mat-paginator>
</div>
