<div class="socialref__main-container">
  <div class="socialref__generate-code-container">
    <div style="display: flex; width: 100%; justify-content: flex-end;">
      <button
        mat-raised-button
        routerLink="./social_referral"
        mat-button
        color="accent"
      >
        Social Media Referrals List
      </button>
    </div>
    <p class="socialref__info-text">
      <strong>Social Media Referrals: </strong> Create a post or blog, ask your
      friends to join ManagerSpecial.com, ask them to enter your unique Bonus
      Credit Code when they sign up. They will each get ${{
        config.socialRefReferredCredit | number
      }}
      credit because of your referral, and you will get ${{
        config.socialRefReferrerCredit | number
      }}
      referral credit in your account for each new sign up from your social
      media mentions, such as FB, Twitter, Instagram, Snapchat or any social
      media you have. Generate a unique code below for you to use in your posts.
      We will use this unique code to add credits to your account accordingly.
    </p>
    <button
      (click)="generateCode()"
      mat-flat-button
      color="accent"
      class="socialref__generate-btn"
      [disabled]="buttonDisable"
    >
      Generate Bonus Code
    </button>
  </div>
  <h4 *ngIf="codes.length > 0" class="socialref__code-list-title">
    BONUS CREDIT CODE(S)
  </h4>
  <div class="socialref__code-list">
    <div *ngFor="let code of codes" class="socialref__code-container">
      <span class="socialref__code-text">{{ code.code }}</span
      ><span class="socialref__code-exp">{{
        getExpDate(code.createdAt)
          ? "Expires " + (getExpDate(code.createdAt) | date)
          : "Expired"
      }}</span>
    </div>
    <!-- <div *ngIf="codes.length == 0" class="socialref__code-list-empty">
      No Codes Yet
    </div> -->
    <!-- <div style="flex: 1;"></div> -->
  </div>
</div>
