<div class="profile__container">
  <h1 class="profile__header">Profile</h1>
  <div
    *ngIf="message"
    class="profile__display"
    style="padding: 0.5rem; text-align: center"
  >
    {{ message }}
  </div>
  <div *ngIf="!edit" class="profile__display">
    <h2 class="profile__company-name">
      {{ profile?.firstName + " " + profile?.lastName }}
    </h2>
    <div class="profile__create-date">
      <i class="fad fa-life-ring profile__icon"></i
      ><span>Registered: {{ profile?.createdAt | date }}</span>
    </div>

    <span (click)="toggleEdit()" class="profile__edit-button">Edit</span>
  </div>

  <div
    *ngIf="!edit_phoneNumber"
    class="profile__display"
    style="
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <div class="profile__address-phonenumber" style="margin: 0rem">
      <div class="profile__phonenumber" style="margin: 0">
        <i class="fad fa-phone-alt profile__icon"></i>
        <span>{{ phoneChangeFormat(profile?.phoneNumber, "form") }}</span>
      </div>
    </div>

    <div
      (click)="togglePhoneNumberEdit()"
      class="profile__edit-button"
      style="position: unset"
    >
      Edit Phone Number
    </div>
  </div>

  <div *ngIf="edit" class="profile__edit">
    <div *ngIf="showError" class="errorCntr">
      <button class="errClsBtn" (click)="close()">&#215;</button>
      <ul>
        <li *ngFor="let error of errors">
          {{ error }}
        </li>
      </ul>
    </div>
    <form
      [formGroup]="profileForm"
      class="add-shop__container"
      (ngSubmit)="onSubmit()"
    >
      <mat-card>
        <mat-card-title>Edit Your Profile</mat-card-title>
        <mat-card-content>
          <div fxLayout="column" class="frmDiv">
            <mat-form-field hintLabel="Min 2 characters">
              <input
                matInput
                minlength="2"
                placeholder="First Name"
                formControlName="firstName"
                required
                maxlength="100"
                [value]="profile?.firstName"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Last Name"
                formControlName="lastName"
                [value]="profile?.lastName"
                maxlength="120"
              />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="add-shop__actions">
            <button
              mat-flat-button
              color="accent"
              [disabled]="!profileForm.valid"
            >
              Save
            </button>
            <button mat-flat-button color="accent" (click)="toggleEdit()">
              Cancel
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
<app-custom-notification
  [show]="showSuccessNotification"
  type="success"
  [text]="successMessage"
>
</app-custom-notification>
