.home {
  width: 100%;
  // min-height: 100vh;
  margin-top: 5rem;

  &__section-one {
    width: 100%;
    height: 80vh;
    max-height: 60rem;
    background: linear-gradient(
        -90deg,
        rgba(116, 30, 60, 0.7),
        rgba(116, 30, 60, 0.7)
      ),
      url("../../../assets/image/home_background2.svg");
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    // color: rgb(249, 64, 129);
  }

  &__search-container {
    width: 90%;
    height: 33rem;
    margin-left: 0rem;
  }

  &__search-header {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    padding: 1rem 0rem;
  }

  &__search-input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    // border: 1px solid #eee;
    position: relative;
  }

  &__search-input {
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    border-bottom: 2px solid transparent;
    color: #888;
    caret-color: #888;
    width: 85%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    &:focus {
      border-bottom: 2px solid #f94081;
    }

    &::placeholder {
      color: #888;
    }
  }

  &__search-submit {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    align-self: stretch;
    border: none;
    background-color: #f94081;
    color: #fff;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  &__search-submit:active > .home__search-submit-icon {
    transform: scale(1.05);
  }

  &__search-input-results {
    position: absolute;
    display: none;
    top: 100%;
    left: -1px;
    // min-height: 8rem;
    background-color: #fff;
    width: calc(85% + 2px - 1rem);
    border: 1px solid #eee;
    border-top: none;
    margin-left: 1rem;
  }

  &__search-input:focus + .home__search-input-results,
  .home__search-input-results:active {
    display: block;
  }

  &__search-input-result {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.3rem;
    color: #333;

    &:not(:first-child) {
      border-top: 1px solid #ddd;
    }
    cursor: pointer;
    flex-direction: column;
    &:hover {
      background-color: #eee;
    }
  }

  &__search-input-result-icon {
    margin-right: 1rem;
    font-size: 1.5rem;
    color: lighten($color: #f94081, $amount: 10);
  }

  &__search-input-result-name {
    color: #333;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__search-input-county-state {
    font-weight: 200;
    color: #888;
    margin-left: 2rem;
  }

  &__section-two {
    min-height: 80vh;
    width: 100%;
    background-color: #fff;
    margin-top: -4rem;
    padding: 3.5rem 2rem;
  }

  &__section-three {
    width: 100%;
    min-height: 40vh;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 2rem;
  }

  &__section-four {
    min-height: 80vh;
    width: 100%;
    background-color: #fff;
    // margin-top: -4rem;
    padding: 3.5rem 2rem;
  }

  &__steps-container {
    display: flex;
    min-height: 60vh;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    flex-direction: column;
  }

  &__step {
    width: 100%;
    align-self: stretch;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__step-header {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #555;
  }

  &__step-description {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100;
    color: #888;
  }

  &__step-icon {
    font-size: 6rem;
    color: #f94081;
  }

  &__cities-container {
    align-self: stretch;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  &__secton-header {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #555;
  }

  &__city {
    padding: 1rem 2rem;
    width: 50%;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover,
    &:active {
      transform: translateX(10px);
    }

    &:active {
      color: #888;
    }
  }

  &__list-icon {
    font-size: 1.8rem;
    margin-right: 1rem;
    color: #f94081;
  }
}

@media only screen and (min-width: 450px) {
  .home {
    &__city {
      width: 33%;
    }
  }
}

@media only screen and (min-width: 600px) {
  .home {
    &__section-one {
      align-items: flex-end;
      max-height: none;
      justify-content: flex-start;
    }

    &__search-container {
      margin-left: 10rem;
      width: 50rem;
    }

    &__steps-container {
      flex-direction: row;
    }

    &__step {
      width: 33%;
    }

    &__city {
      width: 25%;
    }
  }
}
