<div class="home">
  <div class="home__section-one">
    <div class="home__search-container">
      <div class="home__search-header">
        25%-60% Off Restaurant Food Near You
      </div>
      <div action="#" mathod="GET" class="home__search-input-container">
        <input
          type="text"
          placeholder="Enter zip code to see products"
          class="home__search-input"
          (change)="getlocations($event.target.value)"
          (keyup)="getlocations($event.target.value)"
          [formControl]="searchInput"
        />
        <div class="home__search-input-results">
          <div class="home__search-input-result" (click)="getClientLocation()">
            <div>
              <!-- <i
                class="fas fa-map-marker-alt home__search-input-result-icon"
              ></i> -->
              <i
                class="fad fa-map-marker-alt home__search-input-result-icon"
              ></i>
              <span class="home__search-input-result-name"
                >Use Current Location</span
              >
            </div>
          </div>
          <div
            *ngFor="let address of addresses"
            class="home__search-input-result"
            (click)="addressChanged(address)"
          >
            <div>
              <!-- <i
                class="fas fa-map-marker-alt home__search-input-result-icon"
              ></i> -->
              <i
                class="fad fa-map-marker-alt home__search-input-result-icon"
              ></i>
              <span class="home__search-input-result-name">
                {{ address.CityName }}
              </span>
            </div>

            <div class="home__search-input-county-state">
              <span class="home__search-input-result-county"
                >{{ address.StateName }},
              </span>
              <span class="home__search-input-result-state">
                {{ address.ZIPCode }}
              </span>
            </div>
          </div>
        </div>
        <button
          (click)="getProducts()"
          class="home__search-submit"
          type="submit"
        >
          <!-- <i class="fad fa-hand-point-right home__search-submit-icon"></i> -->
          <i class="fad fa-search-location home__search-submit-icon"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="overlay" [class.active]="play">
    <div (click)="playVideo()" class="overlay__close">
      <i class="fad fa-times home__icon_cancel"></i>
    </div>
  </div>
  <div class="overlay" [class.active]="play2">
    <div (click)="playVideo2()" class="overlay__close">
      <i class="fad fa-times home__icon_cancel"></i>
    </div>
  </div>
  <div class="home__section-two">
    <h1 class="home__secton-header"></h1>
    <div class="home__steps-container">
      <div class="home__step">
        <div class="home__step-icon"><i class="fad fa-cheeseburger"></i></div>
        <h1 class="home__step-header">Become a Buyer</h1>
        <div class="home__video__container" [class.home__full]="play2">
          <video
            class="home__video2"
            [class.home__fullscreen]="play2"
            width="342"
            height="190"
            poster="../../../assets/image/BuyerVideoFrame.JPG"
            (click)="playVideo2()"
            #videoPlayerB
          >
            <source
              src="https://msp-prd.s3-us-west-2.amazonaws.com/videos/MSP_Buyer_Intro.mp4"
              type="video/mp4"
            />
            <source src="video.ogg" type="video/ogg" />
            <source src="video.webm" type="video/webm" />
            <object
              data="https://msp-prd.s3-us-west-2.amazonaws.com/videos/MSP_Buyer_Intro.mp4"
              width="340"
              height="190"
            >
              <embed src="video.swf" width="340" height="190" />
            </object>
          </video>
          <div *ngIf="!play2" class="home__icon">
            <img src="../../../assets/image/vidoeicon.png" alt="" />
          </div>
        </div>

        <p class="home__step-description">
          No Fee, No Deductions
        </p>
      </div>
      <div class="home__step">
        <div class="home__step-icon"><i class="fad fa-user-friends"></i></div>
        <h1 class="home__step-header">Refer a Friend</h1>
        <p class="home__step-description home__refer" routerLink="/signup">
          Earn {{ config.buyerRefReferrerCredit }}$,
          {{ config.socialRefReferredCredit }}$,
          {{ config.sellerRefReferrerCredit }}$ credit <br />
          for each friend you refer to <br />
          us. Just email them to join,<br />
          it is that simple.
        </p>
      </div>

      <div class="home__step">
        <div class="home__step-icon"><i class="fad fa-french-fries"></i></div>
        <h1 class="home__step-header">Become a Seller</h1>
        <div class="home__video__container" [class.home__full]="play">
          <video
            class="home__video"
            [class.home__fullscreen]="play"
            width="342"
            height="190"
            poster="../../../assets/image/SellerVideoFrame.JPG"
            preload="metadata"
            (click)="playVideo()"
            #videoPlayer
          >
            <source
              src="https://msp-prd.s3-us-west-2.amazonaws.com/videos/MSP_Seller_Intro.mp4"
              type="video/mp4"
            />
            <source src="video.ogg" type="video/ogg" />
            <source src="video.webm" type="video/webm" />
            <object
              data="https://msp-prd.s3-us-west-2.amazonaws.com/videos/MSP_Seller_Intro.mp4"
              width="340"
              height="175"
            >
              <embed src="video.swf" width="340" height="190" />
            </object>
          </video>

          <div *ngIf="!play" class="home__icon">
            <img src="../../../assets/image/vidoeicon.png" alt="" />
          </div>
        </div>
        <p class="home__step-description">
          No Membership Fee
        </p>
      </div>
    </div>
  </div>

  <div class="home__section-four" routerLink="/signup">
    <span class="home__section-four-left"></span>
    <span class="home__section-four-middle">Sign Up</span>
    <span class="home__section-four-right"></span>
    <!-- <img src="../../../assets/image/signUp.JPG" alt="" /> -->
  </div>
  <!-- <div class="home__section-four"  routerLink="/login">
    <img src="../../../assets/image/signUp.JPG" alt="">
  </div> -->
  <div class="home__section-three">
    <h1 class="home__secton-header">MORE CITIES JOINING EACH DAY</h1>
    <div class="home__cities-container">
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>New York</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i
        >California</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>Chicago</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>Houston</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>Phoenix</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>San
        Antonio</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>Dallas</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>San Jose</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>Sedona</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i
        >Scottsdale</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>Austin</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>Tucson</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>Seatle</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>Las
        Vegas</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>Denver</span
      >
      <span class="home__city"
        ><i class="fad fa-angle-double-right home__list-icon"></i>Miami</span
      >
    </div>
  </div>
  <!-- <div class="home__section-four"></div> -->
</div>
