<mat-card *ngIf="isIE()" class="example-card">
  <mat-card-content class="itemContent">
    <P>You are using Microsoft Edge browser. Our App works better with Chrome,
      Safari, Firefox, and Opera.</P>
  </mat-card-content>
</mat-card>
<div>
  <div class="scrolling-wrapper-flexbox">
    <div class="card" *ngFor="let catagory of caragories">
      <input type="radio" (click)="searchByCtgry(catagory.id)" [id]="catagory.id" name="gender" />
      <label [for]="catagory.id">
        <span class="glryImg">{{ catagory.name }}</span>
      </label>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="products__viewport" content="width=device-width, initial-scale=1.0">
    <div class="products__container">
      <div style='width:100%;'  *ngFor="let company of companies">
          <app-company-products class="company_proaduct"  [company]="company">
            </app-company-products>
            <div class="separator"></div>
      </div>
      
    </div>
  </div>
  <div id="xyze12" #anchor></div>
  <div style="min-height: 100px; width: 100%"></div>
</div>


<div class="footer">
  <button (click)="gotoCart()" mat-fab color="accent">
    <mat-icon>shopping_cart</mat-icon> <span>Cart</span>
  </button>
</div>