.container {
  width: 100%;
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    color: #555;
    padding: 1rem 2rem;
  }
}

.course-thumbnail {
  width: 150px;
  margin: 20px auto 0 auto;
  display: block;
}

.addNewDiv {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.lessons-table {
  min-height: 360px;
  margin-top: 10px;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}
.clickCard {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.no_result {
  font-size: 1.6rem;
  color: #777;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
@media only screen and (max-width: 600px) {
  .mat-cell:first-of-type {
    padding: 0;
  }
  .mobile-label {
    width: 85px;
    display: inline-block !important;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

.mobile-label {
  display: none;
}
