.container{
    margin:1rem 2rem;
    &__header{
        color: #666;
        font-size: 1.5rem;
        padding-top:1rem;
    }

    .description{
        padding:1rem 3rem;
        font-size: 1.2rem;
    }
    .balance{
        display: flex;
        justify-content: center;
        width: 20rem;
        align-items: center;

        border-radius: 2rem;
        // border:1px rgb(231, 21, 73) solid;
        &__header{
            font-size: 1.5rem;
            
            &__value{
                font-size: 1.5rem;
                font-weight: 700;
                padding-left: 1rem;
            }
        }
    }
} 