.course {
  text-align: center;
  max-width: 390px;
  margin: 0 auto;
}
.frmDiv {
  padding: 15px;
}
.course-thumbnail {
  width: 150px;
  margin: 20px auto 0 auto;
  display: block;
}
.mat-column-remove{
  max-width: 3rem;
  margin-right: 4px;
}

.mat-column-status {
  max-width: 8rem;
}

.mat-column-updatedAt {
  max-width: 10rem;
}

.mat-column-firstName {
  max-width: 10rem;
}

.mat-column-lastName {
  max-width: 10rem;
}

.filter{
  display: flex;
  justify-content: flex-end;
  margin:1rem;

  &-body{
    padding:0 2rem;
    font-size: 1.4rem;
  }

  &-state{
    max-width: 15rem;
  }
}
.addNewDiv {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.lessons-table {
  min-height: 360px;
  margin-top: 10px;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}
.clickCard {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#errorCntr {
  width: 80%;
  border: 2px solid red;
  padding: 15px 15px 15px 15px;
  margin: 20px 20px 20px 20px;
  background: #a4d3ee;
  overflow: visible;
  position: relative;
}

#errClsBtn {
  position: absolute;
  background: red;
  color: white;
  top: -10px;
  right: -10px;
}
ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}
.red-icon {
  fill: red;
}
