<div>
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="showError" id="errorCntr">
    <button id="errClsBtn" (click)="close()">
      X
    </button>
    <ul>
      <li *ngFor="let error of errors">
        {{ error }}
      </li>
    </ul>
  </div>

  <div class="filter">
    <div class="add-shop__address">

      <form class="form" (ngSubmit)="filterSeller()" [formGroup]="filterForm">
        <div *ngIf="errorMessage" class="add-staff__errors">
          <span>{{ errorMessage }}</span>
        </div>

        <mat-form-field class="filter-body">
          <input matInput maxlength="45" placeholder="Company Name" formControlName="companyName" />
        </mat-form-field>

        <mat-form-field class="filter-body">
          <input matInput maxlength="45" placeholder="City" formControlName="city" />
        </mat-form-field>

        <mat-form-field class="filter-body filter-state">
          <mat-select placeholder="Select State" formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state.name">
              {{ state.abbreviation }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-radio-group class="filter-status" formControlName="status">
          <label class="product-form__label"> <b>Status </b> </label>
          <mat-radio-button class="items" value="1">Active
          </mat-radio-button>
          <mat-radio-button class="items" value="0">Pending
          </mat-radio-button>
        </mat-radio-group>

        <div class="filter-button">
          <button mat-raised-button color="accent">Search</button>
        </div>

      </form>
    </div>
  </div>
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="updatedAt" matSortDirection="desc"
    matSortDisableClear matSortDisableClear>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Account</mat-header-cell>

      <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="companyName">
      <mat-header-cell *matHeaderCellDef>Company Name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.companyName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>City,State</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.city +", "+ user.state }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.firstName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.lastName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created date</mat-header-cell>
      <mat-cell *matCellDef="let user">{{
        user.createdAt | date: "yyyy-MM-dd"
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>

      <mat-cell *matCellDef="let user">{{ getStatus(user.status) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="remove">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>

      <mat-cell *matCellDef="let user"><button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button [routerLink]="['details', user.id]" mat-menu-item>
            <span>Detail</span>
          </button>
          <button *ngIf="showActivateAccount(user.status)" (click)="chageAccountStatus(user, 1)" mat-menu-item>
            <span>Activate Account</span>
          </button>

          <button *ngIf="showDisablePrtlAccount(user.status)" (click)="chageAccountStatus(user, 2)" mat-menu-item>
            <span>Disable New Products</span>
          </button>
          <button *ngIf="showDisableAccount(user.status)" (click)="chageAccountStatus(user, 3)" mat-menu-item>
            <span>Disable Account</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [length]="dataSource.count" [pageSize]="10" [pageSizeOptions]="[10,20, 30,50]"></mat-paginator>
</div>