<mat-toolbar class="mainC" color="accent">
  <a class="clickCard" routerLink="/">
    <span>
      MANAGERSPECIAL
    </span>
  </a>
</mat-toolbar>
<div *ngIf="showError" id="errorCntr">
  <button id="errClsBtn" (click)="close()">
    X
  </button>
  <ul>
    <li *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</div>

<form [formGroup]="passwordRestForm" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <mat-form-field
      hintLabel="At least six characters, one number, one lowercase and one
        uppercase"
    >
      <input
        matInput
        placeholder="Enter new password"
        minlength="6"
        maxlength="20"
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <mat-error *ngIf="passwordRestForm.controls.password.invalid"
        >No more than 12 characters.</mat-error
      >
      <span
        (click)="hide = !hide"
        style="position: absolute; right: 0; font-size: 2rem; z-index: 100;"
      >
        <i *ngIf="hide" class="fad fa-eye-slash"></i>
        <i *ngIf="!hide" class="fad fa-eye"></i>
      </span>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Confirm new password"
        minlength="6"
        maxlength="20"
        formControlName="confirmPassword"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <!-- <mat-error *ngIf="passwordRestForm.controls.password.invalid"
        >Invalid password</mat-error
      > -->
      <span
        (click)="hide = !hide"
        style="position: absolute; right: 0; font-size: 2rem; z-index: 100;"
      >
        <i *ngIf="hide" class="fad fa-eye-slash"></i>
        <i *ngIf="!hide" class="fad fa-eye"></i>
      </span>
    </mat-form-field>
    <br />
    <br />

    <br />
    <br />
    <button type="submit" mat-raised-button color="accent">Sign Up</button>
  </div>
</form>
