
<mat-toolbar class="mainC" color="accent">
  <a class="clickCard" routerLink="/">
      <span>
          MANAGER SPECIAL
      </span>
  </a>
</mat-toolbar>
<div *ngIf="showError" id="errorCntr">
  
  <button id = "errClsBtn" (click)="close()">
  X
</button>
<ul>
<li *ngFor="let error of errors">
  {{error}}
</li>

</ul>
</div>

<form [formGroup]="passwordRestForm" (ngSubmit)="onSubmit()">
  <div class="example-container">
      

<mat-form-field hintLabel="min 2 characters and max 12 characters">
  <input matInput placeholder="Enter new password" minlength="2" maxlength="12" formControlName="password" [type]="hide ? 'password' : 'text'" required>
  <mat-error *ngIf="passwordRestForm.controls.password.invalid">No more than 12 characters.</mat-error>
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</mat-form-field>
<mat-form-field hintLabel="min 2 characters and max 12 characters">
  <input matInput placeholder="Confirm new password" minlength="2" maxlength="12" formControlName="confirmPassword" [type]="hide ? 'password' : 'text'" required>
  <mat-error *ngIf="passwordRestForm.controls.password.invalid">No more than 12 characters.</mat-error>
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</mat-form-field>
<br>
<br>


<br>
<br>
<button type="submit" mat-raised-button color="accent">Sign Up</button>
</div>
</form>