<app-navigation></app-navigation>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="footer__container">
  <ul class="footer__sub-container">
    <li class="footer__item">
      <span class="footer__item-text">Home</span>
    </li>
    <li class="footer__item">
      <span class="footer__item-text">About Us</span>
    </li>
    <li class="footer__item">
      <span class="footer__item-text">Privacy Policy</span>
    </li>
    <li class="footer__item">
      <span class="footer__item-text">Terms & Conditions</span>
    </li>
    <li class="footer__item">
      <span class="footer__item-text">Contact Us</span>
    </li>
  </ul>
</div>
