.upload_container {
  display: none;
}

.form-group{
  // border-bottom:1px #940e41 solid;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  &__label{
    margin:0 1rem;
    font-weight: 600;
    color: #555;
    padding-right:1rem;
  }
  &-item{
    padding: 0 1rem;
    margin: 1rem;
    width: 29%;
  }
  &-header{
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #333;

  }
  &-content{
    display: flex;
    flex-direction: row;
  }
  &-time{
    margin:0.5rem
  }
}
.edit_image{
  
  img{
    // width: 60%;
    height: 14rem;
    object-fit: cover;
    /* background: white; */
    border: 9px #eee solid;
    box-shadow: 2px 2px 6px #aaa;
  }
   
  
}

.product-drag {
  &__header {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    color: #333;

    .text {
      padding: 0.5rem 1rem;
      background: #c20e53;
      border-radius: 20px;
      color: white;
      font-size: 1.5rem;
      border: 0;
      height: 3.5rem;
      cursor: pointer;
    }
  }
  .uploadfilecontainer {
    // background-image: url("../../assets/cloud-2044823_960_720.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 150px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #940e41;
    border-radius: 10px;

    .drag_drop {
      display: flex;
      align-content: center;
      align-self: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-top: 3rem;
      .text {
        color: #940e41;
        display: block;
        font-size: 1.7rem;
      }
      .drag_icons {
        display: block;
        font-size: 2rem;
      }
    }
  }

  .uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #b7d3e7 !important;
    opacity: 0.8;
  }

  .files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 0.5rem;
    color: #aa134d;
  }

  .files-list {
    background: transparent;
    // border: none;
  }

  .files-list .delete-file img {
    width: 30px;
  }
  .upload-file {
    padding: 0.5rem;
    background: #940e41;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
  }
}
.contanier{
  background: #eee;
  padding: 1rem;
}
.product-form {
  display: flex;
  justify-content: space-between;
  &__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 90%;
    max-width: 70rem;
    margin: 0rem auto;
    font-size: 1.2rem;
    
  }

  &__header {
    font-size: 2rem;
    color: #333;
    width: 100%;
    // text-align: center;
    margin: 1rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #ddd;
    width: 100%;
    padding: 0.5rem 1rem;

    &:not(:last-child) {
      border: 1px solid #ddd;
      margin-bottom: 1rem;
    }

    .next__btn{
      display: flex;
      justify-content: flex-end;
    }
  }

  &__image-upload {
    display: flex;
  }

  &__image-gallery {
    display: flex;
  }

  &__image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image-gallery {
    width: 96%;
    overflow-x: scroll;
    padding: 1.5rem;
    border: #cac3c6 1px solid;
    margin:1rem
  }

  &__image-gallery::-webkit-scrollbar {
    // width: 0px;
    height: 5px;
  }

  &__image-gallery::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    box-shadow: inset 0 0 6px #fff;
    border-radius: 1px;
  }

  &__image-gallery::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(150, 150, 150, 0.911);
    box-shadow: inset 0 0 6px rgba(150, 150, 150, 0.911);
  }

  &__image {
    height: 7rem;
    border: 2px solid #fff;
    border-radius: 1rem;
    cursor: pointer;

    &:active {
      transform: scale(1.02);
    }

    &--active {
      border: 2px solid #f94081;
    }
  }

  &__radio-button {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #fff;
    background-color: tomato;
    box-shadow: 0 0 1pt 1pt tomato;
    cursor: pointer;

    &:active {
      transform: scale(1.05);
    }
  }

  &__radio-input:checked + .product-form__radio-button {
    background-color: red;
  }

  &__radio-input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }

  &__input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1rem 0rem;
  }

  &__sub-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 1rem 0rem;
  }

  &__sub-input-container {
    flex: 1;
    display: flex;
    padding: 1rem;
  }

  &__input--type-1 {
    width: 80%;
    margin: 1rem 0rem;
  }

  &__input--type-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 1rem 0rem;
  }

  &__label {
    font-weight: 600;
    color: #555;
    padding-right:1rem;
    // font-size: 1.1rem;
  }

  &__radio {
    font-size: 1.1rem;
    color: #333;
    margin: 0.5rem 1rem;
  }

  &__input-checkbox {
    margin: 0rem 0.5rem;
  }

  &__input--type-3 {
    max-width: 30%;
    min-width: 2rem;
  }
}


@media only screen and (max-width: 732px) {
  .contanier{
    width: 100%;
    padding: 0;
  }
  .product-form__container{
    margin: 0;
    width: 100%;
  }

  .form-group-item{
    min-width: 20rem;
  }

  .form-group-content{
    display: flex;
    flex-direction: column;
  }
}

