<div *ngIf="showError" id="errorCntr">
  <button id="errClsBtn" (click)="close()">
    X
  </button>
  <ul>
    <li *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</div>

<div class="contanier">
  <form *ngIf="showForm()" [formGroup]="productForm" class="product-form__container">
    <div class="product-form__section">
      <h5 class="product-form__header">Off-Peak Product</h5>
    </div>

    <div class="product-form__section product-form__section-one">

      <div class="product-drag">
        <div class="product-drag__header">

         {{ edit ? '': 'Select Image'}} 

         <div *ngIf="edit" class="edit_image">
          <img *ngIf='imagePath && !imageUploadsDiv' [src]="imagePath" alt="">
        </div>

          <div (click)='toggleImageUploads()' class='text'> <span>
            {{ edit ? 'Change Image': ' Upload Other'}} 
            <mat-icon class="material-icons md-10">cloud_upload
              </mat-icon>
            </span>
          </div>
        </div>
        <div [class.upload_container]='!imageUploadsDiv'>
          <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
            <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
            <div class='drag_drop'>
              <div>
                <mat-icon class="material-icons md-28 drag_icons">cloud_upload
                </mat-icon>
              </div>
              <h2 class="text">Drag And Drop Your Image Here </h2>
            </div>
          </div>
          <div class="files-list">
            Selected File:<p> {{ files }} </p>
            <button class="upload-file" (click)="uploadSelectFile()">
              Upload
            </button>
          </div>

        </div>
        <div *ngIf='!edit || imageUploadsDiv' class="product-form__image-gallery-container">
          <div class="product-form__image-upload">
            <!-- <span>Select an Image First to Begin Posting /</span> -->
            <!-- <button (click)="gotoGallery()" mat-button color="accent">
                upload more photos
              </button> -->
          </div>
          <div class="product-form__image-gallery">
            <div class="product-form__image-container" *ngFor="let picture of pictures">
              <input type="radio" [id]="picture.id" formControlName="imgId" [value]="picture.id"
                class="product-form__radio-input" />
              <label [for]="picture.id">
                <img [src]="picture.file" class="product-form__image" [class.product-form__image--active]="
                      picture.id == productForm.get('imgId').value
                    " />
              </label>
              <label>{{ picture.name }}</label>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <h2 class="form-group-header">
          Basic Informations
        </h2>

        <div class="product-form__input-container">
          <mat-form-field class="product-form__input--type-1">
            <mat-select placeholder="Select Category" formControlName="categoryId" required>
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="product-form__input--type-1">
            <input type="text" placeholder="Enter Product Name or Select from List" matInput [matAutocomplete]="auto"
              formControlName="name" required />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <mat-form-field hintLabel="If empty list, go create at least one store location first.">
          <mat-select placeholder="Select Store Location" formControlName="shop" required>
            <mat-option *ngFor="let option of shop1" [value]="option.value">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-radio-group class=" form-group-item product-form__input--type-2" formControlName="unit">
          <label class="product-form__label">Unit: </label>
          <mat-radio-button class="product-form__radio" value="piece">Per Unit
          </mat-radio-button>
          <mat-radio-button class="product-form__radio" value="person">Per Person
          </mat-radio-button>
          <mat-radio-button class="product-form__radio" value="pound">Per Pound
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-group">
          <h2 class="form-group-header">
            Price and Discount
          </h2>
          <div class="form-group-content">
            <mat-form-field class="form-group-item">
              <input matInput type="number" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100"
                placeholder="Original Price" formControlName="normalPrice" required />
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
            <mat-form-field hintLabel="Buyer will pay you the discounted price plus any tax directly upon service."
              class="form-group-item">
              <mat-select placeholder="Discount %" formControlName="discountPersent" required>
                <!-- <mat-option>--</mat-option> -->
                <mat-option *ngFor="let option of discounts" [value]="option.value">
                  {{ option.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="productForm.controls.discountPersent.hasError('required')">Please choose discounted by
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-group-item">
              <input matInput type="number" placeholder="Quantity" formControlName="quantity" required />
            </mat-form-field>
          </div>
  
        </div>
  
        <div class="form-group">
          <h2 class="form-group-header">
            Week Days
          </h2>
          <div class="product-form__input-container" style="flex-direction: column">
            <div fxLayout="row" fxFlexAlign="start">
              <span class="product-form__label">Valid Days:</span>
            </div>
            <section class="product-form__sub-input-container">
              <div class="product-form__input-checkbox" *ngFor="let weekDay of weekDays.controls; let i = index">
                <input type="checkbox" [formControl]="weekDay" />
                {{ weekDaysInit[i].name }}
              </div>
            </section>
          </div>
        </div>
    </div>


    <div class="product-form__section product-form__section-three">

      <div class="form-group">
        <h2 class="form-group-header">
          Promotion and Consumption Date/Time
        </h2>

        <div>
          <div fxLayout="row" fxFlexAlign="start">
            <span class="product-form__label"> Promotion Start/End Dates</span>
          </div>
          <section class="form-group">

            <div class="form-group-content">
                <div class="form-group-item" fxLayout="row"  fxLayoutGap="4px">
                    <div class="form-group__label" fxFlexAlign="center">From:</div>
                    <div class="product-form__sub-container">
                        <mat-form-field class="product-form__input--type-1" >
                            <input matInput [matDatepicker]="pickerOffStr" formControlName="offerStartDate" placeholder="Date"
                              [value]="offerStartInitTime" />
                            <mat-datepicker-toggle matSuffix [for]="pickerOffStr"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #pickerOffStr></mat-datepicker>
                          </mat-form-field>
                    </div>
                   
                  </div>
                  <div class="form-group-item" fxLayout="row"  fxLayoutGap="4px">
                    <div class="form-group__label" fxFlexAlign="center">To:</div>
                    <div class="product-form__sub-container">
                        <mat-form-field class="product-form__input--type-1">
                            <input matInput [matDatepicker]="pickerOffEnd" formControlName="offerEndDate" placeholder="Date"
                              [value]="offerEndInitTime" />
                            <mat-datepicker-toggle matSuffix [for]="pickerOffEnd"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #pickerOffEnd></mat-datepicker>
                          </mat-form-field>
                    </div>
                   
                  </div>
            </div>
           
          </section>
          <div fxLayout="row" fxFlexAlign="start">
            <span class="product-form__label">Product Reservation Time Window</span>
          </div>
          <div class="form-group">
            <div class="form-group-content">
                <div class="form-group-item" fxLayout="row"  fxLayoutGap="4px" >
                    <div class="form-group__label" fxFlexAlign="center">From:</div>
                    <div class="product-form__sub-container">
                      <mat-form-field class="product-form__input--type-3">
                        <mat-select matInput formControlName="offerStartHH" placeholder="HH">
                          <mat-option *ngFor="let hh of hhlst" [value]="hh">
                            {{ hh }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div fxFlexAlign="center">:</div>
                      <mat-form-field class="product-form__input--type-3">
                        <mat-select matInput formControlName="offerStartMM" placeholder="MM">
                          <mat-option *ngFor="let min of hhmm" [value]="min">
                            {{ min }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="product-form__input--type-3">
                        <mat-select matInput formControlName="offerStartAMPM">
                          <mat-option *ngFor="let ap of pmam" [value]="ap">
                            {{ ap }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="form-group-item" fxLayout="row"  fxLayoutGap="4px">
                    <div class="form-group__label"  fxFlexAlign="center">To:</div>
                    <div class="product-form__sub-container">
                      <mat-form-field class="product-form__input--type-3">
                        <mat-select matInput formControlName="offerEndHH" placeholder="HH">
                          <mat-option *ngFor="let hh of hhlst" [value]="hh">
                            {{ hh }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div fxFlexAlign="center">:</div>
                      <mat-form-field class="product-form__input--type-3">
                        <mat-select matInput formControlName="offerEndMM" placeholder="MM">
                          <mat-option *ngFor="let min of hhmm" [value]="min">
                            {{ min }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="product-form__input--type-3">
                        <mat-select matInput formControlName="offerEndAMPM">
                          <mat-option *ngFor="let ap of pmam" [value]="ap">
                            {{ ap }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
            </div>
          </div>
          <div fxLayout="row" fxFlexAlign="start">
            <span class="product-form__label">Product Consumption Time Window</span>
          </div>

          <div class="form-group">
            <div class="form-group-content">
                <div class="form-group-item" fxLayout="row"  fxLayoutGap="4px">
                    <div class="form-group__label" fxFlexAlign="center">From:</div>
                    <div class="product-form__sub-container">
                      <mat-form-field class="product-form__input--type-3">
                        <mat-select matInput formControlName="pickupStartHH" placeholder="HH">
                          <mat-option *ngFor="let hh of hhlst" [value]="hh">
                            {{ hh }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div fxFlexAlign="center">:</div>
                      <mat-form-field class="product-form__input--type-3">
                        <mat-select matInput formControlName="pickupStartMM" placeholder="MM">
                          <mat-option *ngFor="let min of hhmm" [value]="min">
                            {{ min }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="product-form__input--type-3">
                        <mat-select matInput formControlName="pickupStartAMPM">
                          <mat-option *ngFor="let ap of pmam" [value]="ap">
                            {{ ap }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="form-group-item" fxLayout="row"  fxLayoutGap="4px">
                    <div class="form-group__label"  fxFlexAlign="center" >To:</div>
                    <div class="product-form__sub-container">
                      <mat-form-field class="product-form__input--type-3">
                        <mat-select matInput formControlName="pickupEndHH" placeholder="HH">
                          <mat-option *ngFor="let hh of hhlst" [value]="hh">
                            {{ hh }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div fxFlexAlign="center">:</div>
                      <mat-form-field class="product-form__input--type-3">
                        <mat-select matInput formControlName="pickupEndMM" placeholder="MM">
                          <mat-option *ngFor="let min of hhmm" [value]="min">
                            {{ min }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="product-form__input--type-3">
                        <mat-select matInput formControlName="pickupEndAMPM">
                          <mat-option *ngFor="let ap of pmam" [value]="ap">
                            {{ ap }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
            </div>
            
          </div>
        </div>

      </div>

      <div>
        <mat-checkbox formControlName="showNow">Do Not Show Product Until Offer Start Time
        </mat-checkbox>
      </div>
      <mat-form-field>
        <textarea matInput placeholder="Enter Additional Product Description (Optional)"
          formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div class="product-form__section product-form__section-four">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row nowrap" fxLayoutGap="10px" class="spaceDown">
          <div>
            <button (click)="onSubmit()" mat-flat-button color="accent" [disabled]="!productForm.valid">
              Save
            </button>
          </div>
          <div>
            <button type="button" mat-flat-button color="accent" (click)="gotoSellAdmin()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="!showForm()">
    <p>
      Sorry, your account is either inactive or disabled.Please contact
      sales@ManagerSpecial.com.
    </p>
  </div>
</div>



<app-custom-notification [show]="showErrorNotification" type="error" [text]="errorMessage" callback="goBack">
</app-custom-notification>