<div class="main_contanier">
  <mat-card class="mat-elevation-z2 contanier">
    <mat-card-title class="contanier__header"
      >Reservation Detail</mat-card-title
    >
    <!-- <mat-card-subtitle>Order</mat-card-subtitle> -->
    <mat-card-content>
      <div class="list">
        <span class="list__header"> Product </span>
        <span class="list__details">
          <i
            class="fad fa-angle-right table__icon-2"
            style="color: #cf8c9c"
          ></i>
          {{ order.product.name }}
        </span>
      </div>

      <div class="list">
        <span class="list__header"> Reservation Date </span>
        <span class="list__details">
          <i class="fad fa-stopwatch table__icon" style="color: #cf8c9c"></i>
          {{ order.purchaseTime | date: "MMM d, y" }}
        </span>
      </div>

      <div class="list">
        <span class="list__header"> Service Time </span>
        <span class="list__details">
          <i class="fad fa-stopwatch table__icon" style="color: #cf8c9c"></i>
          Starting: {{ order.pickupStartTime | date: "MMM d, h:mm a" }} -
          Ending:
          {{ order.pickupEndTime | date: "MMM d, h:mm a" }}
        </span>
      </div>

      <div class="list">
        <span class="list__header"> Discounted Unit Price </span>
        <span class="list__details">
          <i class="fad fa-dollar-sign table__icon" style="color: #cf8c9c"></i>
          {{ order.discountedPrice | currency }}</span
        >
      </div>

      <div class="list">
        <span class="list__header"> Quantity </span>
        <span class="list__details">
          <i
            class="fad fa-angle-right table__icon-2"
            style="color: #cf8c9c"
          ></i>
          {{ order.quantity }}
        </span>
      </div>

      <div class="list">
        <span class="list__header"> Total </span>
        <span class="list__details">
          <i
            class="fad fa-angle-right table__icon-2"
            style="color: #cf8c9c"
          ></i>
          {{ order.quantity * order.discountedPrice | currency }} plus any tax
        </span>
      </div>
      <div *ngIf="order.takeOut" class="list">
        <div class="order__takeout">
          <img
            src="assets/image/take_out.jpg"
            alt=""
            class="order__takeout__img"
          />
          <div>
            <span
              style="display: inline-block"
              *ngIf="order.specialRequirements"
              >Message: {{ order.specialRequirements }}</span
            ><br *ngIf="order.specialRequirements" />
            <button
              *ngIf="
                order.phoneNumber &&
                !show &&
                !order.status &&
                pickupEndTime > now
              "
              (click)="showPhoneNumber()"
              mat-button
              color="accent"
              style="
                font-size: 1.8rem;
                font-weight: 600;
                padding: 0.2rem 2rem;
                border: 1px solid #f94081;
                border-radius: 5rem;
                margin-left: 1.5rem;
              "
            >
              Show Phone Number
            </button>
            <span
              style="
                display: flex;
                flex-direction: column;
                padding: 0rem;
                margin-left: 0rem;
              "
              *ngIf="(order.phoneNumber && show) || order.status"
            >
              <span> Phone Number: {{ order.phoneNumber }}</span>
              <a
                [href]="callablePhoneNumber"
                style="
                  color: green;
                  text-decoration: none;
                  font-size: 1.3rem;
                  font-weight: 600;
                  margin-left: 1.3rem;
                  border: 1px solid green;
                  padding: 0.2rem 1rem;
                  width: 13rem;
                  border-radius: 0.3rem;
                "
                ><i class="fad fa-phone-alt"></i>&nbsp;&nbsp;Call Number</a
              >
            </span>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="button"
        mat-flat-button
        color="accent"
        (click)="gotoSellerTrans()"
      >
        <i class="fad fa-chevron-left"></i> &nbsp;Back
      </button>
    </mat-card-actions>
  </mat-card>
</div>
