li {list-style-type: none;}
.main_contanier{
    display: flex;
    justify-content: center;
}
.contanier{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin:1rem 0;

    &__header{
        align-self: center;
        // margin: 1rem;
        margin-bottom: 2rem;
    }

}

.list{
    border: 1px #e0bbbbdc solid;
    position: relative;
    margin: 1.5rem 0;
    padding: 1rem;
    
    &__details{
        padding: 0 1.5rem;
        font-size: 1.3rem;
        font-weight: 400;
        font-style: italic;
    }

    &__header{
        font-size: 1.4rem;
        // 
        color: rgb(46, 60, 82);
        padding: 0 0.5rem;
        // font-family: 'Courier New', Courier, monospace;
        position: absolute;
        top: -1rem;
        background: white;
    }

   
}