<div
  *ngIf="products && products.length > 0 && shown"
  class="products__category"
>
  <h2 class="products__category__header">{{ company.shopName }}</h2>

  <div
    class="products__category__prod"
    [class.products__category__prod_animate]="showAnimate"
    id="{{ 'contanier_prods-' + index }}"
  >
    <div
      class="forward__button slide__button"
      (click)="previousClickScroll(index)"
      *ngIf="navigate"
    >
      <mat-icon class="material-icons slide__button-icon"
        >navigate_before</mat-icon
      >
    </div>
    <app-product
      class="products__product"
      *ngFor="let product of products"
      [product]="product"
    ></app-product>
    <div class="backward__button slide__button" *ngIf="navigate">
      <mat-icon
        (click)="nextClickScroll(index)"
        class="material-icons slide__button-icon"
        >navigate_next</mat-icon
      >
    </div>
  </div>
</div>
