<div class="container">
  <p align="justify">
    <span style="font-size: x-large"><strong>Terms of Use for Sellers </strong></span>
  </p>
  <p align="justify">
    <span>Thank you for using our site, please read our Terms of Use carefully.</span>
  </p>
  <p align="justify">
    <span><strong>ManagerSpecial</strong></span
    ><span>
      is a business unit, owned and operated by 3Forces Inc and its subsidiaries. 3Forces Inc (
      &ldquo;we,&rdquo; &ldquo;our,&rdquo; or &ldquo;us&rdquo;) owns and operates certain
      subsidiaries, business units, and websites (including &ldquo;Manager Special&rdquo;,
      ManagerSpecial.com, ManagerSpecial.net, &ldquo;Talguu&rdquo;, Talguu.com, JobDor.com,
      Trabahanap.com), certain technology platforms, and certain other related online and mobile
      services that reference or will reference these Terms of Use (collectively, the
      &ldquo;Sites&rdquo;). These Terms of Use (the &ldquo;Agreement&rdquo;) constitute a contract
      between you and us that governs your access and use of the Sites. By accessing and/or using
      the Sites or our services through the Sites, or by clicking a button or checking a box marked
      &ldquo;I Agree&rdquo; (or something similar), you agree to all the terms and conditions of
      this Agreement. If you do not agree, do not use the Sites. As used in this Agreement,
      &ldquo;you&rdquo; means any visitor, user, or other person who accesses our Sites, whether or
      not such person registered for an Account (as defined below). Unless otherwise agreed by
      ManagerSpecial in a separate written agreement with you or your authorized representative, the
      Sites are made available solely for your commercial, not personal, use.</span
    >
  </p>
  <p align="justify">
    <span>You may only use </span><span><u>ManagerSpecial</u></span
    ><span>
      if you (the "Seller") agree to this ManagerSpecial Seller Agreement ("Seller Agreement"). This </span
    ><span><u>Agreement</u></span
    ><span> incorporates the provisions of your agreement.</span>
  </p>
  <p align="justify">&nbsp;</p>
  <p align="justify">
    <span
      >Use of ManagerSpecial for Sellers requires that you be registered for an account ("Account").
      In connection with such registration, you agree to (a) provide true, accurate, current and
      complete information about yourself as necessary to complete your registration, and (b)
      promptly update the personal information you provide to ensure that it is always true,
      accurate, current and complete. If you provide any information that is untrue, inaccurate,
      outdated or incomplete, or ManagerSpecial has reasonable grounds to suspect that such
      information is untrue, inaccurate, outdated or incomplete, ManagerSpecial has the right to
      block your current or future use of ManagerSpecial for Sellers (or any portion of your
      use).</span
    >
  </p>
  <p align="justify">
    <span
      >You are responsible for maintaining the confidentiality and security of your Account and
      password, and you are fully responsible for all activities or any other actions that occur
      under or are taken in connection with your password or Account (including any individual user
      accounts created under your Account). You agree to: (a) use all reasonable precautions to
      protect the confidentiality and security of your Account and any information provided through
      ManagerSpecial for Sellers, including, without limitation, (i) storing all credentials in a
      safe location, (i) restricting access to your Account to authorized personnel, and (iii)
      ensuring that you sign out of your Account at the end of each session; and (b) immediately
      notify ManagerSpecial of any known or suspected unauthorized use(s) of your password or
      Account, or any known or suspected breach of security, including loss, theft, or unauthorized
      disclosure of your password or any other information provided through your Account. You
      further agree not to provide your Account to any third parties without the express written
      approval of ManagerSpecial. You agree that ManagerSpecial will not be liable for, and is
      hereby released from any and all claims, actions, losses, judgments, liabilities, damages,
      costs and expenses (including, without limitation, reasonable attorneys' fees) of any kind
      arising from or relating to your failure to comply with (a) or (b) of this paragraph or for
      any acts or omissions by you or someone else using your Account and/or password.</span
    >
  </p>
  <p align="justify">&nbsp;</p>
  <p align="justify">
    <span
      >With the exception of information, menus, photographs or logos provided by you,
      ManagerSpecial for Sellers and everything on it (collectively, "Materials") are owned by or
      licensed to ManagerSpecial. ManagerSpecial for Sellers and the Materials are protected by
      copyright, trademark, trade dress, domain name, patent, trade secret, international treaties
      and/or other proprietary rights and laws of the United States and other countries. Except as
      otherwise indicated on ManagerSpecial for Sellers and except for the trademarks, service
      marks, logos and trade names of you or other companies that are or may be displayed on
      ManagerSpecial for Sellers, all trademarks, service marks, logos, trade dress and trade names
      are proprietary to ManagerSpecial, including, without limitation: ManagerSpecial. Please be
      advised that ManagerSpecial actively and aggressively enforces its intellectual property
      rights to the fullest extent of the law.</span
    >
  </p>
  <p align="justify">
    <span
      >We grant you a limited, non-exclusive, non-transferable and revocable license to access and
      use ManagerSpecial for Sellers and/or the Materials, solely as expressly permitted by this
      Agreement and your Seller Agreement and subject to all the terms and conditions of this
      Agreement, the Seller Agreement, all applicable intellectual property laws, and any additional
      notices or restrictions contained on ManagerSpecial for Sellers or otherwise communicated to
      you. Any other use of ManagerSpecial for Sellers and/or the Materials is strictly prohibited.
      No Materials may be copied, republished, uploaded, posted, transmitted, distributed in any
      way, and/or modified without our express written permission. Nothing contained on
      ManagerSpecial for Sellers should be interpreted as granting to you any license or right to
      use any of the Materials and/or third party proprietary content on ManagerSpecial for Sellers
      without the express written permission of ManagerSpecial or the appropriate third-party owner,
      as applicable.</span
    >
  </p>
  <p align="justify">
    <span
      >ManagerSpecial reserves the right, in its sole and absolute discretion, to modify, suspend,
      or discontinue at any time, with or without notice, ManagerSpecial for Sellers and/or services
      offered on or through ManagerSpecial for Sellers (or any part thereof), including but not
      limited to ManagerSpecial for Sellers features, look and feel, and functional elements and
      related services.</span
    >
  </p>
  <p align="justify"><span style="font-size: large">BUYER INFORMATION</span></p>
  <p align="justify">
    <span
      >"Buyer Information" is any information provided through ManagerSpecial for Sellers or is
      otherwise made available to Seller by ManagerSpecial about a ManagerSpecial Buyer ("Buyer"),
      which may include, without limitation, a Buyer's first and last name or last initial, address,
      email address, and telephone number. You acknowledge that you will have access to Buyer
      Information when a Buyer places an order with a Seller, and that such Buyer Information is
      private and/or sensitive in nature. You agree that: (a) you will be responsible for
      maintaining, and will use all reasonable precautions to protect the confidentiality and
      security of, Buyer Information; (b) you will comply with the ManagerSpecial Privacy Policy;
      (c) you will comply with all applicable laws, rules and regulations with respect to the
      privacy and security of Buyer Information; and (d) ManagerSpecial is not responsible for, and
      is hereby released from any and all claims, actions, losses, judgments, liabilities, damages,
      costs and expenses (including reasonable attorneys' fees) of any kind arising from or relating
      to your failure to comply with (a), (b) or (c) of this paragraph or for any acts or omissions
      by you or someone else with access to Buyer Information.</span
    >
  </p>
  <p align="justify">
    <span
      >You acknowledge that Buyer Information is proprietary to ManagerSpecial, and agree to use
      Buyer Information only for authorized purposes directly related to fulfilling and delivering
      (if applicable) a Buyer's order, and may not use Buyer Information to contact Buyers directly
      other than in relation to an order placed on ManagerSpecial. Notwithstanding any provision of
      this Agreement to the contrary, you are expressly prohibited from distributing, selling,
      providing access to, or otherwise making available Buyer Information to any third party other
      than authorized Seller personnel in order to fulfill orders. The foregoing restrictions apply
      regardless of whether Buyer Information is modified or combined with any other information or
      any other lists or databases. Nothing in this paragraph will prohibit the Seller from
      disclosing a Buyer's order information to the Buyer placing such order.</span
    >
  </p>
  <p align="justify">&nbsp;</p>
  <p align="justify">
    <span style="font-size: large"
      >DRIVER INFORMATION for certain products that a third party driver is involved</span
    >
  </p>
  <p align="justify">
    <span
      >"Driver Information" is any information provided through ManagerSpecial for Sellers about a
      ManagerSpecial delivery partner ("Driver"), including, without limitation, a Driver's first
      and last name or last initial, telephone number and geo-location. You acknowledge that you
      will have access to Driver Information when you receive an order for ManagerSpecial delivery
      or otherwise request a Driver to deliver an order, and that such Driver Information may be
      private and/or sensitive in nature. You agree that: (a) you will be responsible for
      maintaining, and will use all reasonable precautions to protect, the confidentiality and
      security of Driver Information and that you will also operate in compliance with the
      ManagerSpecial Privacy Policy and the ManagerSpecial Driver App Privacy Policy; (b) you will
      comply with all applicable laws, rules and regulations with respect to the privacy and
      security of Driver Information; and (c) ManagerSpecial is not responsible for, and is hereby
      released from any and all claims, actions, losses, judgments, liabilities, damages, costs and
      expenses (including reasonable attorneys' fees) of any kind arising from or relating to your
      failure to comply with (a) and (b) of this paragraph or for any acts or omissions by you or
      someone else with access to Driver Information.</span
    >
  </p>
  <p align="justify">
    <span
      >You acknowledge that Driver Information is proprietary to ManagerSpecial, and agree to use
      Driver Information only for authorized purposes directly related to fulfilling delivery of
      orders, and may not be used to contact Drivers directly other than in relation to the delivery
      of order placed on ManagerSpecial. Notwithstanding any provision of this Agreement to the
      contrary, you are expressly prohibited from distributing, selling, providing access to, or
      otherwise making available Driver Information to any third party other than authorized Seller
      personnel in order to fulfill delivery orders. The foregoing restrictions apply regardless of
      whether Driver Information is modified or combined with any other information or any other
      lists or databases.</span
    >
  </p>
  <p align="justify">
    <span style="font-size: large">YOUR CONDUCT AND CONTENT</span>
  </p>
  <p align="justify"><span>I. User Conduct</span></p>
  <p align="justify">
    <span
      >By accessing or using ManagerSpecial for Sellers, you agree: to comply with all applicable
      laws regarding online conduct and acceptable material; not to use ManagerSpecial for Sellers
      or any related services or submit content to ManagerSpecial for Sellers if you are under the
      age of 13; not to access ManagerSpecial for Sellers or any related services using a third
      party's account/registration without the express consent of the account holder; not to
      attempt, through any means, to gain unauthorized access to any part of ManagerSpecial for
      Sellers and/or any service, other account, computer system and/or network connected to any
      ManagerSpecial server; not to deep-link to ManagerSpecial for Sellers and/or access
      ManagerSpecial for Sellers manually and/or with any robot, spider, web crawler, extraction
      software, automated process and/or device to scrape, copy, compile, collect and/or monitor any
      portion of ManagerSpecial for Sellers and/or any Materials and/or other content on
      ManagerSpecial for Sellers, unless ManagerSpecial has given you specific permission to do so
      in writing; not to conduct any kind of systematic retrieval of data or other content on
      ManagerSpecial for Sellers; not to use ManagerSpecial for Sellers in any manner that could
      damage, disable, overburden and/or impair any ManagerSpecial server, or the network(s)
      connected to any ManagerSpecial server, and/or interfere with any other party&rsquo;s use and
      enjoyment of ManagerSpecial for Sellers; not to use ManagerSpecial for Sellers for illegal
      purposes, or as prohibited by these Terms; not to use ManagerSpecial for Sellers to engage in
      commercial activities apart from sanctioned use of ManagerSpecial services; not to copy any
      content, including, but not limited to Seller menu content and third-party reviews, for
      republication in print or online; not to license, sell and/or otherwise provide access to
      and/or use of ManagerSpecial for Sellers to any third party, including, without limitation, to
      build a competitive product and/or service; not to create Seller reviews or blog entries for
      or with any commercial or other purpose or intent that does not in good faith comport with the
      purpose or spirit of ManagerSpecial for Sellers; not to upload or transmit viruses or other
      harmful, disruptive or destructive files; and/or not to modify Buyer charges without
      Buyer&rsquo;s prior authorization; and/or not to disrupt, interfere with, or otherwise harm or
      violate the security of ManagerSpecial for Sellers, or any services, system resources,
      accounts, passwords, servers or networks connected to or accessible through ManagerSpecial for
      Sellers or affiliated or linked sites (including those of our Seller partners).</span
    >
  </p>
  <p align="justify">
    <span
      >You agree that the consequences of any unpermitted commercial use or republication of content
      or information from ManagerSpecial for Sellers which is not expressly permitted may be so
      serious and incalculable that monetary compensation may not be a sufficient or appropriate
      remedy and that ManagerSpecial will be entitled to temporary and permanent injunctive relief
      to prohibit such use.</span
    >
  </p>
  <p align="justify">
    <span>II. Use of Your Content</span>
  </p>
  <p align="justify">
    <span
      >You grant ManagerSpecial an irrevocable, transferable, paid up, royalty-free, perpetual,
      non-exclusive worldwide sub-licensable license to use, copy, display, publish, modify, remove,
      publicly perform, translate, create derivative works from, distribute and/or otherwise use the
      content which you upload on ManagerSpecial for Sellers ("User Content") and in all forms of
      media now known or hereafter invented (collectively, the "Uses"), without notification to
      and/or approval by you. User Content includes, without limitation, any menu information
      uploaded on ManagerSpecial for Sellers. You further grant ManagerSpecial a license to use your
      Seller name and/or other account information, including, without limitation, your ratings
      history and how long you have been a Seller on ManagerSpecial, to attribute User Content to
      you in connection with the Uses, if we choose to do so, again without notification to and/or
      approval by you.</span
    >
  </p>
  <p align="justify">
    <span>III. Conduct within ManagerSpecial for Sellers</span>
  </p>
  <p align="justify">
    <span
      >By transmitting User Content, you agree to follow the standards of conduct below, and any
      additional standards stated on ManagerSpecial for Sellers or otherwise agreed to between you
      and ManagerSpecial. We do our best to encourage civility and discourage disruptive
      communication on ManagerSpecial for Sellers. We also discourage communications that incite
      others to violate our standards. We expect your cooperation in upholding our standards. You
      are responsible for all User Content. You agree not to provide any User Content that:is
      unlawful, harmful to adults or minors, threatening, abusive, harassing, tortious, defamatory,
      vulgar, obscene, profane, offensive, invasive of another's privacy, hateful, discriminatory
      and/or otherwise objectionable; has a purpose not contemplated by this Agreement or the Seller
      Agreement;is false, misleading and/or not written in good faith; infringes any patent,
      trademark, trade secret, copyright, right of privacy and/or publicity, and/or other
      proprietary rights of any person and/or entity; is illegal and/or promotes illegal activity;
      violates any requirement set forth in your Seller Agreement or any other agreement between you
      and ManagerSpecial (including, without limitation, the requirement that item pricing is at
      least as favorable to Buyers as that which is available on the Seller&rsquo;s standard menu or
      offered to any third party service); contains unauthorized advertising and/or solicits users
      to a business other than ManagerSpecial; and/or is intended to interrupt, destroy or limit the
      functionality or integrity of any computer software, hardware or Materials on ManagerSpecial
      for Sellers or other websites.</span
    >
  </p>
  <p align="justify">
    <span
      >ManagerSpecial may monitor any and all use of ManagerSpecial for Sellers. We reserve the
      right to change, delete and/or remove, in part or in full, any User Content that we believe,
      and/or to terminate and/or suspend access to any Materials and/or all or part(s) of
      ManagerSpecial for Sellers for conduct that we believe, violates our standards, violates any
      other terms or conditions of this Agreement or the Seller Agreement, interferes with other
      people's enjoyment of ManagerSpecial for Sellers or any Materials, is inappropriate, or for
      any other reason, in each case, in our sole discretion. ManagerSpecial will cooperate with
      local, state and/or federal authorities to the extent permitted by applicable law in
      connection with User Content.</span
    >
  </p>
  <p align="justify"><span style="font-size: large">RELEASE</span></p>
  <p align="justify">
    <span
      >ManagerSpecial and its officers, directors, employees, parents, subsidiaries, affiliates,
      successors, assigns, licensors, licensees, designees, business partners, contractors, agents
      and representatives (collectively, the "Released Parties") will not be responsible for, and
      you hereby expressly release the Released Parties from any and all liability from all claims,
      actions, losses, judgments, liabilities, damages, costs and expenses (including, without
      limitation, reasonable attorneys' fees) arising out of or related to your breach or alleged
      breach of any provision of this Agreement, your violation of applicable law, your use of
      ManagerSpecial for Sellers or any Materials (including, without limitation, any User Content),
      or all Uses by ManagerSpecial or any third party authorized by ManagerSpecial.</span
    >
  </p>
  <p align="justify"><span style="font-size: large">DISCLAIMER</span></p>
  <p align="justify">
    <span
      >MANAGERSPECIAL FOR SELLERS, THE MATERIALS AND ALL OTHER CONTENT ON MANAGERSPECIAL FOR SELLERS
      ARE PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. TO THE
      FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, THE RELEASED PARTIES DISCLAIM WITH RESPECT TO
      MANAGERSPECIAL FOR SELLERS, THE MATERIALS AND ALL OTHER CONTENT ON MANAGERSPECIAL FOR SELLERS,
      ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF
      MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. MANAGERSPECIAL DOES NOT REPRESENT OR
      WARRANT THAT MANAGERSPECIAL FOR SELLERS, THE MATERIALS OR THE OTHER CONTENT ON MANAGERSPECIAL
      FOR SELLERS WILL BE SECURE, UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR
      THAT MANAGERSPECIAL FOR SELLERS, THE MATERIALS OR OTHER CONTENT ON MANAGERSPECIAL FOR SELLERS
      ARE FREE FROM VIRUSES OR OTHER HARMFUL COMPONENTS. MANAGERSPECIAL DOES NOT WARRANT OR MAKE ANY
      REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF MANAGERSPECIAL FOR SELLERS, THE
      MATERIALS OR ANY OTHER CONTENT ON MANAGERSPECIAL FOR SELLERS IN TERMS OF THEIR CORRECTNESS,
      ACCURACY, RELIABILITY, TIMELINESS, COMPLETENESS, CURRENTNESS, OR OTHERWISE, INCLUDING, WITHOUT
      LIMITATION, THE ANY INFORMATION RELATED TO AN ORDER PLACED ON MANAGERSPECIAL FOR SELLERS. YOU
      (AND NOT MANAGERSPECIAL) ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR, OR
      CORRECTION RELATING TO YOUR USE OF MANAGERSPECIAL FOR SELLERS, THE MATERIALS AND/OR OTHER
      CONTENT ON MANAGERSPECIAL FOR SELLERS. APPLICABLE LAW MAY NOT ALLOW THE EXCLUSION OF IMPLIED
      WARRANTIES, SO THE ABOVE EXCLUSION MAY NOT FULLY APPLY TO YOU.</span
    >
  </p>
  <p align="justify">
    <span style="font-size: large">LIMITATION OF LIABILITY</span>
  </p>
  <p align="justify">
    <span
      >IN NO EVENT WILL MANAGERSPECIAL BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, SPECIAL, PUNITIVE,
      INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, OR ANY LOSS OR DAMAGES WHATSOEVER (EVEN IF
      MANAGERSPECIAL HAS BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), WHETHER IN AN
      ACTION UNDER CONTRACT, NEGLIGENCE, OR ANY OTHER THEORY, IN ANY MANNER ARISING OUT OF OR IN
      CONNECTION WITH THE USE, INABILITY TO USE, PERFORMANCE OF, OR SERVICES PROVIDED ON OR THROUGH
      MANAGERSPECIAL FOR SELLERS. MANAGERSPECIAL ASSUMES NO RESPONSIBILITY AND WILL NOT BE LIABLE
      FOR ANY DAMAGES TO, OR VIRUSES THAT MAY INFECT, YOUR DEVICE OR OTHER PROPERTY ON ACCOUNT OF
      YOUR ACCESS TO, USE OF, BROWSING OF, OR DOWNLOADING OF ANY MATERIAL FROM MANAGERSPECIAL FOR
      SELLERS. MANAGERSPECIAL ASSUMES NO RESPONSIBILITY OR LIABILITY IN ANY MANNER ARISING OUT OF OR
      IN CONNECTION WITH ANY INFORMATION, CONTENT, PRODUCTS, SERVICES, OR MATERIAL AVAILABLE ON OR
      THROUGH MANAGERSPECIAL FOR SELLERS, AS WELL AS ANY THIRD PARTY WEBSITE PAGES OR ADDITIONAL
      WEBSITES LINKED FROM MANAGERSPECIAL FOR SELLERS, FOR ANY ERROR, DEFAMATION, LIBEL, SLANDER,
      OMISSION, FALSEHOOD, OBSCENITY, PORNOGRAPHY, PROFANITY, DANGER, INACCURACY CONTAINED THEREIN
      OR HARM TO PERSON OR PROPERTY CAUSED THEREBY. THESE LIMITATIONS WILL APPLY NOTWITHSTANDING ANY
      FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. BECAUSE SOME JURISDICTIONS DO NOT ALLOW
      THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE
      LIMITATIONS MAY NOT APPLY TO YOU. IN NO EVENT WILL MANAGERSPECIAL'S TOTAL LIABILITY TO YOU FOR
      ALL DAMAGES, LOSSES AND CAUSES OF ACTION, WHETHER IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED
      TO, NEGLIGENCE) OR OTHERWISE, EXCEED (A) THE AMOUNT PAID BY YOU TO MANAGERSPECIAL, OR (B) $100
      (WHICHEVER IS LESS).</span
    >
  </p>
  <p align="justify">
    <span
      >YOU AND MANAGERSPECIAL AGREE THAT THE WARRANTY DISCLAIMERS AND LIMITATIONS OF LIABILITY IN
      THIS AGREEMENT ARE MATERIAL, BARGAINED-FOR BASES OF THIS AGREEMENT, AND THAT THEY HAVE BEEN
      TAKEN INTO ACCOUNT IN DETERMINING THE CONSIDERATION TO BE GIVEN BY EACH PARTY UNDER THIS
      AGREEMENT AND IN THE DECISION BY EACH PARTY TO ENTER INTO THIS AGREEMENT. YOU AND
      MANAGERSPECIAL AGREE THAT THE WARRANTY DISCLAIMERS AND LIMITATIONS OF LIABILITY IN THIS
      AGREEMENT ARE FAIR AND REASONABLE.</span
    >
  </p>
  <p align="justify">
    <span
      >IF YOU ARE DISSATISFIED WITH MANAGERSPECIAL FOR SELLERS OR DO NOT AGREE TO ANY PROVISIONS OF
      THIS AGREEMENT, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING MANAGERSPECIAL FOR
      SELLERS, EXCEPT AS MAY BE PROVIDED FOR IN THIS SECTION.</span
    >
  </p>
  <p align="justify"><span style="font-size: large">THIRD-PARTY LINKS</span></p>
  <p align="justify">
    <span
      >ManagerSpecial for Sellers may contain links to websites that are owned, controlled,
      developed, sponsored and/or maintained by third parties and which may be subject to additional
      terms and conditions ("Third Party Websites"). ManagerSpecial does not review, monitor,
      operate and/or control the Third Party Websites and ManagerSpecial makes no guarantees,
      representations and/or warranties as to, and will have no liability for, the content available
      on or through and/or the functioning of the Third Party Websites. By providing access to Third
      Party Websites, ManagerSpecial is not recommending and/or otherwise endorsing the products
      and/or services provided by the sponsors and/or owners of those websites. Your access to
      and/or use of Third Party Websites, including providing information, materials and/or other
      content to such Third Party Websites, is entirely at your own risk. ManagerSpecial reserves
      the right to discontinue links to any Third Party Websites at any time and for any reason,
      without notice.</span
    >
  </p>
  <p align="justify"><span style="font-size: large">PRIVACY POLICY</span></p>
  <p align="justify">
    <span
      >The terms and conditions of the ManagerSpecial Privacy Policy located at
      https://www.managerspecial.com/privacy are incorporated into this Agreement by
      reference.</span
    >
  </p>
  <p align="justify">
    <span style="font-size: large">COPYRIGHT POLICY and Patent Pending</span>
  </p>
  <p align="justify">
    <span style="font-size: large"
      >Certain features of ManagerSpecial are patent pending with the Patent and Trade Mark Office
      of the US.</span
    >
  </p>
  <p align="justify">
    <span
      >ManagerSpecial respects the intellectual property of others, and we ask all of our users to
      do the same. If you believe that your copyrighted work has been copied and is accessible on
      ManagerSpecial for Sellers or a website through which our services may be accessed in a way
      that constitutes copyright infringement, please provide ManagerSpecial's Copyright Agent (as
      set forth below) with notification containing the following information required by the
      Digital Millennium Copyright Act, 17 U.S.C. 512:</span
    >
  </p>
  <p align="justify">
    <span
      >A physical or electronic signature of a person authorized to act on behalf of the copyright
      owner of the work that allegedly has been infringed;</span
    >
  </p>
  <p align="justify">
    <span
      >Identification of the copyrighted work claimed to have been infringed, or, if multiple
      copyrighted works allegedly have been infringed at a single online site, then a representative
      list of such copyrighted works;</span
    >
  </p>
  <p align="justify">
    <span
      >Identification of the material that is claimed to be infringing and that is to be removed or
      access to which is to be disabled, and information reasonably sufficient to permit us to
      locate the allegedly infringing material, e.g., the specific web page address on the
      Sites;</span
    >
  </p>
  <p align="justify">
    <span
      >Information reasonably sufficient to permit us to contact the party alleging infringement,
      including an email address;</span
    >
  </p>
  <p align="justify">
    <span
      >A statement that the party alleging infringement has a good-faith belief that use of the
      copyrighted work in the manner complained of is not authorized by the copyright owner, its
      agent, or the law; and</span
    >
  </p>
  <p align="justify">
    <span
      >A statement that the information in the notification is accurate, and under penalty of
      perjury, that the party alleging infringement is authorized to act on behalf of the copyright
      owner of the work that allegedly has been infringed.</span
    >
  </p>
  <p align="justify">
    <span
      >Please send this notification to our copyright agent at: ManagerSpecial Holdings Inc.,
      Attention: 7702 E Doubletree Ranch Road, Unit 300, Scottsdale, AZ 85258</span
    >
  </p>
  <p align="justify"><span style="font-size: large">SELLERS ONLY</span></p>
  <p align="justify">
    <span
      >Sellers acknowledge and agree that we strive to provide timely communication to Buyers
      regarding the delivery of their orders. All Sellers have an obligation to confirm the orders
      that Buyers place on the ManagerSpecial platform, and repeated failure to confirm orders will
      result in penalties, up to and including permanent closure on the ManagerSpecial platform, in
      our sole discretion.</span
    >
  </p>
  <p align="justify">
    <span
      >ManagerSpecial may make available to Sellers, from time to time, and in its sole discretion,
      Seller-funded advertising, marketing and promotional opportunities (collectively, "Promos").
      In the event such Promos include promotional discount(s), Seller acknowledges and agrees that
      the full cost of any such promotional discount(s) provided herein shall be billed to Seller as
      an offset to amounts collected by ManagerSpecial and owed to Seller, and that Seller remains
      responsible for the full commissions and fees (which will be charged without regard to any
      promotional discount(s) applied) owed to ManagerSpecial pursuant to the seller agreement
      between Seller and ManagerSpecial.</span
    >
  </p>
  <p align="justify">
    <span
      >ManagerSpecial will have the right to market any and all Promos to Buyers in
      ManagerSpecial&rsquo;s sole discretion, including, without limitation, in relation to the
      frequency, prominence, location (e.g. brand channels) and duration that ManagerSpecial
      advertises such Promos. ManagerSpecial may permit Seller to select certain Promo terms and
      conditions (e.g. percentage or dollar amount off, duration of the Promo, etc.). In addition to
      those Seller-selected terms and conditions, ManagerSpecial may set additional terms and
      conditions in its sole discretion. Once opted into the Promo through GFR, Seller may not
      subsequently make changes to the Promo terms and conditions, and ManagerSpecial is authorized
      to continue offering the Promo in accordance with such terms and conditions.</span
    >
  </p>
  <p align="justify">
    <span
      >Seller assumes full responsibility for fulfillment of all orders subject to Promos and will
      indemnify, hold harmless and defend ManagerSpecial from and against any claims, demands,
      actions, suits, damages, liabilities, losses, settlements, judgments, costs and expenses
      (including, without limitation, reasonable attorneys&rsquo; fees) arising from its acts or
      omissions in connection with any such Promo.</span
    >
  </p>
  <p align="justify">
    <span style="font-size: large">VIOLATIONS OF THE AGREEMENT</span>
  </p>
  <p align="justify">
    <span
      >ManagerSpecial reserves the right to seek all remedies available at law and in equity for
      violations of the Agreement, including, without limitation, the right to block access from a
      particular Internet or IP address to ManagerSpecial for Sellers.</span
    >
  </p>
  <p align="justify">
    <span style="font-size: large">CHANGES TO THE AGREEMENT</span>
  </p>
  <p align="justify">
    <span
      >We may change this Agreement from time to time and without prior notice. If we make a change
      to this Agreement it will be effective as soon as we post it, and the most current version of
      this Agreement will always be posted. If we make a material change to the Agreement, we will
      notify you. You agree that you will review this Agreement periodically. By continuing to
      access and/or use ManagerSpecial for Sellers, you agree to be bound by the revised Agreement.
      You agree that if you do not agree to the new terms of the Agreement, you will stop accessing
      and using ManagerSpecial for Sellers.</span
    >
  </p>
  <p align="justify"><span style="font-size: large">GOVERNING LAW</span></p>
  <p align="justify">
    <span
      >You acknowledge and agree that your access to and/or use of ManagerSpecial for Sellers, the
      Materials and other content on ManagerSpecial for Sellers is subject to all applicable
      international, federal, state and local laws and regulations. You further acknowledge and
      agree that all claims or disputes arising out of this agreement, will be decided by an
      arbitrator through arbitration and not by a judge or jury ("Arbitration Agreement"). This
      Arbitration Agreement is governed by the Federal Arbitration Act ("FAA") and evidences a
      transaction involving commerce. The arbitration will be conducted before a single arbitrator
      under the Commercial Arbitration Rules of the American Arbitration Association ("AAA"), which
      are available at www.adr.org. The arbitrator's fees and the costs will be shared equally by
      the parties, unless prohibited by law. Parties are responsible for their own attorneys' fees.
      The arbitration proceeding will take place in the county where the Seller is located unless
      otherwise agreed. A court of competent jurisdiction will have the authority to enter judgment
      on the arbitrator's decision/award. The parties agree to bring any claim or dispute in
      arbitration on an individual basis only, and not as a class or collective action, and there
      will be no right or authority for any claim or dispute to be brought, heard or arbitrated as a
      class or collective action ("Class Action Waiver"). Regardless of anything herein and/or the
      applicable AAA Rules, the interpretation, applicability or enforceability of the Class Action
      Waiver may only be determined by a court and not an arbitrator. The following claims are
      excluded from this Arbitration Agreement: (1) claims in small claims court; (2) claims to
      enforce or to prevent the actual or threatened violation of a party's intellectual property
      rights; (3) claims for temporary relief in connection with an arbitrable controversy; and (4)
      claims that are non-arbitrable per the applicable federal statute.</span
    >
  </p>
  <p align="justify">
    <span
      >With the exception of the Arbitration Agreement, which is governed by the FAA, this Agreement
      is governed by Arizona law. This Agreement, together with the Seller Agreement, constitutes
      the entire agreement between you and ManagerSpecial and supersedes any prior understanding
      (written or oral) on the subject matter hereof. ManagerSpecial is an independent contractor of
      Seller. This Agreement can only be modified in writing signed by both you and ManagerSpecial.
      In the event that any portion of this Agreement is held to be unenforceable, the remainder of
      the provisions will remain in full force and effect. In the event of a breach, in addition to
      any remedies at law or in equity, the non-breaching party will be entitled to obtain specific
      performance and immediate injunctive relief. Failure by either party to require performance or
      claim breach will not be construed as a waiver. You may not assign this Agreement without the
      prior written consent of ManagerSpecial. This Agreement is binding on you and your permitted
      heirs, successors and assigns. This provision as well as the ownership, warranties, indemnity,
      arbitration and confidentiality provisions will survive any expiration or termination of this
      Agreement.
    </span>
  </p>
  <p align="justify">
    <span style="font-size: xx-small"><strong>v2020-09</strong></span>
  </p>
  <p align="justify">&nbsp;</p>
  <p align="justify">&nbsp;</p>
</div>
