<div>
  <div class="header">
    <div class="header_mobile">
      <!-- <div>
        <input type="checkbox" class="header_mobile__menu_checkbox" />
        <div class="header_mobile__menu_button"></div>
        <div class="side_bar_mobile">
          <ul class="side_bar_mobile__list-container">
            <li class="side_bar_mobile__list-item">
              <span class="side_bar_mobile__list-item-text">Home</span>
            </li>
            <li class="side_bar_mobile__list-item">
              <span class="side_bar_mobile__list-item-text">About Us</span>
            </li>
            <li class="side_bar_mobile__list-item">
              <span class="side_bar_mobile__list-item-text"
                >Privacy Policy</span
              >
            </li>
            <li class="side_bar_mobile__list-item">
              <span class="side_bar_mobile__list-item-text"
                >Terms & Conditions</span
              >
            </li>
            <li class="side_bar_mobile__list-item">
              <span class="side_bar_mobile__list-item-text">Contact Us</span>
            </li>
          </ul>
        </div>
      </div> -->
      <div class="header_mobile__logo">
        <img src="favicon.ico" alt="Logo" class="header_mobile__logo_icon" />
        <a class="header_mobile__logo_text">Manager Special</a>
      </div>
      <div class="header_mobile__right">
        <div
          *ngIf="!mobileSearchActive && searchActive"
          (click)="searchClick()"
          class="header_mobile__search-icon-container"
        >
          <i class="fas fa-search header_mobile__search-icon"></i>
        </div>
        <div
          *ngIf="mobileSearchActive"
          (click)="searchClick()"
          class="header_mobile__search-icon-container"
        >
          <!-- <i class="fas fa-times"></i> -->
          <i class="fas fa-times header_mobile__search-icon"></i>
        </div>
        <div
          *ngIf="!authService.isLoggedIn()"
          class="header_mobile__search-icon-container"
        >
          <button routerLink="/login" class="header_mobile__login-button">
            <i class="fas fa-sign-in-alt"></i>
          </button>
        </div>
        <div
          *ngIf="authService.isLoggedIn()"
          class="header_mobile__search-icon-container"
        >
          <button routerLink="/tlgu-byr" class="header_mobile__login-button">
            <i class="fas fa-home"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="header__desktop">
      <div class="header__desktop__logo">
        <img src="favicon.ico" alt="Logo" class="header__desktop__logo_icon" />
        <div class="header__desktop__logo_text">Manager Special</div>
      </div>

      <div class="header__desktop__search-input-container">
        <i
          *ngIf="searchActive"
          class="fas fa-search header__desktop__search-icon"
        ></i>
        <input
          *ngIf="searchActive"
          [formControl]="desktopSearchValue"
          type="text"
          class="header__desktop__search-input"
          placeholder="Search products..."
          (keyup.enter)="searchValueChanged('desktopSearchValue')"
          #deskInput
        />
        <i class="far fa-times-circle header__desktop__close-icon"></i>

        <div class="header__desktop__categories-container">
          <div
            *ngFor="let category of categories"
            class="header__desktop__category"
            (click)="categoryChanged(category.id)"
            [class.header__desktop__category-active]="categoryId == category.id"
          >
            {{ category.name }}
          </div>
        </div>
      </div>
      <div *ngIf="!authService.isLoggedIn()" class="header__desktop__right">
        <div class="header__desktop__seller-signup-container">
          <button
            routerLink="/login/seller"
            class="header__desktop__seller-signup-button"
          >
            Seller Signup
          </button>
        </div>
        <div class="header__desktop__buyer-signup-container">
          <button
            routerLink="/login/buyer"
            class="header__desktop__buyer-signup-button"
          >
            Buyer Signup
          </button>
        </div>
        <div class="header__desktop__login-container">
          <button routerLink="/login" class="header__desktop__login-button">
            <i class="fas fa-sign-in-alt"></i> &nbsp; Login
          </button>
        </div>
      </div>
      <div
        *ngIf="authService.isLoggedIn()"
        class="header__desktop__right"
        style="justify-content: flex-end;"
      >
        <div class="header__desktop__login-container">
          <button routerLink="/tlgu-byr" class="header__desktop__login-button">
            Home
          </button>
        </div>
      </div>
    </div>

    <mat-progress-bar
      *ngIf="progressBarActive"
      color="#F94081"
      mode="query"
    ></mat-progress-bar>
  </div>

  <div class="content__container">
    <router-outlet></router-outlet>
  </div>
  <div class="footer__container">
    <ul class="footer__sub-container">
      <li class="footer__item">
        <span class="footer__item-text">Home</span>
      </li>
      <li class="footer__item">
        <span class="footer__item-text">About Us</span>
      </li>
      <li class="footer__item">
        <span class="footer__item-text">Privacy Policy</span>
      </li>
      <li class="footer__item">
        <span class="footer__item-text">Terms & Conditions</span>
      </li>
      <li class="footer__item">
        <span class="footer__item-text">Contact Us</span>
      </li>
    </ul>
  </div>
</div>

<div
  class="header_mobile__search-input-container"
  [class.header_mobile__search-input-container--active]="mobileSearchActive"
>
  <div class="header_mobile__search-input-sub-container">
    <input
      [formControl]="mobileSearchValue"
      type="text"
      class="header_mobile__search-input"
      placeholder="Search products..."
      (keyup.enter)="searchValueChanged('mobileSearchValue')"
    />
    <button
      (click)="searchValueChanged('mobileSearchValue')"
      class="header_mobile__search-button"
    >
      <i class="fas fa-search header_mobile__search-icon"></i>
    </button>
  </div>

  <div class="header_mobile__category-container">
    <span
      *ngFor="let category of categories"
      (click)="categoryChanged(category.id)"
      class="header_mobile__category"
      [class.header_mobile__category-active]="categoryId == category.id"
      >{{ category.name }}</span
    >
  </div>
</div>
