<div>
  <div class="header">
    <div class="header_mobile">
      <div>
        <input type="checkbox" class="header_mobile__menu_checkbox" />
        <div class="header_mobile__menu_button"></div>
        <div class="side_bar_mobile">
          <ul class="side_bar_mobile__list-container">
            <li class="side_bar_mobile__list-item">
              <span class="side_bar_mobile__list-item-text">Home</span>
            </li>
            <li class="side_bar_mobile__list-item">
              <span class="side_bar_mobile__list-item-text">About Us</span>
            </li>
            <li class="side_bar_mobile__list-item">
              <span class="side_bar_mobile__list-item-text"
                >Privacy Policy</span
              >
            </li>
            <li class="side_bar_mobile__list-item">
              <span class="side_bar_mobile__list-item-text"
                >Terms & Conditions</span
              >
            </li>
            <li class="side_bar_mobile__list-item">
              <span class="side_bar_mobile__list-item-text">Contact Us</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="header_mobile__logo">
        <img src="favicon.ico" alt="Logo" class="header_mobile__logo_icon" />
        <div class="header_mobile__logo_text">Manager Special</div>
      </div>
      <div class="header_mobile__right">
        <div
          *ngIf="!mobileSearchActive"
          (click)="searchClick()"
          class="header_mobile__search-icon-container"
        >
          <i class="fas fa-search header_mobile__search-icon"></i>
        </div>
        <div
          *ngIf="mobileSearchActive"
          (click)="searchClick()"
          class="header_mobile__search-icon-container"
        >
          <!-- <i class="fas fa-times"></i> -->
          <i class="fas fa-times header_mobile__search-icon"></i>
        </div>
      </div>
    </div>

    <div class="header__desktop">
      <div class="header__desktop__logo">
        <img src="favicon.ico" alt="Logo" class="header__desktop__logo_icon" />
        <div class="header__desktop__logo_text">Manager Special</div>
      </div>

      <div class="header__desktop__search-input-container">
        <i class="fas fa-search header__desktop__search-icon"></i>
        <input
          type="text"
          class="header__desktop__search-input"
          placeholder="Search products..."
        />
        <i class="far fa-times-circle header__desktop__close-icon"></i>
      </div>
      <div class="header__desktop__right">
        <div class="header__desktop__seller-signup-container">
          <button
            routerLink="/login"
            class="header__desktop__seller-signup-button"
          >
            Seller Signup
          </button>
        </div>
        <div class="header__desktop__buyer-signup-container">
          <button
            routerLink="/login"
            class="header__desktop__buyer-signup-button"
          >
            Buyer Signup
          </button>
        </div>
        <div class="header__desktop__login-container">
          <button routerLink="/login" class="header__desktop__login-button">
            <i class="fas fa-sign-in-alt"></i> &nbsp; Login
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="content__container">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>

<div
  class="header_mobile__search-input-container"
  [class.header_mobile__search-input-container--active]="mobileSearchActive"
>
  <input
    type="text"
    class="header_mobile__search-input"
    placeholder="Search products..."
  />
  <button class="header_mobile__search-button">
    <i class="fas fa-search header_mobile__search-icon"></i>
  </button>
</div>
