<div>
  <div class="header">
    <div class="header_mobile">
      <div class="header_mobile__logo">
        <a routerLink="/" class="header_mobile__logo_text">ManagerSpecial</a>
      </div>
      <div class="header_mobile__right">
        <div
          *ngIf="!mobileSearchActive && searchActive"
          (click)="searchClick()"
          class="header_mobile__search-icon-container"
        >
          <i class="fad fa-search header_mobile__search-icon"></i>
        </div>
        <div
          *ngIf="!authService.isLoggedIn()"
          routerLink="/login"
          class="header__desktop__login-container"
        >
          <button class="header__desktop__login-button">LOG IN</button>
        </div>
        <div
          *ngIf="!authService.isLoggedIn()"
          [routerLink]="signUpRoute"
          [queryParams]="{ referralKey: referralKey }"
          class="header__desktop__singup-container"
        >
          <button class="header__desktop__signup-button">SIGN UP</button>
        </div>

        <div *ngIf="authService.isLoggedIn()" class="header_mobile__search-icon-container">
          <button routerLink="/tlgu-byr" class="header_mobile__login-button">
            <i class="fad fa-home"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="header__desktop">
      <div class="header__desktop__logo">
        <a routerLink="/" class="header__desktop__logo_text">ManagerSpecial</a>
      </div>

      <div class="header__desktop__search-input-container">
        <i *ngIf="searchActive" class="fad fa-search header__desktop__search-icon"></i>
        <input
          *ngIf="searchActive"
          [formControl]="desktopSearchValue"
          type="text"
          class="header__desktop__search-input"
          placeholder="Search for food type.."
          (keyup.enter)="searchValueChanged('desktopSearchValue')"
          [value]="q"
          #deskInput
        />
        <i class="fad fa-times-circle header__desktop__close-icon"></i>

        <div class="header__desktop__categories-container">
          <div
            *ngFor="let category of categories"
            class="header__desktop__category"
            (click)="categoryChanged(category.id)"
            [class.header__desktop__category-active]="categoryId == category.id"
          >
            {{ category.name }}
          </div>
        </div>
      </div>
      <div *ngIf="!authService.isLoggedIn()" class="header__desktop__right">
        <div routerLink="/login" class="header__desktop__login-container">
          <button class="header__desktop__login-button">
            <i class="fad fa-sign-in-alt"></i> &nbsp; LOG IN
          </button>
        </div>
        <div
          [routerLink]="signUpRoute"
          [queryParams]="{ referralKey: referralKey }"
          class="header__desktop__singup-container"
        >
          <button class="header__desktop__signup-button">SIGN UP</button>
        </div>
      </div>
      <div
        *ngIf="authService.isLoggedIn()"
        class="header__desktop__right"
        style="justify-content: flex-end"
      >
        <div routerLink="/tlgu-byr" class="header__desktop__login-container">
          <button class="header__desktop__login-button">My Account</button>
        </div>
      </div>
    </div>

    <mat-progress-bar *ngIf="progressBarActive" mode="query"></mat-progress-bar>
  </div>

  <div class="content__container">
    <router-outlet></router-outlet>
  </div>
  <div class="footer__container">
    <ul class="footer__sub-container">
      <li routerLink="/" class="footer__item">
        <span class="footer__item-text">Home</span>
      </li>
      <!-- <li routerLink="/privacy" class="footer__item">
        <span class="footer__item-text">Privacy Policy</span>
      </li>
      <li routerLink="/refund" class="footer__item">
        <span class="footer__item-text">Buyer Refund Policy</span>
      </li> -->
      <li routerLink="/seller" class="footer__item">
        <span class="footer__item-text">Seller Sign Up</span>
      </li>
      <li class="footer__item">
        <p class="footer__item-text">
          ManagerSpecial Copyright {{ today }}. All Rights reserved. Worldwide Patent Pending
          {{ today }}. A business unit of 3Forces Inc. {{ version }}
        </p>
      </li>
    </ul>
  </div>
</div>

<div
  class="header_mobile__search-input-container"
  [class.header_mobile__search-input-container--active]="mobileSearchActive"
>
  <div class="header_mobile__search-input-sub-container">
    <input
      [formControl]="mobileSearchValue"
      type="text"
      class="header_mobile__search-input"
      placeholder="Search for food type.."
      (keyup.enter)="searchValueChanged('mobileSearchValue')"
      [value]="q"
    />
    <button (click)="searchValueChanged('mobileSearchValue')" class="header_mobile__search-button">
      <i class="fad fa-search header_mobile__search-icon"></i>
    </button>
  </div>

  <div class="header_mobile__category-container">
    <span
      *ngFor="let category of categories"
      (click)="categoryChanged(category.id)"
      class="header_mobile__category"
      [class.header_mobile__category-active]="categoryId == category.id"
      >{{ category.name }}</span
    >
  </div>
</div>
<div class="email-support__button-container">
  <a href="mailto:support@managerspecial.com"
    ><img src="assets/email_Circle_pink.png" class="email-support__button" alt=""
  /></a>
</div>
