.header {
  width: 100%;
  margin-top: 7rem;
}

.header_mobile {
  width: 100%;
  display: flex;
  min-height: 7rem;
  border-bottom: 1px solid #ddd;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.5rem 1rem;
  z-index: 500;
  background-color: #fff;
  position: fixed;
  top: -1px;
  border-bottom: 3px solid #8e6976;

  &__login-button {
    border: none;
    outline: none;
    color: #f94081;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #fff;
    cursor: pointer;

    &:active {
      transform: scale(1.05);
    }
  }

  &__signup-button {
    border: none;
    outline: none;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #f94081;
    cursor: pointer;

    &:active {
      transform: scale(1.05);
    }
  }

  &__menu_button {
    width: 3rem;
    position: relative;
    background-color: #333;
    height: 2px;
    margin-left: 1rem;
    transition: all 0.2s;

    &::after {
      content: "";
      position: absolute;
      top: -7px;
      left: 0rem;
      right: 0rem;
      background-color: #333;
      height: 2px;
      transition: all 0.2s;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0rem;
      right: 0rem;
      background-color: #333;
      height: 2px;
      transition: all 0.2s;
    }
  }

  &__menu_checkbox:checked + .header_mobile__menu_button {
    background-color: transparent;
  }

  &__menu_checkbox:checked + .header_mobile__menu_button::after {
    margin-top: 7px;
    transform: rotate(45deg);
    background-color: #f94081;
  }

  &__menu_checkbox:checked + .header_mobile__menu_button::before {
    margin-bottom: 7px;
    transform: rotate(-45deg);
    background-color: #f94081;
  }

  &__menu_checkbox {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    z-index: 1000;
    opacity: 0;
  }

  &__logo {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo_text {
    font-size: 2.1rem;
    font-weight: 900;
    margin-left: 0.5rem;
    color: #f94081;
    cursor: pointer;

    text-decoration: none;

    &:active {
      text-decoration: none;
      color: #f94081;
    }
  }

  &__logo_icon {
    width: 3rem;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__search-icon-container {
    font-size: 2.1rem;
    color: #555;
    padding: 1rem;
    cursor: pointer;
  }

  &__search-icon {
    // margin-top: 1rem;
    font-size: 2.5rem;
    min-width: 2.5rem;
    // &:active {
    //   transform: scale(1.1);
    // }
  }

  &__search-input-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    position: fixed;
    top: calc(7rem - 2px);
    left: 0;
    // height: 7rem;
    // border: 1px solid red;
    z-index: 499;
    background-color: #fff;
    padding: 2rem;
    transition: transform 0.3s;
    // opacity: 0;
    transform: translateY(-100%);

    &--active {
      transform: translateY(0);
    }
  }

  &__search-input-sub-container {
    display: flex;
    width: 100%;
  }

  &__search-input {
    margin-right: 2rem;
    font-size: 2rem;
    color: #333;
    border: none;
    border-bottom: 2px solid #aaa;
    border-radius: 2px;
    padding: 1rem;

    &:focus {
      border-bottom: 2px solid #f94081;
    }
    width: 80%;
  }

  &__search-button {
    flex: 1;
    border: none;
    color: #f94081;
    background-color: #fff;
    outline: none;
    border-bottom: 2px solid #aaa;

    &:active {
      transform: scale(0.99);
    }
    // padding: 0.5rem;
  }

  &__category-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    // border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-radius: 2px;
    position: relative;
    padding: 2rem 0.5rem;
    height: 50vh;
    overflow-y: auto;
  }

  &__category {
    padding: 0.2rem 0rem;
    margin: 1rem 0.5rem;
    font-size: 1.8rem;
    color: #555;
    cursor: pointer;
    // border-radius: 5rem;
    border-bottom: 1px solid transparent;
    width: 30%;
    text-align: center;
  }

  &__category-header {
    position: absolute;
    top: -4rem;
    background-color: #fff;
    left: 1rem;
    z-index: 200;
    font-size: 2rem;
    color: #555;
  }

  &__category-active {
    border: 1px solid #aaa;
    border-radius: 5rem;
  }
}

.header_mobile__menu_checkbox:checked ~ .side_bar_mobile {
  transform: translateX(0rem);
}

.side_bar_mobile {
  position: fixed;
  width: 25rem;
  top: 7rem;
  height: calc(100vh - 7rem);
  background-color: #ff427fde;
  transform: translateX(-25rem);
  padding: 3rem 0rem 3rem 2rem;

  transition: transform 0.3s;
  z-index: 100;
  margin-left: -1rem;

  &__list-container {
    list-style: none;
  }

  &__list-item {
    padding: 2rem 0rem;

    border-bottom: 1px solid #555;
  }

  &__list-item-text {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    &:active {
      color: #555;
    }
  }
}

.header__desktop {
  display: none;
  width: 100%;
  min-height: 5rem;
  border-bottom: 1px solid #ddd;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.5rem 1rem;
  z-index: 500;
  background-color: #fff;
  position: fixed;
  top: 0px;
  border-bottom: 3px solid #8e6976;

  &__logo {
    align-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 1rem;
    border-right: 1px solid #aaa;
  }

  &__logo_text {
    font-size: 1.8rem;
    font-weight: 900;
    margin-left: 0.5rem;
    color: #f94081;
    text-decoration: none;
  }

  &__logo_icon {
    width: 2.5rem;
  }

  &__search-input-container {
    display: flex;
    align-items: center;
    flex: 4;
    margin-left: 1rem;
    position: relative;
  }

  &__search-input {
    border: none;
    font-size: 1.3rem;
    // font-weight: 600;
    padding: 0.5rem 1rem;
    color: #888;
    transition: all 0.3s;
    width: 75%;
    position: absolute;
    left: 2rem;

    &:focus {
      width: 120%;

      z-index: 300;
    }
  }

  &__search-input:focus + .header__desktop__close-icon {
    opacity: 1;
    visibility: visible;
  }

  &__close-icon {
    opacity: 0;
    z-index: 301;
    color: #888;
    font-size: 1.5rem;
    position: absolute;
    right: -25%;
    transition: opacity 0.2s 0.1s;
    transition-timing-function: cubic-bezier(1, 0, 1, 0.11);
    cursor: pointer;
    visibility: hidden;
  }

  // &__search-input:focus

  &__search-icon {
    color: #888;
    font-size: 1.5rem;
  }

  &__right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__login-container {
    display: flex;
    justify-content: flex-end;
    border: 1.4px solid #b41b51;
    padding: 0.2rem 1rem;
    border-radius: 10rem;
    align-items: center;
    align-content: center;
    cursor: pointer;
    margin: 0 0.5rem;
    // box-shadow: 0.2px 0.1px 1px #7e7377;
  }

  &__singup-container {
    display: flex;
    justify-content: flex-end;
    border: 1.4px solid #f94081;
    padding: 0.2rem 1rem;
    background: #f94081;
    border-radius: 10rem;
    align-items: center;
    align-content: center;
    cursor: pointer;
    margin: 0 0.5rem;
    // box-shadow: 0.2px 0.1px 1px #7e7377;
  }

  &__login-container:hover {
  }

  &__signup-button {
    border: none;
    outline: none;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #f94081;
    cursor: pointer;
  }

  &__login-button,
  &__seller-signup-button,
  &__buyer-signup-button {
    border: none;
    outline: none;
    color: #f94081;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #fff;
    cursor: pointer;

    &:active {
      transform: scale(1.05);
    }
  }
  &__signup-button {
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #f94081;
    cursor: pointer;

    &:active {
      transform: scale(1.05);
    }
  }

  &__seller-signup-button,
  &__buyer-signup-button {
    color: #555;
    font-size: 1.1rem;
    font-weight: 400;
  }

  &__categories-container {
    position: absolute;
    top: -120%;
    width: 130%;
    background-color: #fff;
    display: none;
    flex-wrap: wrap;
    margin-top: 5rem;
    border-bottom: 1px solid #eee;
    // justify-content: space-between;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    padding: 1rem;
  }

  &__search-input:focus ~ .header__desktop__categories-container,
  .header__desktop__categories-container:active {
    display: flex;
  }

  &__category {
    margin: 0.5rem 0.5rem;
    padding: 0rem 0.5rem;
    font-size: 1.1rem;
    color: #555;
    min-width: 8rem;
    border-radius: 5rem;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: #f94081;
    }
  }

  &__category-active {
    border: 1px solid #aaa;
    color: #f94081;
  }
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #f94081;
}

::ng-deep .mat-progress-bar-buffer {
  background: #e4e8eb;
}

.mat-progress-bar {
  position: fixed;
  top: 6.8rem;
  left: 0;
  right: 0;
  z-index: 100;
}

.footer {
  &__container {
    width: 100%;
  }

  &__sub-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    background-color: #111;
    list-style: none;
    flex-wrap: wrap;
  }

  &__item {
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
  }

  &__item-text {
    font-size: 1.5rem;
    color: #ddd;
  }
}

.content {
  &__container {
    min-height: 100vh;
  }
}

@media only screen and (min-width: 600px) {
  .header_mobile {
    &__search-input-container {
    }

    &__search-input {
      padding: 1rem;
      font-size: 1.5rem;
    }

    &__search-button {
    }
  }

  .footer {
    // &__sub-container {
    //   background-color: #000;
    // }
    &__item {
      padding: 0rem;
    }

    &__item-text {
      font-size: 1.1rem;
    }
  }
}

@media only screen and (min-width: 900px) {
  .header_mobile {
    display: none;

    &__search-input-container {
      display: none;
    }
  }

  .mat-progress-bar {
    top: 5rem;
  }

  .header {
    margin-top: 0;
  }

  .header__desktop {
    display: flex;
  }
}
