<div class="content">
  <div class="content__header">
    Acitve Configuration of ManagerSpecial
  </div>

  <div class="content__body">
    <ul>
      <li class="content__item">
        <span class="label">Distance </span>
        <b
          ><span> {{ confg?.distanceKM }}</span
          >KM
        </b>
        <div class="action">
          <button
            type="submit"
            (click)="editConfig('distanceKM', confg?.distanceKM, 'Distance')"
            mat-flat-button
            color="default"
          >
            <i style="font-size: 1.8rem;" class="fad fa-edit"></i>
          </button>
        </div>
      </li>
      <li class="content__item">
        <span class="label">MSP Markup </span>
        <b
          ><i class="fad fa-percent icon"></i
          ><span> {{ confg?.talguuMarkup }}</span>
        </b>
        <div class="action">
          <button
            type="submit"
            (click)="
              editConfig('talguuMarkup', confg?.talguuMarkup, 'MSP Markup')
            "
            mat-flat-button
            color="default"
          >
            <i style="font-size: 1.8rem;" class="fad fa-edit"></i>
          </button>
        </div>
      </li>
      <li class="content__item">
        <span class="label">Normal Register Credit </span>
        <b>
          <i class="fad fa-dollar-sign icon"></i
          ><span> {{ confg?.noRefCredit }}</span>
        </b>
        <div class="action">
          <button
            type="submit"
            (click)="
              editConfig(
                'noRefCredit',
                confg?.noRefCredit,
                'Normal Register Credit'
              )
            "
            mat-flat-button
            color="default"
          >
            <i style="font-size: 1.8rem;" class="fad fa-edit"></i>
          </button>
        </div>
      </li>
      <li class="content__item">
        <span class="label">Seller Email Referrer Credit </span>
        <b>
          <i class="fad fa-dollar-sign icon"></i
          ><span> {{ confg?.sellerRefReferrerCredit }}</span>
        </b>
        <div class="action">
          <button
            type="submit"
            (click)="
              editConfig(
                'sellerRefReferrerCredit',
                confg?.sellerRefReferrerCredit,
                'Seller Email Referrer Credit '
              )
            "
            mat-flat-button
            color="default"
          >
            <i style="font-size: 1.8rem;" class="fad fa-edit"></i>
          </button>
        </div>
      </li>
      <li class="content__item">
        <span class="label">Buyer Email Referee Credit </span>
        <b
          ><i class="fad fa-dollar-sign icon"></i
          ><span> {{ confg?.buyerRefReferredCredit }}</span>
        </b>
        <div class="action">
          <button
            type="submit"
            (click)="
              editConfig(
                'buyerRefReferredCredit',
                confg?.buyerRefReferredCredit,
                'Buyer Email Referee Credit'
              )
            "
            mat-flat-button
            color="default"
          >
            <i style="font-size: 1.8rem;" class="fad fa-edit"></i>
          </button>
        </div>
      </li>
      <li class="content__item">
        <span class="label">Buyer Email Referrer Credit</span>
        <b>
          <i class="fad fa-dollar-sign icon"></i
          ><span> {{ confg?.buyerRefReferrerCredit }}</span>
        </b>
        <div class="action">
          <button
            type="submit"
            (click)="
              editConfig(
                'buyerRefReferrerCredit',
                confg?.buyerRefReferrerCredit,
                'Buyer Email Referrer Credit'
              )
            "
            mat-flat-button
            color="default"
          >
            <i style="font-size: 1.8rem;" class="fad fa-edit"></i>
          </button>
        </div>
      </li>
      <li class="content__item">
        <span class="label">Social media Referee credit</span>
        <b>
          <i class="fad fa-dollar-sign icon"></i
          ><span> {{ confg?.socialRefReferredCredit }}</span>
        </b>
        <div class="action">
          <button
            type="submit"
            (click)="
              editConfig(
                'socialRefReferredCredit',
                confg?.socialRefReferredCredit,
                'Social Reffered Credit'
              )
            "
            mat-flat-button
            color="default"
          >
            <i style="font-size: 1.8rem;" class="fad fa-edit"></i>
          </button>
        </div>
      </li>
      <li class="content__item">
        <span class="label">Social Media Refferrer Credit </span>
        <b>
          <i class="fad fa-dollar-sign icon"></i
          ><span> {{ confg?.socialRefReferrerCredit }}</span>
        </b>
        <div class="action">
          <button
            type="submit"
            (click)="
              editConfig(
                'socialRefReferrerCredit',
                confg?.socialRefReferrerCredit,
                'Social Refferrer Credit'
              )
            "
            mat-flat-button
            color="default"
          >
            <i style="font-size: 1.8rem;" class="fad fa-edit"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
