<div class="contanier">
  <div class="card" style="position: relative">
    <div
      style="
        /* width: 100%; */
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 35px;
        right: 25px;
        z-index: 100;
      "
    >
      <a
        style="
          text-decoration: none;
          color: #f94081;
          font-size: 1.4rem;
          font-weight: 600;
          /* margin-bottom: 16px; */
        "
        href="/buyer"
        >WATCH BUYER VIDEO</a
      >
    </div>
    <mat-tab-group class="card__tab" [selectedIndex]="0">
      <mat-tab>
        <ng-template mat-tab-label>
          <span style="font-weight: bold; color: #000; font-size: 1.6rem"
            >BUYER SIGN UP</span
          >
        </ng-template>
        <app-register-buyer></app-register-buyer>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
