<a *ngIf="product" (click)="navdetail(product)" class="product__container">
  <div class="product__section-top">
    <img
      class="product__image"
      src="{{ product?.imagePath }}"
      alt="Photo of a product"
    />
  </div>
  <div class="product__section-middle">
    <span class="product__name">{{ product?.name }}</span>
    <!-- <div *ngIf="product?.description" class="product__description">
      {{ product?.description }}
    </div> -->
    <div class="product__location">
      <!-- <span class="product__shop-name">
        <span class="product__arrow" *ngIf="product.shopName">&#8594;</span>
        {{ product.shopName }} ,
      </span> -->
      <span class="product__address"> {{ product.shopAddress }} ,</span>
      <span class="product__city"> {{ product.shopCity }}</span>
    </div>
  </div>
  <div class="product__section-bottom">
    <div class="product__reserve">
      <span class="product__reserve-text">
        <i class="fad fa-clock product__clock-icon"></i>
        Reserve
        {{ changeToLocal12Hours(product?.offerStartTime) }} -
        {{ changeToLocal12Hours(product?.offerEndTime) }}
      </span>
    </div>

    <div class="product__arrive">
      <span class="product__reserve-text">
        <i class="fad fa-clock product__clock-icon"></i>
        Arrive
        {{ changeToLocal12Hours(product?.pickupStartTime) }} -
        {{ changeToLocal12Hours(product?.pickupEndTime) }}
      </span>
    </div>
    <div class="product__prices">
      <span class="product__price-currency">
        4.1 <i class="fad fa-star product__clock-icon"></i>
      </span>

      <span class="product__price-original">
        {{ product?.normalPrice | currency }}
      </span>
      <span class="product__price-discount">
        <span class="product__price-separator"> &#47;</span>
        {{ product?.discountPrice | currency }}
      </span>
    </div>
  </div>
  <span
    *ngIf="checkAvailability(product?.offerStartTime, product?.offerEndTime)"
    class="product__tag-container"
  >
   RESERVE LATER
  </span>
  <!-- <span
    *ngIf="checkAvailability2(product?.offerEndTime)"
    class="product__tag-container"
  >
    Order Time Passed
  </span> -->
</a>
