.course {
  text-align: center;
  max-width: 390px;
  margin: 0 auto;
}
.table {
  min-width: 81rem;
}
.no_result {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #777;
  width: 97%;
  margin: 1rem;
  border: 1px #ddd solid;
}
// .header-align-right {
//   display: flex;
//   justify-content: flex-start;
//   padding-right: 7rem;
// }

.img {
  max-width: 8rem;
  height: 4rem;
}
// .mat-column-img {
//   flex: 0 0 11rem;
// }
.table {
  // width: 96%;
  margin: 2rem 1rem;
}
// .frmDiv {
//   padding: 15px;
// }
.course-thumbnail {
  width: 150px;
  margin: 20px auto 0 auto;
  display: block;
}

.addNewDiv {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.lessons-table {
  min-height: 360px;
  margin-top: 10px;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}
.clickCard {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mat-column-img {
  flex: 0 0 11rem;
}

.order {
  &__list-container {
    width: 100%;
    overflow-x: auto;
  }

  &__sub-list-container {
    min-width: 60rem;
  }

  &__header {
    color: #777;
    padding: 1rem;
    padding-bottom: 0rem;
    font-size: 1.8rem;
  }

  &__button {
    // font-size: 1.3rem;
    border-radius: 0rem;
    padding: 0rem 2rem;
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
  }

  &__image-button {
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

.mat-cell {
  word-break: break-word;
  &:last-child {
    padding-right: 0px;
    max-width: 7rem;
    align-self: stretch;
  }
}

.mat-header-cell {
  &:last-child {
    padding-right: 0px;
    max-width: 7rem;
  }
}
