<div class="contanier">
  <div *ngIf="showError" class="errorCntr">
    <button class="errClsBtn" (click)="close()">
      &#215;
    </button>
    <ul>
      <li *ngFor="let error of errors">
        {{ error }}
      </li>
    </ul>
  </div>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <p><strong>Password Reset</strong></p>
      <mat-form-field>
        <input
          class="input"
          matInput
          placeholder="Enter your email or username"
          formControlName="email"
          required
        />
        <mat-error
          class="input-message"
          *ngIf="resetForm.controls.email.invalid"
          >{{ getErrorMessage() }}</mat-error
        >
      </mat-form-field>
      <br />
      <br />
      <button type="submit" mat-raised-button color="accent">Continue</button>
    </div>
  </form>
  <br />
  <div>
    <p id="trmsprvsid">
      If you forget your login email, contact us at
      <a href="mailto:support@managerspecial.com?subject=Login Problem"
        >support@managerSpecial.com</a
      >.
    </p>
  </div>
</div>

<app-custom-notification
  [show]="showSuccess"
  type="success"
  callback="goBack"
  text="Password reset instructions have been sent to your account email."
>
</app-custom-notification>
