.example-container {
  font-size: 1.8rem;
  border-radius: 8px;
}

.contanier {
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  // min-height: 100vh;
  position: relative;
  padding: 2rem 3rem;
  // max-width: 60rem;
  width: 40rem;
  align-content: center;
  // align-items: center;
  margin: 0 auto;
  margin-bottom: 5rem;
  background: #fefefe;
  box-shadow: 3px 3px 7px rgba(225, 225, 225, 0.74);
}

.push {
  margin-left: auto;
  text-align: end;
}
.errorMessage {
  width: 150px;
}
.example-container > * {
  width: 100%;
}
.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
ul {
  list-style: none;
  padding-left: 0px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}
.errorCntr {
  width: 90%;
  border: 1px solid rgba(253, 89, 89, 0.74);
  padding: 1.2rem;
  margin: 2rem;
  background: #a4d3ee;
  overflow: visible;
  position: relative;
  border-radius: 1rem;
}

.errClsBtn {
  position: absolute;
  background: red;
  color: white;
  top: -10px;
  right: -10px;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 1px solid #fff;
  font-size: 1.4rem;
}
ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}
.pat {
  color: gray;
}
#trmsprvsid {
  color: gray;
  font-size: 1.4rem;
}
#trmsprvsid > a {
  text-decoration: underline;
  color: blue;
  font-size: 1.4rem;
}
#frgtpswrd > a {
  text-decoration: none;
  color: blue;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 16px;
}
.btn {
  background-color: gray;
}

.input {
  font-size: 2rem;
}

.input-message {
  font-size: 1.2rem;
}
