<app-buyer-navigation></app-buyer-navigation>
<mat-progress-bar *ngIf="progressBarActive" mode="query"></mat-progress-bar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="footer__container">
  <ul class="footer__sub-container">
    <li routerLink="/" class="footer__item">
      <span class="footer__item-text">Home</span>
    </li>
    <li routerLink="/privacy" class="footer__item">
      <span class="footer__item-text">Privacy Policy</span>
    </li>
    <li class="footer__item">
      <p class="footer__item-text">
        ManagerSpecial Copyright {{ today }}. All Rights reserved. Worldwide
        Patent Pending {{ today }}. A business unit of Live Inc. {{ version }}
      </p>
    </li>
  </ul>
</div>
<div class="email-support__button-container">
  <!-- <a href="mailto:support@managerspecial.com" class="email-support__button"
    ><i class="fad fa-envelope"></i
  ></a> -->
  <a href="mailto:support@managerspecial.com"
    ><img
      src="assets/email_Circle_pink.png"
      class="email-support__button"
      alt=""
  /></a>
</div>
