<div class="container">
  <h4>All our sales are final. Not refundable</h4>
  <p>
    We work very hard to bring you good quality products at very attractive
    prices. We have no revenue sharing with the sellers. Our work is limited to
    publishing the sellers’ prices and making the reservations for you. Once a
    discount code is generated and reservation is made on your behalf, our fee
    is earned. Our service fees are non-refundable.
  </p>
  <h4>Product Liabilities Disclosure</h4>
  <p>
    We work with many merchants in many product categories. They are independent
    businesses from us. We are not employed or controlled by them; nor are they
    employed or controlled by us. We are an agent for them as well as for you,
    our platform user. Our merchants are solely responsible for the fitness of
    their products sold to you. When necessary, you should ask them for their
    product liability insurance policies. When you reserve products from our
    platform, you agree to hold ManagerSpecial and our parent company, Live
    Inc, Live Inc’s subsidiaries, our officers, directors and associates,
    harmless and free from any liabilities, lawsuits, claims, offsets, and
    liens, from any damage caused by any product bought from our platform. In
    any event, you agree that the limit on our liability to any damages you
    suffer from a defective product purchased through Menager Special is the
    original reservation fee(s) you have paid.
  </p>
  <h2>v2020-05</h2>
</div>
