.errorCntr {
  width: 90%;
  border: 1px solid rgba(253, 89, 89, 0.74);
  padding: 1.2rem;
  margin: 1rem auto;
  background: #a4d3ee;
  overflow: visible;
  position: relative;
  border-radius: 1rem;
}

.errClsBtn {
  position: absolute;
  background: red;
  color: white;
  top: -10px;
  right: -10px;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 1px solid #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.user-request {
  width: 100%;
  padding: 1rem;
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // justify-content: center;
  // border: 1px solid #333;
  &__allow-call-phone-number {
    display: flex;
    align-items: center;
    margin: 1rem 0rem;
    margin-bottom: 7rem;
  }

  &__inputs {
    display: flex;
    // align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    margin-top: -1rem;
  }
  &__input {
    padding: 0.1rem 0.5rem;
    font-size: 1.5rem;
    color: #555;
    margin: 0.8rem;
    margin-left: 1rem;
    height: 3.2rem;

    &-req {
      flex: 3;
      min-width: 20rem;
    }
    &-phone {
      flex: 2;
      min-width: 15rem;
    }
  }
}

.mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  height: 2.5rem;
  width: 2.5rem;
}

.mat-checkbox ::ng-deep .mat-checkbox-layout {
  display: flex;
  width: 70vw;
  white-space: normal;
}

@media only screen and (min-width: 600px) {
  .user-request {
    &__allow-call-phone-number {
      margin-bottom: 1rem;
    }
  }

  .mat-checkbox ::ng-deep .mat-checkbox-layout {
    align-items: center;
  }
}
