<div *ngIf="showError" class="errorCntr">
  <button class="errClsBtn" (click)="close()">
    &#215;
  </button>
  <ul>
    <li *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</div>
<form [formGroup]="paymentForm">
  <mat-card>
    <mat-card-content>
      <div fxLayout="column">
        <div class="user-request">
          <span
            style="
              display: block;
              color: rgba(0, 0, 0, 0.54);
              font-size: 1.5rem;
              font-weight: 400;
              padding: 0.4375em 0;
              line-height: 1.125;
            "
            >Payment Amount</span
          >
          <label style="font-size: 1.5rem;">{{ orderAmount | currency }}</label>
          <div>
            <div class="user-request__allow-call-phone-number">
              <mat-checkbox
                name="allowCallPhoneNumber"
                formControlName="allowCallPhoneNumber"
                style="width: 2.5rem; height: 2.5rem;"
              >
                Allow Seller To Call Your Number If there Is Any Question About
                This Order
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="3px" style="justify-content: center;">
          <div>
            <button
              type="button"
              (click)="onSubmit()"
              mat-flat-button
              color="accent"
            >
              Pay Handling Fee Now
            </button>
          </div>

          <div>
            <button
              type="button"
              mat-flat-button
              color="accent"
              (click)="goToHome()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<app-custom-notification
  [show]="showSuccessNotification"
  type="success"
  text="You Have Succesfully Ordered The product"
  (showNotifications)="showNotification($event)"
>
</app-custom-notification>
