.decimal-input-container {
    display: flex;
    
  }
  .inputCntrlWdth {
    width: 50px;
  }
  .decimal-before-input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: left;
    width:50px;
  }
  .decimal-after-input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: right;
    width:20px;
  }
  .example-tel-input-spacer {
    opacity: 0;
    transition: opacity 200ms;
  }
  
  :host.example-floating .example-tel-input-spacer {
    opacity: 1;
  }
  