<div>
  <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div> -->
  <div fxLayout="row" fxLayoutAlign="end center" class="addNewDiv">
    <div class="staff__header-container">
      <h2 class="staff__header">Employees</h2>
      <button
        mat-raised-button
        color="accent"
        (click)="goToAddStaff()"
        title="Add your employees who will help you with reservation processing and management of ManagerSpecial.com. You can assign privileges and create individual usernames for them to use"
      >
        Add New Employee
      </button>
    </div>
  </div>
  <div class="mobile-hint">
    <i class="fad fa-info home__icon"></i>
    <div>
      Add your employees who will help you with reservation processing and
      management of ManagerSpecial.com. You can assign privileges and create
      individual usernames for them to use
    </div>
  </div>
  <div *ngIf="dataSource && dataSource?.length == 0" class="no_result">
    <span>You do not have any staff yet.</span>
  </div>
  <div class="staff__container">
    <div *ngIf="dataSource?.length > 0" class="staff__sub-container">
      <mat-table
        *ngIf="dataSource?.length > 0"
        class="mat-elevation-z2"
        [dataSource]="dataSource"
        matSort
        matSortActive="name"
        matSortDirection="asc"
        matSortDisableClear
      >
        <ng-container matColumnDef="username">
          <mat-header-cell
            class="header-align-right"
            *matHeaderCellDef
            mat-sort-header
            >Username</mat-header-cell
          >

          <mat-cell *matCellDef="let staff">{{ staff.username }}</mat-cell>
        </ng-container>

        <ng-container class="header-align-right" matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>

          <mat-cell *matCellDef="let staff">{{ staff.email }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="firstName">
          <mat-header-cell class="header-align-right" *matHeaderCellDef
            >First Name</mat-header-cell
          >

          <mat-cell *matCellDef="let staff">{{ staff.firstName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <mat-header-cell class="header-align-right" *matHeaderCellDef
            >LastName</mat-header-cell
          >

          <mat-cell *matCellDef="let staff">{{ staff.lastName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
          <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>

          <mat-cell *matCellDef="let staff">{{ staff.phoneNumber }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell class="header-align-right" *matHeaderCellDef
            >Employee Status</mat-header-cell
          >

          <mat-cell
            [class.staff_status--active]="staff.staff_status == 'ACTIVE'"
            [class.staff_status--suspended]="staff.staff_status == 'SUSPENDED'"
            [class.staff_status--removed]="staff.staff_status == 'REMOVED'"
            *matCellDef="let staff"
            >{{ staff.staff_status }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <mat-header-cell *matHeaderCellDef></mat-header-cell>

          <mat-cell *matCellDef="let staff"
            ><button mat-icon-button [matMenuTriggerFor]="menu">
              <i class="fad fa-ellipsis-v table__icon"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="manageStaff(staff.id)">
                <i class="fad fa-edit table__icon"></i>
                <span>Manage Access</span>
              </button>
              <!-- <button mat-menu-item (click)="editStaff(staff.id)">
                <i class="fad fa-edit table__icon"></i>
                <span>Edit</span>
              </button> -->
              <button
                *ngIf="
                  staff.staff_status != 'ACTIVE' &&
                  staff.staff_status != 'INVITED'
                "
                mat-menu-item
                (click)="updateStaff(staff.id, 'ACTIVE')"
              >
                <i class="fad fa-check table__icon"></i>
                <span>ACTIVATE</span>
              </button>

              <button
                *ngIf="
                  staff.staff_status != 'SUSPENDED' &&
                  staff.staff_status != 'INVITED'
                "
                mat-menu-item
                (click)="updateStaff(staff.id, 'SUSPENDED')"
              >
                <i class="fad fa-lock-alt table__icon"></i>
                <span>Suspend</span>
              </button>
              <button
                *ngIf="
                  staff.staff_status != 'REMOVED' &&
                  staff.staff_status != 'INVITED'
                "
                mat-menu-item
                (click)="deleteStaff(staff.id, 'REMOVED')"
              >
                <i class="fad fa-trash-alt table__icon"></i>
                <span>Remove</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
        [length]="count"
        [pageSize]="5"
        (page)="getServerData($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
