.spaceNext {
  padding-top: 20px;
}
.spaceLeft {
  margin-left: 20px;
}
.table {
  padding: 2rem;
  width: 100%;
  &_header {
    font-weight: 700;
  }
}

.zipstatecity {
  width: 120px;
}
.itmPriceNw {
  font-size: 18px;
  font-weight: bold;
  color: #ff4081;
}
.quantityW {
  width: 70px;
}
.ordcls {
  border-bottom: 2px dashed black;
}

.container {
  margin: 1rem 2rem;
  .description {
    font-size: 1.4rem;
  }
  .card {
    margin: 1rem;

    td,
    p {
      font-size: 1.5rem;
    }
  }
  &__header {
    color: #666;
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  .balance {
    display: flex;
    justify-content: center;
    width: 26rem;
    align-items: center;
    background: #f2f2f2;
    border-radius: 1rem;
    // border:1px rgb(231, 21, 73) solid;
    &__header {
      font-size: 1.5rem;

      &__value {
        font-size: 1.5rem;
        font-weight: 700;
        padding-left: 1rem;
      }
    }

    &__icon {
      width: 3rem;
      height: 100%;
      background: #f43f81;
      position: absolute;
      left: 0;
      border-radius: 1rem 0rem 0rem 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: white;
    }
  }
}

body {
  overflow-x: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: flex-start;
}

@media only screen and (min-width: 732px) {
  .card {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .card {
    width: 100%;
  }
}
