<div class="container">
  <mat-card class="orders">
    <h2 class="orders__header">Reservation Detail</h2>
    <div class="orders___card"></div>
  </mat-card>

  <mat-card class="orders">
    <h2 class="orders__headers">Seller</h2>
    <div class="orders__content">
      <ul>
        <li>
          <span class="name">
            <i class="fad fa-user table__icon"></i>
            <span class="name"> {{ supplier.name }} </span>
          </span>
          <span class="name">
            <i class="fad fa-phone-alt table__icon"></i>
            <span class="name">
              {{ phoneChangeFormat(supplier.phoneNumber, "form") }}
            </span>
          </span>
          <span class="name">
            <i class="fad fa-location table__icon"></i>
            <span class="name"> {{ supplier.address }} </span>
          </span>
          <span class="name">
            <i class="fad fa-link table__icon"></i>
            <span class="name"> {{ supplier.website }} </span>
          </span>
        </li>
      </ul>
    </div>
  </mat-card>

  <mat-card class="orders">
    <h2 class="orders__headers">Order</h2>

    <div class="orders__content">
      <ul>
        <li>
          <span class="name">
            <i class="fad fa-list-ul table__icon"></i>
            <span class="name">
              <b>Product Name : </b> {{ order.product.name }}
            </span>
          </span>
          <span class="name">
            <i class="fad fa-stopwatch table__icon"></i>
            <span class="name">
              <b>Reservation Date :</b>
              {{ order.purchaseTime | date: "MMM d, y" }}
            </span>
          </span>
          <span class="name">
            <i class="fad fa-sack-dollar table__icon"></i>
            <span class="name">
              <b> Unit Price :</b> {{ order.product.discountPrice | currency }}
            </span>
          </span>
          <span class="name">
            <i class="fad fa-tag table__icon"></i>
            <span class="name"> <b> Quantity : </b> {{ order.quantity }} </span>
          </span>

          <span class="name">
            <i class="fad fa-check table__icon"></i>
            <span class="name">
              <b> Total : </b>
              {{ order.quantity * order.product.discountPrice | currency }}
            </span>
          </span>
          <span class="name">
            <i class="fad fa-stopwatch table__icon"></i>
            <span class="name">
              <b>Services</b> From:
              {{ order.pickupStartTime | date: "MMM d, h:mm a" }}
              - To:
              {{ order.pickupEndTime | date: "MMM d, h:mm a" }}
            </span>
          </span>
        </li>
      </ul>
    </div>
    <mat-card-actions>
      <button
        type="button"
        mat-flat-button
        color="accent"
        (click)="gotoBuyerTrans()"
      >
        <i class="fad fa-chevron-left"></i> &nbsp;Back
      </button>
    </mat-card-actions>
  </mat-card>
</div>
