<header class="navigation">
  <div class="navigation__divider"></div>
  <div class="navigation__container">
    <div class="header_mobile">
      <div>
        <input
          #drawerCheckbox
          type="checkbox"
          class="header_mobile__menu_checkbox"
        />
        <div class="header_mobile__menu_button"></div>
        <div class="side_bar_mobile">
          <ul class="side_bar_mobile__list-container">
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: true }"
                class="side_bar_mobile__item-text"
                ><i class="far fa-chart-bar navigation__item-icon"></i>
                Dashboard
              </a>
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./trnsctns"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="far fa-envelope-open navigation__item-icon"></i
                >Order</a
              >
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./prdcts"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="far fa-clone side_bar_mobile__item-icon"></i
                >Product</a
              >
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./shops"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="far fa-map side_bar_mobile__item-icon"></i>Store
              </a>
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./gallery"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="far fa-images side_bar_mobile__item-icon"></i>
                Gallery</a
              >
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./staffs"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="far fa-sun side_bar_mobile__item-icon"></i> Staff</a
              >
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                (click)="logout()"
                class="side_bar_mobile__item-text side_bar_mobile__logout"
              >
                <i class="far fa-user side_bar_mobile__item-icon"></i>Log Out
                ({{ name }})</a
              >
            </li>
          </ul>
        </div>
      </div>
      <img
        routerLink="./"
        src="favicon.ico"
        alt="Logo"
        class="navigation__header-image"
      />
      <a routerLink="./" class="navigation__header-text">Manager Special</a>
    </div>
    <div routerLink="/" class="navigation__header-container">
      <img src="favicon.ico" alt="Logo" class="navigation__header-image" />
    </div>
    <ul class="navigation__sub-container">
      <li class="navigation__item svg-wrapper">
        <a
          routerLink="./"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navigation__item-text"
          ><i class="far fa-chart-bar navigation__item-icon"></i> Dashboard
        </a>
      </li>
      <li class="navigation__item">
        <a
          routerLink="./trnsctns"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-envelope-open navigation__item-icon"></i>Order</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./prdcts"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-clone navigation__item-icon"></i>Product</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./shops"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-map navigation__item-icon"></i>Store
        </a>
      </li>
      <li class="navigation__item">
        <a
          routerLink="./gallery"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-images navigation__item-icon"></i> Gallery</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./staffs"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-sun navigation__item-icon"></i> Staff</a
        >
      </li>
      <li class="navigation__item">
        <a (click)="logout()" class="navigation__item-text navigation__logout">
          <i class="far fa-user navigation__item-icon"></i>Log Out ({{
            name
          }})</a
        >
      </li>
    </ul>
  </div>
  <div class="navigation__divider navigation__divider-middle"></div>
  <div class="navigation__mobile-container">
    <ul class="navigation__mobile-sub-container">
      <li class="navigation__item svg-wrapper">
        <a
          routerLink="./"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navigation__item-text"
          ><i class="far fa-chart-bar navigation__item-icon"></i> Dashboard
        </a>
      </li>
      <li class="navigation__item">
        <a
          routerLink="./trnsctns"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-envelope-open navigation__item-icon"></i>Order</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./prdcts"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="far fa-clone navigation__item-icon"></i>Product</a
        >
      </li>
    </ul>
  </div>
  <div class="navigation__divider navigation__divider-bottom"></div>
</header>
