<header class="navigation">
  <!-- <div class="navigation__divider"></div> -->
  <div class="navigation__container">
    <div class="header_mobile">
      <div>
        <input
          #drawerCheckbox
          type="checkbox"
          class="header_mobile__menu_checkbox"
        />
        <div class="header_mobile__menu_button"></div>
        <div class="side_bar_mobile">
          <ul class="side_bar_mobile__list-container">
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: true }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-chart-bar navigation__item-icon"></i>
                Dashboard
              </a>
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./trnsctns"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-envelope-open navigation__item-icon"></i
                >Reservations</a
              >
            </li>

            <li
              (click)="drawerLinkClicked()"
              class="side_bar_mobile__item"
              style="min-width: 13rem;"
            >
              <a
                routerLink="./trnscts/process"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-envelope-open navigation__item-icon"></i
                >Process Code</a
              >
            </li>

            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./prdcts"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-clone side_bar_mobile__item-icon"></i
                >Products</a
              >
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./shops"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-map side_bar_mobile__item-icon"></i>Stores
              </a>
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./gallery"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                [class.not-active]="checkHaveAccess('gallery')"
                ><i class="fad fa-images side_bar_mobile__item-icon"></i>
                Gallery</a
              >
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./staffs"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-sun side_bar_mobile__item-icon"></i>
                Employee</a
              >
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                routerLink="./profile"
                [routerLinkActive]="['active-route']"
                [routerLinkActiveOptions]="{ exact: false }"
                class="side_bar_mobile__item-text"
                ><i class="fad fa-address-card side_bar_mobile__item-icon"></i>
                Profile</a
              >
            </li>
            <li (click)="drawerLinkClicked()" class="side_bar_mobile__item">
              <a
                (click)="logout()"
                class="side_bar_mobile__item-text side_bar_mobile__logout"
              >
                <i class="fad fa-user side_bar_mobile__item-icon"></i>Sign Out
                ({{ name }})</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- <img
        routerLink="./"
        src="favicon.ico"
        alt="Logo"
        class="navigation__header-image"
      /> -->
      <a routerLink="./" class="navigation__header-text">ManagerSpecial</a>
    </div>
    <div routerLink="/" class="navigation__header-container">
      <div class="navigation__sub-header-container">
        <!-- <img
          routerLink="./"
          src="favicon.ico"
          alt="Logo"
          class="navigation__desktop-header-image"
        /> -->
        <a routerLink="./" class="navigation__desktop-header-text"
          >ManagerSpecial</a
        >
      </div>
      <div>
        <span class="navigation__item">
          <a
            (click)="logout()"
            class="navigation__item-text navigation__logout"
          >
            <i class="fad fa-user navigation__item-icon"></i>Sign Out ({{
              name
            }})</a
          >
        </span>
      </div>
    </div>
    <ul class="navigation__sub-container">
      <li class="navigation__item svg-wrapper">
        <a
          routerLink="./"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navigation__item-text"
          [class.not-active]="
            role == 'SELLER_STAFF' && !checkHaveAccess('View Summary')
          "
          ><i class="fad fa-chart-bar navigation__item-icon"></i> Dashboard
        </a>
      </li>
      <li class="navigation__item">
        <a
          routerLink="./trnsctns"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          [class.not-active]="
            role == 'SELLER_STAFF' && !checkHaveAccess('Manage Order')
          "
          ><i class="fad fa-envelope-open navigation__item-icon"></i
          >Reservations</a
        >
      </li>
      <li class="navigation__item" style="min-width: 13rem;">
        <a
          routerLink="./trnscts/process"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          [class.not-active]="
            role == 'SELLER_STAFF' && !checkHaveAccess('Manage Order')
          "
          ><i class="fad fa-envelope-open navigation__item-icon"></i>Process
          Code</a
        >
      </li>

      <li class="navigation__item">
        <a
          routerLink="./prdcts"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          [class.not-active]="
            role == 'SELLER_STAFF' && !checkHaveAccess('View Products')
          "
          ><i class="fad fa-clone navigation__item-icon"></i>Products</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./shops"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          [class.not-active]="
            role == 'SELLER_STAFF' && !checkHaveAccess('Manage Shop')
          "
          ><i class="fad fa-map navigation__item-icon"></i>Stores
        </a>
      </li>
      <li class="navigation__item">
        <a
          routerLink="./gallery"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          [class.not-active]="
            role == 'SELLER_STAFF' && !checkHaveAccess('Manage Gallery')
          "
          ><i class="fad fa-images navigation__item-icon"></i> Gallery</a
        >
      </li>
      <li *ngIf="role != 'SELLER_STAFF'" class="navigation__item">
        <a
          routerLink="./staffs"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          [class.not-active]="role == 'SELLER_STAFF'"
          ><i class="fad fa-sun navigation__item-icon"></i> Employees</a
        >
      </li>
      <li *ngIf="role != 'SELLER_STAFF'" class="navigation__item">
        <a
          routerLink="./profile"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="fad fa-address-card navigation__item-icon"></i> Profile</a
        >
      </li>
    </ul>
  </div>
  <div class="navigation__divider navigation__divider-middle"></div>
  <div class="navigation__mobile-container">
    <ul class="navigation__mobile-sub-container">
      <li class="navigation__item svg-wrapper">
        <a
          routerLink="./"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="navigation__item-text"
          ><i class="fad fa-chart-bar navigation__item-icon"></i> Dashboard
        </a>
      </li>
      <li class="navigation__item" style="min-width: 13rem;">
        <a
          routerLink="./trnscts/process"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
        >
          <!-- <i class="fad fa-envelope-open navigation__item-icon"></i> -->
          Process Code</a
        >
      </li>
      <li class="navigation__item">
        <a
          routerLink="./prdcts"
          [routerLinkActive]="['active-route']"
          [routerLinkActiveOptions]="{ exact: false }"
          class="navigation__item-text"
          ><i class="fad fa-clone navigation__item-icon"></i>Products</a
        >
      </li>
    </ul>
  </div>
  <div class="navigation__divider navigation__divider-bottom"></div>
</header>
