<div>
     
  <div >
    <div class="center" fxLayout="row" fxFlexAlign="center" fxLayoutGap="7px">
      <div class="offerTitle" fxFlexAlign="center">UTC TIME: </div>
      <mat-form-field >
        <input matInput  [value]="utcTime"#box >
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="searchUTC(box.value)">search</button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div  fxLayout="column"  fxLayoutAlign="center center">
<div  class="example-viewport">
<div *ngFor="let product of products" >
    <app-utc-product  [product]="product" [utcTime]="utcTime" ></app-utc-product>
</div>
</div>
<!-- <div #anchor class="loader-container" [class.hide-loader]="reachedPageEnd"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div> -->
<div id='xyze12' #anchor >
  
</div>
<div style="min-height: 100px; width: 100%"></div>
</div>

<div  class="footer">
<button (click)="gotoCart()" mat-fab color="accent"><mat-icon>shopping_cart</mat-icon>
    <span>Cart</span></button>
</div>