.dateCtrl {
  width: 115px;
}
td {
  padding-left: 10px;
}
.example-card {
  padding-left: 0px;
}

.dashboard {
  padding: 0rem;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__right {
    flex: 2;
  }

  &__left {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    // width: 40%;
    padding: 0.5rem;
    // border: 1px solid #eee;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 15rem;
    min-height: 15rem;
    margin: 3rem 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 150px;
  }

  &__item-text {
    max-width: 8rem;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: #555;
  }

  &__item-value {
    font-size: 2.8rem;
    color: #888;
  }

  &__item-revenue {
    font-size: 2.2rem;
  }

  &__item-percentage {
    font-size: 1.4rem;
    color: #f94081;
  }

  &__item-circle {
    position: absolute;
  }

  &__circle {
    stroke: #f94081;
    fill: #aaa2;
  }

  &__header {
    color: #777;
    padding: 1rem;
    padding-bottom: 0rem;
    font-size: 2.2rem;
  }

  &__button {
    border-radius: 0rem;
    padding: 0rem 2rem;
  }

  &__date-range-button {
    border-radius: 0rem;
    padding: 0rem 2rem;
    width: 24rem;
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    margin-bottom: 2rem;
  }

  &__date-range {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97%;
    margin: 0rem 1rem;
  }

  &__date-range-text {
    font-size: 1.6rem;
    color: #555;
  }

  &__date-input {
    margin: 0.5rem 1.5rem;
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 650px) {
  .dashboard {
    &__item {
      margin: 1rem;
    }

    &__item-text {
      font-size: 1.1rem;
    }

    &__item-value {
      font-size: 2.5rem;
      color: #888;
    }

    &__item-revenue {
      font-size: 1.8rem;
    }

    &__item-percentage {
      font-size: 1rem;
    }

    &__header {
      font-size: 1.8rem;
    }

    &__date-range {
      flex-direction: row;
    }

    &__date-range-text {
      font-size: 1.4rem;
    }

    &__date-input {
      font-size: 1.4rem;
    }

    &__date-range-button {
      width: auto;
    }
  }
}
