<div *ngIf="responseRecived">
  <!-- <p *ngIf="isOk()"><strong>Order</strong></p> -->
  <mat-dialog-content class="mat-typograpdhy">
    <div *ngIf="data.success" class="content">
      <P class="info_name">{{ data.firstName }} {{ data.lastName }}</P>
      <p class="pro_name">
        {{ data.productName }}
        <span
          [style.background]="
            data.status == 'OK'
              ? 'green'
              : data.status == 'PENDING'
              ? 'orange'
              : 'red'
          "
          class="status"
        >
          {{ data.status == "OK" ? "ACTIVE" : data.status }}
        </span>
      </p>
      <p class="content">Quantity: {{ data.quantity }}</p>
      <p class="content">
        Discounted Price: {{ data.discountPrice | currency }}/unit + Tax
      </p>
      <p class="content-italic">
        {{ data.status == "PENDING" ? "Pick Up time has not arrived" : "" }}
      </p>
    </div>
    <div *ngIf="!data.success">
      <strong>Don't process this order.</strong>
      <P>{{ data.message }}</P>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button *ngIf="isOk()" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      Process Reservation Now
    </button>
  </mat-dialog-actions>
</div>
