<div class="features__main-container">
  <div class="features__header">Select Features to Give Access</div>

  <div class="features__container">
    <div class="features__sub-catagories">
      <h4 class="features__sub-header">Manage Products</h4>
      <div class="features__sub-container">
        <div *ngFor="let feature of products" class="features__feature">
          <mat-checkbox
            (click)="updateUser(feature.description, feature.id)"
            [checked]="checkIncludes(feature.description)"
            class="features__feature-text"
          >
            {{ feature?.description }}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="features__sub-catagories">
      <h4 class="features__sub-header">Other Features</h4>
      <div class="features__sub-container">
        <div *ngFor="let feature of other_features" class="features__feature">
          <mat-checkbox
            (click)="updateUser(feature.description, feature.id)"
            [checked]="checkIncludes(feature.description)"
            class="features__feature-text"
          >
            {{ feature?.description }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div (click)="goBack()" class="features__done">Done</div>
</div>
