<div class="main__container">
  <div fxLayout="row" fxLayoutAlign="end center" class="addNewDiv">
    <div class="gallery__header-container">
      <h2 class="gallery__header">Gallery</h2>
      <button mat-raised-button color="accent" (click)="gotoUploadPage()">
        Add Image
      </button>
    </div>
  </div>
  <br />

  <div *ngIf="pictures && pictures.length > 0" class="gallery__container">
    <div class="gallery__item" *ngFor="let picture of pictures">
      <span (click)="delete(picture)" class="gallery__delete">Delete</span>
      <div class="gallery__image-container">
        <img class="gallery__image" [src]="picture.file" alt="Cinque Terre" />
      </div>
      <div class="gallery__text">{{ picture.name }}</div>
    </div>
  </div>
  <div *ngIf="pictures.length == 0" class="no_result">
    You don't have any picture yet!
  </div>
</div>
