<form
  *ngIf="showForm()"
  [formGroup]="shopForm"
  class="add-shop__container"
  (ngSubmit)="onSubmit()"
>
  <mat-card class="card">
    <mat-card-title>Edit store location</mat-card-title>
    <div *ngIf="showError" class="errorCntr">
      <button class="errClsBtn" (click)="close()">
        &#215;
      </button>
      <ul>
        <li *ngFor="let error of errors">
          {{ error }}
        </li>
      </ul>
    </div>
    <mat-card-content>
      <div fxLayout="column" class="frmDiv">
        <mat-form-field hintLabel="Min 2 characters">
          <input
            matInput
            minlength="2"
            placeholder="Store name at this location"
            formControlName="shopName"
            required
            maxlength="50"
            [value]="shop.name"
          />
          <mat-error *ngIf="shopForm.controls.shopName.invalid"
            >Shop name should be at least two characters.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Contact person"
            formControlName="contact"
            [value]="shop.contact"
            maxlength="45"
            required
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Phone Number</mat-label>
          <span style="color: #555;" matPrefix>+1&nbsp;</span>
          <input
            type="text"
            matInput
            placeholder="000-000-0000"
            required
            maxlength="14"
            formControlName="telephone"
            (paste)="preventPaste($event)"
            (change)="phoneNumberChangeEvent($event)"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Address"
            formControlName="address"
            [value]="shop.address"
            maxlength="50"
            required
          />
        </mat-form-field>
        <div class="add-shop__address">
          <mat-form-field class="add-shop__input zipstatecity">
            <input
              matInput
              placeholder="City"
              formControlName="city"
              required
              [value]="shop.city"
              maxlength="30"
              required
            />
          </mat-form-field>
          <mat-form-field class="add-shop__input zipstatecity">
            <input
              matInput
              type="tel"
              placeholder="Zip / Postal Code"
              matInput
              [matAutocomplete]="auto"
              formControlName="zipCode"
              (keydown)="checkInput($event)"
              (change)="
                shopForm.controls['zipCode'].setValue($event.target.value)
              "
              minlength="5"
              maxlength="5"
              required
            />
            <mat-error *ngIf="shopForm.controls.zipCode.invalid"
              >Zip code is not valid</mat-error
            >
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let result of zipCodeHints"
                [value]="result.ZIPCode"
                (click)="zipCodeSelected(result)"
              >
                <span>{{ result.ZIPCode }}</span>
                <small>
                  | {{ result.CountyName }} {{ result.CityName }}
                  {{ result.StateAbbr }}</small
                >
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field
            *ngIf="shopForm.get('state').value"
            class="add-shop__input zipstatecity"
          >
            <mat-select
              placeholder="State"
              formControlName="state"
              [(ngModel)]="shop.stateId"
              required
              disabled
            >
              <mat-option *ngFor="let state of states" [value]="state.id">
                {{ state.abbreviation }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="add-shop__actions">
        <button mat-flat-button color="accent">
          Save
        </button>
        <button mat-flat-button color="accent" (click)="gotoShopList()">
          Cancel
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
<div *ngIf="!showForm()">
  <p>
    Sorry, your account is either inactive or disabled.Please contact
    sales@ManagerSpecial.com.
  </p>
</div>
