<div class="container">
  <mat-card class="orders">
    <h2 class="orders__header">{{ seller.companyName }}</h2>
    <div class="orders___card"></div>
  </mat-card>

  <mat-card class="orders">
    <h2 class="orders__headers">Basic Information</h2>
    <div class="orders__content">
      <ul>
        <li>
          <span class="name">
            <i class="fad fa-user table__icon"></i>
            <span class="name">
              {{ seller.firstName + " " + seller.lastName }}
            </span>
          </span>
          <span class="name">
            <i class="fad fa-phone-alt table__icon"></i>
            <span class="name"> {{ seller.phoneNumber }} </span>
          </span>
          <span class="name">
            <i class="fad fa-location table__icon"></i>
            <span class="name"> {{ seller.companyAddress }} </span>
          </span>
          <span class="name">
            <i class="fad fa-link table__icon"></i>
            <span class="name"> {{ seller.websiteURL }} </span>
          </span>
        </li>
      </ul>
    </div>
  </mat-card>

  <mat-card class="orders">
    <h2 class="orders__headers">More Detail</h2>

    <div class="orders__content">
      <ul>
        <li>
          <span class="name">
            <i class="fad fa-envelope-square table__icon"></i>
            <span class="name"> <b>Email : </b> {{ seller.email }} </span>
          </span>
          <span class="name">
            <i class="fad fa-stopwatch table__icon"></i>
            <span class="name">
              <b>Registred at :</b> {{ seller.createdAt | date: "medium" }}
            </span>
          </span>

          <span class="name">
            <ul>
              <b>Locations </b>
              <li>
                <span class="name">
                  <i class="fad fa-location table__icon"></i>
                  <span class="name"> <b>City : </b> {{ seller.city }} </span>
                </span>
                <span class="name">
                  <i class="fad fa-location table__icon"></i>
                  <span class="name"> <b>State :</b> {{ seller.state }}</span>
                </span>
                <span class="name">
                  <i class="fad fa-location table__icon"></i>
                  <span class="name">
                    <b>Zipcode :</b> {{ seller.zipcode }}</span
                  >
                </span>
              </li>
            </ul>
          </span>
        </li>
      </ul>
    </div>
    <mat-card-actions>
      <button
        type="button"
        mat-flat-button
        color="accent"
        (click)="gotoSeller()"
      >
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</div>
