$container-size: 3.5rem;
$check-height: $container-size/2;
$check-width: $check-height/2;
$success-color: #50e83e;
$error-color: #ff0000;

@import "./assets/font_awesome/css/all.css";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  &:focus {
    outline: none;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 45%; //10px
}

.table__icon {
  font-size: 1.6rem;
  margin-right: 1rem;
  color: #bb1e55;
}

.table__icon-2 {
  font-size: 1.3rem;
  margin-right: 1rem;
  color: #bb1e55;
  font-size: 2rem;
}

::ng-deep .mat-dialog-content {
  font-size: 1.4rem;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 60%;
  }

  .table__icon {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 801px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (min-width: 950px) {
  html {
    font-size: 80%;
  }
}

@keyframes popOut {
  0% {
    transform: translate(-40%, 200%);
    visibility: hidden;
  }
  10% {
    transform: translate(-40%, 0%);
    opacity: 1;
    visibility: visible;
  }
  85% {
    transform: translate(-40%, 0%);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translate(-40%, 200%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  2% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  5% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}

@keyframes cross-left {
  0% {
    opacity: 0;
    height: 0;
  }

  2% {
    opacity: 1;
    height: $check-height;
  }

  100% {
    opacity: 1;
    height: $check-height;
  }
}

@keyframes cross-right {
  0% {
    opacity: 0;
    height: 0;
  }

  2% {
    opacity: 1;
    height: $check-height;
  }

  100% {
    opacity: 1;
    height: $check-height;
  }
}

.msp-button {
  border-radius: 0rem !important;
}

.email-support {
  &__button-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.5rem;
    right: 1rem;
    z-index: 1000;
    width: 4.5rem;
    height: 4.5rem;
    // width: 5rem;
    // height: 5rem;
    // border-radius: 5rem;
    // border: 3px solid #cf1253;
    // padding: 0.25rem;
    // background-color: #fff;
    &:active,
    &:hover {
      transform: scale(0.95);
    }
  }

  &__button {
    // padding: 6px 12px;
    // color: #fff;
    // font-weight: 600;
    // font-size: 2.5rem;
    // background-color: #cf1253;
    // text-decoration: none;
    // text-transform: uppercase;
    // transition: 0.2s;

    width: 100%;
    height: 100%;
    // border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
