

<div *ngIf="showError" id="errorCntr">
  <button id="errClsBtn" (click)="close()">
    X
  </button>
  <ul>
    <li *ngFor="let error of errors">
      {{error}}
    </li>

  </ul>
</div>
<div class="container">
  <mat-card class="card">
    <div class="card__tab">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field hintLabel="min 2 characters" class="example-full-width">
                  <input matInput #frName minlength="2" maxlength="20" placeholder="First Name"
                    formControlName="firstName" required>
                  <mat-error *ngIf="registrationForm.controls.firstName.invalid">No more than 20 characters.</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field hintLabel="min 2 characters" class="example-full-width">
                  <input matInput minlength="2" maxlength="20" placeholder="Last Name" formControlName="lastName"
                    required>
                  <mat-error *ngIf="registrationForm.controls.lastName.invalid">No more than 20 characters.</mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <mat-form-field hintLabel="max 32 characters">
            <input matInput placeholder="Company" maxlength="32" formControlName="companyName" required>
          </mat-form-field>
          <mat-form-field class="example-full-width" hintLabel="max 15 numbers">
            <input type="tel" matInput placeholder="Telephone" maxlength="15" formControlName="phoneNumber">
          </mat-form-field>
          <mat-form-field hintLabel="max 120 characters">
            <input matInput placeholder="Address" maxlength="120" formControlName="address" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Website Address" maxlength="50" formControlName="websiteURL" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter your email" formControlName="email" required>
            <mat-error *ngIf="registrationForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field hintLabel="min 2 characters and max 12 characters">
            <input matInput placeholder="Enter your password" minlength="2" maxlength="12" formControlName="password"
              [type]="hide ? 'password' : 'text'" required>
            <mat-error *ngIf="registrationForm.controls.password.invalid">No more than 12 characters.</mat-error>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <br>
          <br>
          <div>
            <mat-checkbox formControlName="agreed">I have read and agreed to the <a
                href="./Terms-of-Use-for-Sellers.html">
                Seller's Terms of Use</a><br> and the <a href="./Manager-Special-Privacy-Policy-Seller.html">Privacy
                Statement.</a></mat-checkbox>
          </div>
          <br>
          <br>

          <button type="submit" mat-raised-button color="accent">Sign Up</button>
        </div>
      </form>
    </div>
  </mat-card>

</div>