<p *ngIf="isOk()"> <strong>Ask Buyer to examine product carefully
  and press Accept/Reject button on Buyer's phone
  before leaving.</strong></p>

<mat-dialog-content class="mat-typography">
  <div *ngIf="data.success">
  <P>Buyer Name: {{ data.firstName}} {{data.lastName}}</P>
  <p>Product: {{data.productName}}</p>
  <p>Quantity: {{data.quantity}}</p>
  <p>Status: {{data.status}}</p>
</div>
<div *ngIf="!data.success">
  <strong>Don't process this order.</strong>
    <P>{{data.message}}</P>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button *ngIf="isOk()" mat-button [mat-dialog-close]="true" cdkFocusInitial>
    Process Reservation Now
  </button>
</mat-dialog-actions>
