<div class="confirm__container">
  <div class="heading">Confirm Code</div>
  <div *ngIf="error" class="errorCntr">
    <button class="errClsBtn" (click)="close()">&#215;</button>
    <ul>
      <li style="text-align: center">
        {{ error }}
      </li>
    </ul>
  </div>
  <form class="confirm__form" [formGroup]="confirmCode" style="margin: 2rem 0rem">
    <div class="confirm__info">
      Please check your phone for a text message with your code.Your code is 5 characters long
    </div>
    <div *ngIf="message" class="confirm__message">
      {{ message }}
    </div>
    <mat-form-field class="confirm__input">
      <mat-label>Confirm Code</mat-label>
      <input type="number" matInput placeholder="Enter Code" formControlName="code" required />
    </mat-form-field>
    <div>
      <button class="confirm__button" mat-flat-button color="accent" (click)="goBack()">
        Cancel
      </button>
      <button
        class="confirm__button"
        mat-flat-button
        color="accent"
        [disabled]="!confirmCode.valid"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
    <div class="confirm__resend-link">
      <a
        >Didn't get a code?
        <span class="confirm__resend-text" (click)="resend()"> Resend. </span>
      </a>
    </div>
  </form>
</div>
<app-custom-notification
  [show]="showSuccessNotification"
  type="success"
  [text]="successMessage"
  callback="goBack"
>
</app-custom-notification>
